.card {
  box-shadow: 0px 0px 8px lightgrey;
  width: 30em;
}
.logo-img{
  height: 2.5rem;
}
.right-bottom {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.left-bottom{
  position: absolute;
  bottom: 0;
}
.power-by-tx{
  color: gray;
  font-size: 12px !important;
}
