<div>
    <div class="mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                <li class="breadcrumb-item">Privacy</li>
                <li class="breadcrumb-item">Data Subject Access Request</li>
                <li class="breadcrumb-item active" aria-current="page">Web Forms</li>
            </ol>
        </nav>
    </div>

    <div class="table-responsive">
        <div class="card"> 
            <div class="card-header d-flex">
                <span class="tx-12 tx-color-03 mg-b-0">
                    <h6 class="mg-b-0">DSAR Forms</h6>
                    Data Subject Requests (DSR) Forms
                </span>
                <div class="d-flex ml-auto pd-0">
                    <button (click)="navigateToDSARForm()" class="btn btn-sm btn-uppercase btn-outline-secondary" style="text-transform: none;font-size: 12px;">
                        <i-feather class="feather-16" name="plus"></i-feather>
                        <span class="d-none d-sm-inline mg-l-5">
                            Create</span>
                    </button>
                </div>

            </div>
            <div class="card-body">
                <div *ngIf="dataLoadingMsg">{{dataLoadingMsg}}</div>
                    <app-customcards [dataList]="formList" [currentOrganization]="currentOrganization" 
                    [currentPropertyName]="currentPropertyName" (onClickViewForm)="showForm($event)" (onDeleteWebForm)="removeWebForm($event,'web form')"></app-customcards>
                    <div class="pagination-wrapper tx-color-03" *ngIf="formList.length !== 0">
                    <div class="form-inline align-item-start">
                        <div class="form-group pr-0">
                            <select id="numofRecords" class="form-control" name="numofRecords" [(ngModel)]="numofRecords"
                            (change)="onPagesizeChangeEvent($event)">
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>
                        </div>
                    </div>
                    <app-custompagination [totalRecords]="totalRecordsAvailable" [recordsPerPage]="numofRecords" (onPageChange)="displayActivePage($event)"></app-custompagination>
                    Showing {{fromNumbers}} to {{toNumbers}} of {{totalRecordsAvailable}}
                    </div>
            </div>
        </div>
    </div>

</div>
<ng-template #confirmTemplate let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Are you absolutely sure?</h5>
        <button type="button" class="close" (click)="cancelModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>This will delete selected <span class="font-weight-bold"> {{showControlContent()}} </span>{{controlname}}</p>
        <p>Please type <strong>'Delete'</strong> to confirm</p>

        <form [formGroup]="confirmationForm" (ngSubmit)="onSubmitConfirmation(controlname)">
            <input type="text" class="form-control" formControlName="userInput" name="userInput" required
                [ngClass]="{ 'is-invalid': isconfirmationsubmitted && confirmDelete.userInput.value !== 'Delete' }" />
            <div *ngIf="isconfirmationsubmitted && confirmDelete.userInput.value !== 'Delete'" class="invalid-feedback text-left">
                Enter appropriate text
            </div>
            <div class="mt-2 d-flex">
                <button class="btn btn-xs btn-primary btn-block" *ngIf="controlname == 'web form'">I understand the
                    consequences, delete this
                    {{controlname}}</button>
            </div>
        </form>
    </div>
</ng-template>
<div class="float-right flotingdiv"> <!--dismissOnTimeout="5000"-->
    <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" [dismissible]="dismissible"
        (onClosed)="onClosed(alertMsg)">
        <span class="mr-3">{{alertMsg}}</span>
    </alert>
</div>