<div class="container">
    <div class="mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                <li class="breadcrumb-item">Privacy</li>
                <li class="breadcrumb-item">Data Subject Access Request</li>
                <li class="breadcrumb-item active" aria-current="page">Web Forms</li>
            </ol>
        </nav>
    </div>

    <div class="table-responsive">
        <div class="card"> 
            <div class="card-header d-flex">
                <span class="tx-12 tx-color-03 mg-b-0">
                    <h6 class="mg-b-0">DSAR Forms</h6>
                    Data Subject Requests (DSR) Forms
                </span>
                <div class="d-flex ml-auto pd-0">
                    <button (click)="navigateToDSARForm()" class="btn btn-white float-right">
                        <i-feather class="feather-16" name="plus"></i-feather>
                        <span class="d-none d-sm-inline mg-l-5">
                            Create</span>
                    </button>
                </div>

            </div>
            <div class="card-body">
                <div *ngIf="formList.length === 0">No web form found</div>
                <div class="card-columns">
                    <ng-container *ngFor="let data of formList;let i = index;">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-6">
                                        <p
                                            class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                                            Name</p>
                                        <div class="d-flex align-items-center">
                                            <span
                                                class=" tx-12  tx-normal tx-spacing-1 tx-color-01 ">{{data.form_name?data.form_name:'form name not available'}}</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">
                                            ORGANIZATION</p>
                                        <div class="d-flex">

                                            <span
                                                class=" tx-12  tx-normal tx-spacing-1 tx-color-01 ">{{currentOrganization}}</span>
                                        </div>
                                    </div>
                                    <div class="col-6 mg-t-10">
                                        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Property
                                        </p>
                                        <div class="d-flex">

                                            <span
                                                class=" tx-12  tx-normal tx-spacing-1 tx-color-01 ">{{currentPropertyName}}</span>
                                        </div>
                                    </div>

                                    <div class="col-6 mg-t-10">
                                        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Create
                                        </p>
                                        <div class="d-flex">
                                            <span
                                                class="tx-10 tx-medium  tx-color-01">{{data.created_at | date:'medium' }}</span>

                                        </div>
                                    </div>
                                    <div class="col-6 mg-t-10">
                                        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Status
                                        </p>
                                        <div class="d-flex align-items-center">
                                            <span class="tx-color-05 badge text-capitalize"
                                                [ngClass]="{'badge-success':data.form_status=='publish','badge-light':data.form_status=='draft' || data.form_status=='Draft'}">{{data.form_status}}</span>
                                        </div>
                                    </div>
                                    <div class="col-6 mg-t-10">
                                        <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Update
                                        </p>
                                        <div class="d-flex">
                                            <span class=" tx-10  tx-medium  tx-color-01">
                                                {{data.updated_at | date:'medium'}}</span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary btn-xs button" (click)="showForm(data)">View</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="float-right flotingdiv"> <!--dismissOnTimeout="5000"-->
    <alert *ngIf="isOpen" [type]="alertType"  [dismissible]="dismissible"
        (onClosed)="onClosed(alertMsg)">{{alertMsg}}</alert>
</div>