.cc-banner-preview {
  background-image: url('../../../../../assets/imgs/in-app-preview-background.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner-shadow{
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, .2);
}
.pd-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
