.cc-banner-preview {
  background-image: url('../../../../../assets/imgs/banner-back.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner-shadow{
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, .2);
}
.pd-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.tx-10 {
  font-size: 10px;
}

.banner-br-top{
  border-top: 3px solid #162893;
}

.btn-grr{
  width: 97px;
    height: 27px;
    font-size: 8px;
    font-weight: 600;
    border-radius: 6px;
}

.br-l {
  border-left: 2px solid  #162893;
}
