<div class="text-center mb-3">
  <div class="form-check-inline">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" [(ngModel)]="type" value="gdpr" name="optradio2">GDPR
    </label>
  </div>
  <div *ngIf="!isGdprGlobal" class="form-check-inline">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" [(ngModel)]="type" value="ccpa" name="optradio2">CCPA
    </label>
  </div>

  <div *ngIf="!isGdprGlobal" class="form-check-inline">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" [(ngModel)]="type" value="generic" name="optradio2">GENERIC
    </label>
  </div>

</div>

<div class="cc-banner-preview " style=" height: 27rem; font-size: 9px;">



  <div
  *ngIf="type == 'gdpr'"
    [ngStyle]="{background: formData.bannerBackGroundColor, color: formData.bannerTextColor,
    top : formData.position === 'bottom' ? '335px' : '0px'
    }"
    class="banner-shadow m-0"
    style="
       top: 335px;
           position: relative;
   z-index: 0; width: 100%;">
    <div class="row pd-10 m-0"  [ngStyle]="{borderTop: '3px solid' + formData.bannerBorderColor }">
      <div class="col-md-10">
        <div class="row">
        <div class="col-md-6">
              <h6 style="font-size: 11px" class="cc-font-size-16 cc-floating-title"
                  [ngStyle]="{color: formData.bannerTextColor}">
                {{formData.bannerTitle ? formData.bannerTitle : defaultContent.bannerTitle}}
              </h6>
              <div class="text-small float-rounded-corner-main line-height-nineteen font-size-thirteen onetrust-policy-text"
                  >
                <span [ngStyle]="{color: formData.bannerTextColor}" [innerHTML]="formData.bannerDescription ? formData.bannerDescription : defaultContent.bannerDescription"></span>
            </div>
          </div>



          <div class=" col-md-6" [ngStyle]="{borderLeft: '3px solid' + formData.bannerBorderColor }">
<!--            <h6 style="font-size: 11px" class="cc-font-size-16 cc-floating-title" -->
<!--                [ngStyle]="{color: formData.bannerTextColor}">-->
<!--              {{formData.bannerTitle2 ? formData.bannerTitle2 : defaultContent.bannerTitle2}}-->
<!--            </h6>-->
            <div class="text-small float-rounded-corner-main line-height-nineteen font-size-thirteen onetrust-policy-text"
                >
              <span *ngFor="let purpose of iabPurposeList" [ngStyle]="{color: formData.bannerTextColor}">{{purpose.name}} , </span>
          </div>
        </div>


        </div>
      </div>
      <div class="col-md-2 p-0">
        <div class="floating-flat-margin-cls ng-star-inserted mt-3" id="onetrust-button-group">
          <button
            type="button"
            class="font-size-thirteen mr-2 btn-grr cc-float-rounded-icon-btn cookie-setting-link ng-star-inserted"
            [ngStyle]="{background: formData.bannerPreferenceButtonBackGroundColor, borderColor:formData.bannerPreferenceButtonBackGroundColor,
             color: formData.bannerPreferenceButtonTextColor}"
          >
           {{formData.bannerPreferenceButtonTextContent ? formData.bannerPreferenceButtonTextContent : defaultContent.bannerPreferenceButtonTextContent}}
          </button>
          <!-- <button
            type="button"
            class="onetrust-accept-btn-handler-btn btn-grr mr-2  cc-float-rounded-icon-btn ng-star-inserted"
            [ngStyle]="{background: formData.bannerDisableButtonBackGroundColor,
            borderColor: formData.bannerDisableButtonBackGroundColor,
            color: formData.bannerDisableButtonTextColor}"
          >
            {{formData.bannerDisableButtonTextContent ? formData.bannerDisableButtonTextContent : defaultContent.bannerDisableButtonTextContent}}
          </button> -->

          <button
            type="button"
            class="onetrust-accept-btn-handler-btn btn-grr cc-float-rounded-icon-btn ng-star-inserted"
            [ngStyle]="{background: formData.bannerAcceptButtonBackgroundColor,
            borderColor: formData.bannerAcceptButtonBackgroundColor,
            color: formData.bannerAcceptButtonTextColor}"
            >
            {{formData.bannerAcceptButtonTextContent ? formData.bannerAcceptButtonTextContent : defaultContent.bannerAcceptButtonTextContent}}
          </button>

        </div>
      </div>


    </div>


  </div>



  <div
  *ngIf="type == 'generic'"
    [ngStyle]="{background: formData.bannerBackGroundColor, color: formData.bannerTextColor,
    top : formData.position === 'bottom' ? '360px' : '0px'
    }"
    class="banner-shadow m-0"
    style="
       top: 360px;
           position: relative;
   z-index: 0; width: 100%;">
    <div class="row pd-10 m-0" [ngStyle]="{borderTop: '3px solid' + formData.bannerBorderColor }">
      <div class="col-6">
        <div id="onetrust-policy">
          <h6 style="font-size: 11px" class="cc-font-size-16 cc-floating-title"
              [ngStyle]="{color: formData.bannerTextColor}">
            {{formData.bannerTitle ? formData.bannerTitle : defaultContent.bannerTitle}}
          </h6>
          <div class="text-small float-rounded-corner-main line-height-nineteen font-size-thirteen onetrust-policy-text"
               >
            <span [ngStyle]="{color: formData.bannerTextColor}" [innerHTML]="formData.bannerDescription ? formData.bannerDescription : defaultContent.bannerDescription"></span>
       </div>

        </div>
      </div>
      <div class="col-6 p-0">
        <div class="floating-flat-margin-cls ng-star-inserted mt-3" id="onetrust-button-group">
          <button
            type="button"
            class="font-size-thirteen mr-2 btn-grr cc-float-rounded-icon-btn cookie-setting-link ng-star-inserted"
            [ngStyle]="{background: formData.bannerPreferenceButtonBackGroundColor, borderColor:formData.bannerPreferenceButtonBackGroundColor,
             color: formData.bannerPreferenceButtonTextColor}"
          >
           {{formData.bannerPreferenceButtonTextContent ? formData.bannerPreferenceButtonTextContent : defaultContent.bannerPreferenceButtonTextContent}}
          </button>
          <button
            type="button"
            class="onetrust-accept-btn-handler-btn btn-grr mr-2  cc-float-rounded-icon-btn ng-star-inserted"
            [ngStyle]="{background: formData.bannerDisableButtonBackGroundColor,
            borderColor: formData.bannerDisableButtonBackGroundColor,
            color: formData.bannerDisableButtonTextColor}"
          >
            {{formData.bannerDisableButtonTextContent ? formData.bannerDisableButtonTextContent : defaultContent.bannerDisableButtonTextContent}}
          </button>

          <button
            type="button"
            class="onetrust-accept-btn-handler-btn btn-grr cc-float-rounded-icon-btn ng-star-inserted"
            [ngStyle]="{background: formData.bannerAcceptButtonBackgroundColor,
            borderColor: formData.bannerAcceptButtonBackgroundColor,
            color: formData.bannerAcceptButtonTextColor}"
            >
            {{formData.bannerAcceptButtonTextContent ? formData.bannerAcceptButtonTextContent : defaultContent.bannerAcceptButtonTextContent}}
          </button>

        </div>
      </div>


    </div>


  </div>






  <div
  *ngIf="type == 'ccpa'"
    [ngStyle]="{background: formData.bannerBackGroundColor, color: formData.bannerTextColor,
    top : formData.position === 'bottom' ? '360px' : '0px'
    }"
    class="banner-shadow m-0"
    style="
       top: 360px;
           position: relative;
   z-index: 0; width: 100%;">
    <div class="row pd-10 m-0" [ngStyle]="{borderTop: '3px solid' + formData.bannerBorderColor }">
      <div class="col-6">
        <div id="onetrust-policy">
          <h6 style="font-size: 11px" class="cc-font-size-16 cc-floating-title"
              [ngStyle]="{color: formData.bannerTextColor}">
            {{formData.bannerTitle ? formData.bannerTitle : defaultContent.bannerTitle}}
          </h6>
          <div class="text-small float-rounded-corner-main line-height-nineteen font-size-thirteen onetrust-policy-text"
               >
            <span [ngStyle]="{color: formData.bannerTextColor}" [innerHTML]="formData.bannerDescription ? formData.bannerDescription : defaultContent.bannerDescription"></span>
       </div>

        </div>
      </div>
      <div class="col-6 p-0">
        <div class="floating-flat-margin-cls ng-star-inserted mt-3" id="onetrust-button-group">
          <button
            type="button"
            class="font-size-thirteen mr-2 btn-grr cc-float-rounded-icon-btn cookie-setting-link ng-star-inserted"
            [ngStyle]="{background: formData.bannerPreferenceButtonBackGroundColor, borderColor:formData.bannerPreferenceButtonBackGroundColor,
             color: formData.bannerPreferenceButtonTextColor}"
          >
           {{formData.bannerPreferenceButtonTextContent ? formData.bannerPreferenceButtonTextContent : defaultContent.bannerPreferenceButtonTextContent}}
          </button>
          <button
            type="button"
            class="onetrust-accept-btn-handler-btn btn-grr mr-2  cc-float-rounded-icon-btn ng-star-inserted"
            [ngStyle]="{background: formData.bannerDoNotSellMyDataBackGroundColor,
            borderColor: formData.bannerDoNotSellMyDataBackGroundColor,
            color: formData.bannerDoNotSellMyDataTextColor}"
          >
            {{formData.bannerDoNotSellMyDataTextContent ? formData.bannerDoNotSellMyDataTextContent : defaultContent.bannerDoNotSellMyDataTextContent}}
          </button>

          <button
            type="button"
            class="onetrust-accept-btn-handler-btn btn-grr cc-float-rounded-icon-btn ng-star-inserted"
            [ngStyle]="{background: formData.bannerAcceptButtonBackgroundColor,
            borderColor: formData.bannerAcceptButtonBackgroundColor,
            color: formData.bannerAcceptButtonTextColor}"
            >
            {{formData.bannerAcceptButtonTextContent ? formData.bannerAcceptButtonTextContent : defaultContent.bannerAcceptButtonTextContent}}
          </button>

        </div>
      </div>


    </div>


  </div>



</div>
