<div class="media align-items-stretch justify-content-center ht-100p">
    <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
        <div class="pd-t-20 wd-100p">
            <h4 class="tx-color-01 mg-b-5">Account Settings</h4>
            <p class="tx-color-03 tx-16 mg-b-40">User Name / Password</p>
            <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()">
              
                <div class="form-group">
                        <label for="currentPassword"> Old Password</label>
                        <input type="password" formControlName="currentPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" 
                            placeholder="Enter your password" 
                            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                        <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.currentPassword.errors.required">Password is required</div>
                            <div *ngIf="f.currentPassword.errors.pattern">Enter Valid Password (Ex: Aa@2aa) and minimum 6 charcters </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newPassword"> New Password</label>
                        <input type="password" formControlName="newPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" 
                            placeholder="Enter your password" 
                            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                            <div *ngIf="f.newPassword.errors.pattern">Enter Valid Password (Ex: Aa@2aa) and minimum 6 charcters </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" 
                            placeholder="Enter your Confirm password" 
                            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                    </div>
            
            <div class="text-center">
                <button class="btn btn-primary mr-2">Save Changes</button>
                <button class="btn btn-primary mr-2" type="reset" (click)="onReset()">Cancel</button>
            </div>

            <div *ngIf="show" style="color: green; margin-top: 10px;" class="tx-13"><p>Password updated Successfully...!</p></div>
            <div *ngIf="!show" style="color:red; margin-top: 10px"><p>{{errorMsg}}</p></div>
        </form>

        </div>
    </div><!-- sign-wrapper -->
    <div class="media-body pd-y-30 pd-lg-x-50 pd-xl-x-60 align-items-center d-none d-lg-flex pos-relative">
        <div class="mx-lg-wd-500 mx-xl-wd-550">
            <img src="assets/imgs/changepassword.jpg" class="img-fluid" alt="">
        </div>
    </div><!-- media-body -->
</div><!-- media -->



