<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">



    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
        [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</header>
<div class="media align-items-stretch justify-content-center ht-100p">
    <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
        <div class="pd-t-20 wd-100p">
            <h4 class="tx-color-01 mg-b-5">Account</h4>
            <p class="tx-color-03 tx-16 mg-b-40">User Name / Password</p>
            <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input type="text" formControlName="fullName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
                        placeholder="Enter your fullName" pattern="^[a-zA-Z ]{3,20}$" />
                    <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback" >
                        <div *ngIf="f.fullName.errors.required">First Name is required</div>
                        <div *ngIf="f.fullName.errors.pattern">First Name Allow Only Alphabets(min 3 & max 20 Char)</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                        placeholder="Enter your email address" 
                        pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$"/>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Email is required</div>
                        <div *ngIf="f.username.errors.pattern">Please enter a valid Email</div> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="oldpsw">Old Password</label>
                    <input type="password" formControlName="oldpsw" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.oldpsw.errors }" 
                        placeholder="Enter your password" 
                        pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                    <div *ngIf="submitted && f.oldpsw.errors" class="invalid-feedback">
                        <div *ngIf="f.oldpsw.errors.required">Old Password is required</div>
                        <div *ngIf="f.oldpsw.errors.pattern">Enter Valid Old Password (Ex: Aa@2aa) and minimum 6 charcters </div>
                    </div>
                </div>
                <div class="form-group">
                        <label for="newpsw">New Password</label>
                        <input type="password" formControlName="newpsw" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.newpsw.errors }" 
                            placeholder="Enter your password" 
                            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                        <div *ngIf="submitted && f.newpsw.errors" class="invalid-feedback">
                            <div *ngIf="f.newpsw.errors.required">New Password is required</div>
                            <div *ngIf="f.newpsw.errors.pattern">Enter Valid New Password (Ex: Aa@2aa) and minimum 6 charcters </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="renewpsw">Re-enter Password</label>
                        <input type="password" formControlName="renewpsw" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.renewpsw.errors }" 
                            placeholder="Enter your Confirm password" 
                            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                        <div *ngIf="submitted && f.renewpsw.errors" class="invalid-feedback">
                            <div *ngIf="f.renewpsw.errors.required">Re-enter Password is required</div>
                            <div *ngIf="f.renewpsw.errors.pattern">Enter Valid Re-enter Password (Ex: Aa@2aa) and minimum 6 charcters </div>
                        </div>
                    </div>
          
  
                <div *ngIf="show" style="color: red;" class="tx-13"><p>Password Changed Successfully...!</p></div>
            
            
            <div class="text-center">
                <button class="btn btn-primary mr-2">Save Changes </button>
                <button class="btn btn-primary mr-2" type="cancel" (click)="onReset()">Cancel</button>
            </div>
           
        </form>
            
    
    <div class="media-body pd-y-30 pd-lg-x-50 pd-xl-x-60 align-items-center d-none d-lg-flex pos-relative">
        <div class="mx-lg-wd-500 mx-xl-wd-550">
            <img src="https://via.placeholder.com/1280x1225" class="img-fluid" alt="">
        </div>
        <div class="pos-absolute b-0 r-0 tx-12">
            Social media marketing vector is created by <a href="https://www.freepik.com/pikisuperstar"
                target="_blank">pikisuperstar (freepik.com)</a>
        </div>
    </div><!-- media-body -->
</div><!-- media -->
</div>



