
<app-header></app-header>


<div class="media align-items-stretch justify-content-center ht-100p">
    <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
        <div class="pd-t-20 wd-100p">
            <h4 class="tx-color-01 mg-b-5">Account Settings</h4>
            <p class="tx-color-03 tx-16 mg-b-40">User Name / Password</p>
            <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input type="text" formControlName="fullName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
                        placeholder="Enter your Full Name" pattern="^[a-zA-Z ]{3,20}$" />
                    <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback" >
                        <div *ngIf="f.fullName.errors.required">Full Name is required</div>
                        <div *ngIf="f.fullName.errors.pattern">Full Name Allow Only Alphabets(min 3 & max 20 Char)</div>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        placeholder="Enter your email address" 
                        pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$" (ngModelChange)="clearError()"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email address is required</div>
                        <div *ngIf="f.email.errors.pattern">Please enter a valid email</div> 
                    </div>
                </div>
              
                <div class="form-group">
                        <label for="oldpsw"> Old Password</label>
                        <input type="password" formControlName="oldpsw" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.oldpsw.errors }" 
                            placeholder="Enter your password" 
                            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                        <div *ngIf="submitted && f.oldpsw.errors" class="invalid-feedback">
                            <div *ngIf="f.oldpsw.errors.required">Password is required</div>
                            <div *ngIf="f.oldpsw.errors.pattern">Enter Valid Password (Ex: Aa@2aa) and minimum 6 charcters </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newpsw"> New Password</label>
                        <input type="password" formControlName="newpsw" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.newpsw.errors }" 
                            placeholder="Enter your password" 
                            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                        <div *ngIf="submitted && f.newpsw.errors" class="invalid-feedback">
                            <div *ngIf="f.newpsw.errors.required">New Password is required</div>
                            <div *ngIf="f.newpsw.errors.pattern">Enter Valid Password (Ex: Aa@2aa) and minimum 6 charcters </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="renewpsw">Confirm Password</label>
                        <input type="password" formControlName="renewpsw" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.renewpsw.errors }" 
                            placeholder="Enter your Confirm password" 
                            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                        <div *ngIf="submitted && f.renewpsw.errors" class="invalid-feedback">
                            <div *ngIf="f.renewpsw.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.renewpsw.errors.pattern">Enter Valid Confirm Password (Ex: Aa@2aa) and minimum 6 charcters </div>
                        </div>
                    </div>
          
  
                <div *ngIf="show" style="color: blue;" class="tx-13"><p>Account Updated Successfully...!</p></div>
                <div  style="color:red;"><p >{{errorMsg}}</p></div>
            
        <!-- form-group -->

            <div class="text-center">
                <button class="btn btn-primary mr-2">Save Changes</button>
                <button class="btn btn-primary mr-2" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>

        </div>
    </div><!-- sign-wrapper -->
    <div class="media-body pd-y-30 pd-lg-x-50 pd-xl-x-60 align-items-center d-none d-lg-flex pos-relative">
        <div class="mx-lg-wd-500 mx-xl-wd-550">
            <img src="assets/imgs/changepassword.jpg" class="img-fluid" alt="">
        </div>
    </div><!-- media-body -->
</div><!-- media -->



