<div>
  <nav aria-label="breadcrumb" style="margin-left: -14px">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
      <li class="breadcrumb-item">Billing</li>
      <li class="breadcrumb-item active">Manage Subscription</li>

    </ol>
  </nav>
  <h4 class="mg-b-0 tx-spacing--1">Your  Products</h4>
</div>
<div class="card mt-4">
  <h4 class="mt-4 pl-4">Available Products</h4>
  <div class="card-body mt-2">
    <table class="table">
      <thead>
      <tr>
        <th>Property Name</th>
        <th></th>
        <th>Domain Name</th>
        <th>Assigned Licenses</th>
        <th>Purchased Licenses</th>
        <th>Subscription Status</th>
        <th>Paid By</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Phonetechtalk</td>
        <td><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
        <td>phonetechtalk.com</td>
        <td>4 </td>
        <td>6</td>
        <td><i class="fa fa-check-circle" aria-hidden="true"></i>  Active: Renews on 31/03/2032 </td>
        <td>Mastercard***</td>
      </tr>     <tr>
        <td>Stacktrick</td>
        <td><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
        <td>stacktrick.com</td>
        <td>6 </td>
        <td>2</td>
        <td><i class="fa fa-check-circle" aria-hidden="true"></i>  Active: Renews on 23/03/2032 </td>
        <td>Visa***</td>
      </tr>     <tr>
        <td>CNN</td>
        <td><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
        <td>cnn.com</td>
        <td>14 </td>
        <td>85</td>
        <td><i class="fa fa-check-circle" aria-hidden="true"></i> Active: Renews on 14/03/2032 </td>
        <td>American Express***</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
