<div class="ml-2 d-sm-flex align-items-center justify-content-between">
  <div>
    <nav aria-label="breadcrumb" style="margin-left: -14px">
      <ol class="breadcrumb breadcrumb-style1 mg-b-10">
        <li class="breadcrumb-item">Privacy</li>
        <li class="breadcrumb-item"><a routerLink="/consent-solutions/consent-records">Cookie Solution</a></li>
        <li class="breadcrumb-item active">Records</li>

      </ol>
    </nav>
    <!-- <h4 class="mg-b-0 tx-spacing--1">Welcome to Dashboard</h4> -->
  </div>

</div> <!-- breadcrumb -->

<div class="card">
  <!-- <div class="row mt-2">
      <div class="col-md-1 col-sm-2">
        <i class="pi pi-desktop desk_img" style="font-size: 3.0rem;opacity: 0.5;"></i>
      </div>
      <div class="col-md-11 col-sm-10">
        <div class=" ml-1 mt-3 d-flex" style="justify-content: space-between;">
          <h2 style="opacity: 0.8;">My website</h2>
          <button type="button" class="btn btn-primary pbut">Edit</button>
        </div>

      <hr class="mt-0 mb-2">
        <div class="row">
          <div class="col-sm-7 d-flex">
           <div>
               <input type="radio" name="Ultra"><b class="ml-3" style="opacity: 0.6;">Ultra</b>
           </div>
          <h6 class="ml-4" style="opacity: 0.6;">Type: Site</h6>
          <h6 class="ml-4" style="opacity: 0.6;">Owner: Adzapier</h6>
          </div>

          <div class="col-sm-5 d-flex documents" >
              <h6 class="ml-5" style="opacity: 0.6;" >Document Languages:</h6>
              <div class="d-flex">
                <div class="droped">
                <select class="sel" name="languages" id="cars">
                  <option value="volvo">English</option>
                  <option value="saab">French</option>
                  <option value="mercedes">german</option>
                  <option value="audi">Spanish</option>
                </select>
                </div>
              <a href="#"><i class="pi pi-trash dust" style="font-size: 0.8rem;color:black;"></i></a>
              </div>
          </div>
        </div>
  </div>

</div> -->

<div class="card-header">
  <h4 class="headings mb-3  ">CONSENT SOLUTION</h4>
</div>

    <div class="card-body">





<tabset #tabset class="tabsets">
<tab customClass="customClass"
  heading="Consents">
<!--  <div style="overflow:auto;height:50vh;margin-top: 20px;">-->
<!--  <table class="table borderless">-->
<!--      <thead>-->
<!--          <tr>-->
<!--            <th>Owner ID</th>-->
<!--            <th>CreatedAt</th>-->
<!--            <th>Data Source</th>-->
<!--              <th></th>-->
<!--          </tr>-->
<!--      </thead>-->
<!--      <tbody style="overflow-x:scroll;height:50vh;margin-top: 20px;">-->
<!--          <tr *ngFor="let consentRecord of consentRecordList" >-->
<!--            <td>{{consentRecord.owner_id}}</td>-->
<!--            <td>{{consentRecord.created_at | date}}</td>-->
<!--            <td>{{consentRecord.data_source}}</td>-->
<!--              <td style="text-align-last:right;">-->
<!--                  <a href="#"><i class="pi pi-user mr-2" style="font-size: 1.0rem;"></i></a>-->
<!--                  <a href="#"><i class="pi pi-eye" style="font-size: 1.0rem;"></i></a>-->
<!--              </td>-->
<!--          </tr>-->
<!--      </tbody>-->
<!--  </table>-->
<!--  </div>-->

  <div class="card">
    <p-table [value]="consentRecordList"
             [lazy]="true" [responsive]="true"
             [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,20,30]"
             (onLazyLoad)="onGetConsentSolutionData($event)"
             styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
                  <tr style="text-align:center;">
                    <th>ID</th>
                    <th>Owner ID</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Data Source</th>
                    <th>IP Address</th>
                    <th>Verified</th>
<!--                    <th></th>-->
                  </tr>
      </ng-template>
      <ng-template pTemplate="body" let-consentRecord>
                  <tr>
                   <td>  <a href="javascript:;" (click)="onNavigateToDetails(consentRecord)">{{consentRecord.id}}</a></td>
                    <td >{{consentRecord.owner_id}}</td>
                    <td>{{consentRecord.email}}</td>
                    <td>{{consentRecord.first_name}}</td>
                    <td>{{consentRecord.last_name}}</td>
                    <td>{{consentRecord.data_source}}</td>
                    <td>{{consentRecord.ip_address}}</td>
                    <td>
                      <ng-container *ngIf="consentRecord.verified;else elseBlock">
                       <i class="pi pi-check" style="font-size: 1.2rem; color:#5cb85c;"></i>
                       </ng-container>
                       <ng-template #elseBlock><i class="pi pi-times" style="font-size: 1.2rem; color: #d9534f;"></i></ng-template>
                      </td>
<!--                      <td style="text-align-last:right;">-->
<!--                          <a href="#"><i class="pi pi-user mr-2" style="font-size: 1.0rem;"></i></a>-->
<!--                          <a href="#"><i class="pi pi-eye" style="font-size: 1.0rem;"></i></a>-->
<!--                      </td>-->
                  </tr>
      </ng-template>



    </p-table>
  </div>

</tab>

<!-- <tab class="tbs" customClass="customClass"
  heading="Subjects"> -->
  <!-- <div style="overflow:auto;height:50vh;margin-top: 20px;">
  <table class="table borderless" >
      <thead>
          <tr>
            <th>Email</th>
            <th>Verified</th>
            <th>Preferences</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let consen of consentRecordList">
            <td>{{consen.email}}</td>
            <td>
            <div *ngIf="consen.verified;else elseBlock">
             <i class="pi pi-check" style="font-size: 1.2rem; color:#5cb85c;"></i>
             </div>
             <ng-template #elseBlock><i class="pi pi-times" style="font-size: 1.2rem; color: #d9534f;"></i></ng-template>
            </td>
              <td><button pButton type="button" label="newsletter" style="margin-right: 5px; height: 30px;text-align: center;"></button>
                  <button pButton type="button" style="height: 30px;width:100px;text-align: center;" label="generic"></button>
              </td>
              <td  style="text-align-last:right;">
                  <a href="#"><i class="pi pi-eye" style="font-size: 1.0rem"></i></a>
              </td>
          </tr>
      </tbody>
  </table>
  </div> -->
  <!-- <div class="card">
    <p-table [value]="consentRecordList"
             [lazy]="true" [responsive]="true"
             [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,20,30]"
             (onLazyLoad)="onGetConsentSolutionData($event)"
             styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th>Email</th>
          <th style="text-align: center;">Verified</th>
          <th >Preferences</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-consentRecord>
                  <tr >
                    <td>{{consentRecord.email}}</td>
                    <td style="text-align: center;">
                      <div *ngIf="consentRecord.verified;else elseBlock">
                      <i class="pi pi-check" style="font-size: 1.2rem; color:#5cb85c;"></i>
                      </div>
                      <ng-template #elseBlock><i class="pi pi-times" style="font-size: 1.2rem; color: #d9534f;"></i></ng-template></td>
                      <td><button pButton type="button" label="newsletter" style="margin-right: 5px; height: 30px;text-align: center;"></button>
                          <button pButton type="button" style="height: 30px;width:100px;text-align: center;" label="generic"></button>
                    </td>

                    <td  style="text-align-last:right;">
                        <a href="#"><i class="pi pi-eye" style="font-size: 1.0rem"></i></a>
                    </td>
                  </tr>
      </ng-template>



    </p-table>
  </div>

</tab> -->

    <!-- <tab class="tbs" customClass="customClass"
  heading="Legal Notices"> -->

  <!-- <div style="overflow:auto;height:50vh;margin-top: 20px;">
  <table class="table borderless" >
      <thead>
          <tr>
            <th>Id</th>
            <th>Consent_id</th>
            <th>Version</th>
            <th>Identifier</th>
            <th>CreatedAt</th>
            <th>Updated At</th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let consen of legal_notices">
            <td>{{consen.id}}</td>
            <td>{{consen.consent_id}}</td>
            <td>{{consen.version}}</td>
            <td>{{consen.identifier}}</td>
            <td>{{consen.created_at | date}}</td>
            <td>{{consen.updated_at | date}}</td>
              <td  style="text-align-last:right;">
                  <a href="#"><i class="pi pi-eye" style="font-size: 1.0rem"></i></a>
              </td>
          </tr>
      </tbody>
  </table>
</div> -->

<!-- <div class="card">
  <p-table [value]="legalRecordList"
           [lazy]="true" [responsive]="true"
           [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,20,30]"
           (onLazyLoad)="onGetConsentSolutionData($event)"
           styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th >Version</th>
        <th>Identifier</th>
        <th>CreatedAt</th>
        <th></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-legalRecord>
                <tr >
            <td >{{legalRecord.version}}</td>
            <td>{{legalRecord.identifier}}</td>
            <td>{{legalRecord.created_at | date}}</td>
              <td  style="text-align-last:right;">
                  <a href="#"><i class="pi pi-eye" style="font-size: 1.0rem"></i></a>
              </td>
                </tr>
    </ng-template>



  </p-table>
</div>

</tab> -->



</tabset>
    </div>



</div>


