<div>
<div class="mb-3">
  <nav aria-label="breadcrumb" class="align-navbtn">
    <ol class="breadcrumb breadcrumb-style1 mg-b-0">
      <li class="breadcrumb-item">Privacy</li>
      <li class="breadcrumb-item">Consent Preference</li>
      <li class="breadcrumb-item active" aria-current="page">Consent Records</li>
    </ol>
  </nav>
</div>




<div class="card">
  <div class="card-header row ml-1 mr-1 d-flex" style="justify-content: space-between;">
    <h4 class="headings col-md-6">Consent Records </h4>
    <div class="col-md-6 text-center">
    <button type="button"
        class="btn btn-sm btn-uppercase btn-outline-secondary pt-2 lineheight-22 mr-3"  (click)="AddConsentRecord(addrecord)" style="text-transform: none;font-size: 12px;">
        <i-feather class="feather-16" name="plus"></i-feather>
        <span class="d-none d-sm-inline mg-l-5">
          Add Consent </span>
      </button>

      <button type="button"
              [disabled]="consentRecordList.length === 0"
              (click)="openModal(template);" class="btn  btn-sm btn-outline-secondary btn-uppercase mr-2" style="text-transform: none;font-size: 12px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-download mg-r-5">
          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
          <polyline points="7 10 12 15 17 10"></polyline>
          <line x1="12" y1="15" x2="12" y2="3"></line>
        </svg>
        Export Consents
      </button>



    <button type="button"  *ngIf="!showFilters" (click)="showFilters = !showFilters" class=" btn btn-primary  btn-sm filbutton">Show Filters</button>
    <button type="button"  *ngIf="showFilters" (click)="showFilters = !showFilters" class=" btn btn-primary btn-sm filbutton">Hide Filters</button>
  </div>
  </div>


  <div class="card-body">
    <div class="filter" *ngIf="showFilters">
    <div>
      <label><b>Search Filters</b></label>
    </div>
    <div style="margin-top: 1px; justify-content: space-between;" class="d-flex mb-3 fil" >
      <!-- <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text"    (keyup)="onSearchInputChange($event)" pInputText placeholder="Search">
    </span> -->
      <input style="margin-left:2px; width:230px;" class="txtfil" (keyup)="onEmailInputChange($event)" type="text" pInputText placeholder="Email" />
      <input style="margin-left:2px; width:230px;" class="txtfil"   (keyup)="onFirstNameInputChange($event)"type="text" pInputText placeholder="First Name"/>
      <input style="margin-left:2px; width:230px;" class="txtfil"  (keyup)="onLastNameInputChange($event)" type="text" pInputText  placeholder="Last Name"/>
      <input style="margin-left:2px; width:230px;" class="txtfil"  (keyup)="onIpAddressInputChange($event)" type="text" pInputText placeholder="IP Address"/>
      <!-- <input style="margin-left:3px; width:160px;" type="text" pInputText placeholder="Source"/>   -->

    </div>
    <div class="d-flex" style="justify-content: space-between;">
      <div class="mt-1">
        <label><b>Source</b></label>
      </div>
      </div>
      <div class="d-flex" style="justify-content: space-between;">
        <div style="display: flex; justify-content: space-between;">
      <div class="form-check form-check-inline">
        <input class="form-check-input" (click)="onSourceInputChange($event)" type="radio"
               checked name="inlineRadioOptions" id="inlineRadio1" value="both">
        <label class="form-check-label" for="inlineRadio1">Both</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" (click)="onSourceInputChange($event)" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="private">
        <label class="form-check-label" for="inlineRadio2">Private</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  (click)="onSourceInputChange($event)" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="public">
        <label class="form-check-label" for="inlineRadio3">Public</label>
      </div>
    </div>


        <div class="col-sm-4 pr-0 mr-2 d-flex row-reverse">
          <div class="input-group-prepend"  (click)="dp.show()">
            <span class="input-group-text rounded-right border-left-0" id="inputGroup-sizing-sm"><i class="fa" [ngClass]="searchbydaterange !== '' ? 'fa-caret-down':'fa-search'"></i></span>
          </div>
          <input type="text" [(ngModel)]="searchbydaterange"
                 class="form-control border-left-0  border-right-0 rounded-right"
                 bsDaterangepicker [bsConfig]="bsConfig"  #dp="bsDaterangepicker"  (onHidden)="onDateSelection()">
          <div class="input-group-prepend border-left-0"  (click)="dp.show()">
            <span class="input-group-text rounded-left border-right-0" id="inputGroup-sizing-sm"><i class="fa fa-calendar"></i></span>
          </div>
        </div>


    </div>
    </div>
    <hr>
    <div class="card">
      <p-table class="consent-record" [value]="consentRecordList"
               [lazy]="true" [responsive]="true"
               [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
               [totalRecords]="consentRecordCount"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [rowsPerPageOptions]="[10,20,30]"
               (onLazyLoad)="onGetConsentSolutionData($event)"
               styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
          <tr style="text-align:center;">
            <th>ID</th>
            <th>Owner ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Data Source</th>
            <th>IP Address</th>
            <th>Verified</th>
            <th>Created Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-consentRecord>
          <tr>
            <td class="al"><a href="javascript:;" (click)="onNavigateToDetails(consentRecord)">{{consentRecord.id}}</a></td>
            <td class="al">{{consentRecord.owner_id}}</td>
            <td class="al">{{consentRecord.first_name}}</td>
            <td class="al">{{consentRecord.last_name}}</td>
            <td class="al">{{consentRecord.email}}</td>
            <td class="al">{{consentRecord.country}}</td>
            <td class="al">{{consentRecord.data_source}}</td>
            <td class="al">{{consentRecord.ip_address}}</td>
            <td class="al">
              <ng-container *ngIf="consentRecord.verified;else elseBlock">
                <i class="pi pi-check" style="font-size: 1.0rem; color:#5cb85c;"></i>
              </ng-container>
              <ng-template #elseBlock><i class="pi pi-times" style="font-size: 1.0rem; color: #d9534f;"></i>
              </ng-template>
            </td>
            <td class="al">{{consentRecord.created_at | date}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
</div>

<ng-template #addrecord let-modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Consent Details </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancelClick()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="AddConsentForm" (ngSubmit)="onAddconsentRecord()">
      <div class="form-group d-flex row">
        <div class="col-sm-6">
          <label>First Name : </label>
          <div class="input-group">
            <input formControlName="firstName" class="form-control">
          </div>
          <!-- <div *ngIf="submitted && f.firstName.errors" class="text-danger">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div> -->
        </div>

        <div class="col-sm-6">
          <label>Last Name : </label>
          <div class="input-group">
            <input formControlName="lastName" class="form-control">
          </div>
          <!-- <div *ngIf="submitted && f.lastName.errors" class="text-danger">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div> -->
        </div>
      </div>
      <div class="form-group d-flex row">
      <div class="col-sm-6">
        <label>Email : </label>
        <div class="input-group">
          <input placeholder="yourname@yourmail.com" pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$" formControlName="email" class="form-control">
        </div>
        <div *ngIf="submitted && f.email.errors" class="text-danger">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.pattern">Please enter a valid email</div>
          <!--          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>-->
        </div>
      </div>
      <div class="col-sm-6">
        <label>Authentication ID : </label>
        <div class="input-group">
          <input formControlName="AuthID" class="form-control">
        </div>
        <!-- <div *ngIf="submitted && f.AuthID.errors" class="text-danger">
          <div *ngIf="f.AuthID.errors.required">Authentication ID is required</div>
        </div> -->
      </div>
      </div>

      <!-- <div class="form-group d-flex">

      <div><label>Preferences :</label></div>
      <div class="form-group d-flex">
        <label class="ml-3">Newsletter:-</label>
        <div class="input-group">
          <input class="ml-4 mt-1"  type="checkbox" formControlName="newsLetter">
        </div>
        <div *ngIf="submitted && f.newsletter.errors" class="text-danger" class="form-control">
          <div *ngIf="f.newsletter.errors.required">newsletter is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>


      <div class="form-group d-flex">
        <label class="ml-3">PrivacyPolicy:-</label>
        <div class="input-group">
          <input type="checkbox" class="ml-3 mt-1" formControlName="privacyPolicy">
        </div>
        <div *ngIf="submitted && f.privacy_policy.errors" class="text-danger">
          <div *ngIf="f.privacy_policy.errors.required">privacy_policy is required</div>
                 <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      </div> -->
      <div class="form-group">
        <label>Data Source : </label>
        <div class="input-group">
          <label>Private : </label>
          <input class="ml-2 mt-1" type="radio" formControlName="dataSource" value="private">
          <label class="ml-3">Public : </label>
          <input class="ml-2 mt-1" type="radio" formControlName="dataSource" value="public">
        </div>
        <!-- <div *ngIf="submitted && f.dataSource.errors" class="text-danger">
          <div *ngIf="f.dataSource.errors.required">Data Source is required</div>
        </div> -->
      </div>



      <div class="form-group row d-flex">
        <div class="col-sm-6">
          <label>Country : </label>
          <div class="input-group">
            <input formControlName="country" class="form-control">
          </div>
          <!-- <div *ngIf="submitted && f.country.errors" class="text-danger">
            <div *ngIf="f.country.errors.required">Country is required</div>
          </div> -->
        </div>
        <div class="col-sm-6">
          <label>Owner ID : </label>
          <div class="input-group">
            <input formControlName="ownerID" class="form-control">
          </div>
          <!-- <div *ngIf="submitted && f.ownerID.errors" class="text-danger">
            <div *ngIf="f.ownerID.errors.required">Owner Id is required</div>
          </div> -->
        </div>
      </div>
      <div class="form-group d-flex">
      <div class="form-group">
        <label>IP Address : </label>
        <div class="input-group">
          <input formControlName="ipAddress" class="form-control">
        </div>
        <!-- <div *ngIf="submitted && f.ipAddress.errors" class="text-danger">
          <div *ngIf="f.ipAddress.errors.required">IP Address is required</div>
        </div> -->
      </div>
      <div class="form-group d-flex ml-4">
        <label class="ml-4">Verified: </label>
        <div class="input-group">
          <input class="ml-4 mt-1" type="checkbox" formControlName="verified">
        </div>
        <!-- <div *ngIf="submitted && f.newsletter.errors" class="text-danger" class="form-control">
          <div *ngIf="f.newsletter.errors.required">newsletter is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div> -->
      </div>
      </div>
      <!-- <div class="form-group">
        <label>Preferences : </label>
        <div class="input-group">
          <label>NewsLetter </label>
          <input class="ml-2 mt-1" type="checkbox" formControlName="newsLetter">
          <label class="ml-3">PrivacyPolicy</label>
          <input class="ml-2 mt-1" type="checkbox" formControlName="privacyPolicy" >
          <label class="ml-3">Terms-of-service</label>
          <input class="ml-2 mt-1" type="checkbox" formControlName="term_of_service">
        </div>
        <div *ngIf="submitted && f.dataSource.errors" class="text-danger">
          <div *ngIf="f.dataSource.errors.required">Data Source is required</div>
        </div>
      </div> -->
      <label>Preferences :</label>
      <div class="row">
        <div class="col-sm-12 table-responsive" formArrayName="preferences">
          <table class="table">
            <!-- <thead>
              <tr style="text-align: center;">
                <th style="white-space: nowrap;padding-right: 4em;float:center;border: none;">Preference Name</th>
                <th style="white-space: nowrap;padding-right: 4em;float:center;border: none;">Should be Allowed</th>
              </tr>
            </thead> -->
            <tbody>
              <tr *ngFor="let preferences of AddConsentForm.controls.preferences['controls']; let i=index" [formGroupName]="i">
                <label class="mt-3">Preference Name</label>
                <td style="white-space: nowrap;border: none;"><input type="text" id="preference{{i}}" formControlName="preference" class="form-control mr-3" [ngClass]="{ 'is-invalid': submitted && preferences.get('preference').errors }"/></td>
                <label class="mt-3">Allowed</label>
                <td style="white-space: nowrap;border: none;"><input type="checkbox" id="allow{{i}}" formControlName="allow" class="mt-2"/></td>
                <td style="border: none;"><button (click)="deletePref(i)" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></td>

              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td style="border: none;"><button type="button" (click)="addNewPref()" *ngIf="AddConsentForm.value.preferences.length === 0" class="btn btn-sm btn-primary">Add Preference<i class="fa fa-plus ml-2" aria-hidden="true"></i></button>
                  <button type="button" *ngIf="AddConsentForm.value.preferences.length > 0" (click)="addNewPref()" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></td>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>

      <hr>
      <div><label>Proofs : </label></div>


      <div class="row">
        <div class="col-sm-12 table-responsive" formArrayName="proofs">
          <table class="table">
            <!-- <thead>
              <tr style="text-align: center;">
                <th style="white-space: nowrap;padding-right: 4em;float:center;border: none;">Content</th>
                <th style="white-space: nowrap;padding-right: 4em;float:center;border: none;">Form</th>
              </tr>
            </thead> -->
            <tbody>
              <tr *ngFor="let proofs of AddConsentForm.controls.proofs['controls']; let i=index" [formGroupName]="i">
                <label class="mt-3">Content</label>
                <td style="white-space: nowrap;border: none;"><textarea id="content{{i}}" formControlName="content" class="form-control"  [ngClass]="{ 'is-invalid': submitted && proofs.get('content').errors }" ></textarea></td>
                <label class="mt-3">Form</label>
                <td style="white-space: nowrap;border: none;"><textarea id="form{{i}}" formControlName="form" class="form-control" [ngClass]="{ 'is-invalid': submitted && proofs.get('form').errors }"></textarea></td>
                <td style="border: none;"><button (click)="deleteRow(i)" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></td>

              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td style="border: none;"><button type="button" *ngIf="AddConsentForm.value.proofs.length === 0" (click)="addNewRow()" class="btn btn-sm btn-primary">Add Proof<i class="fa fa-plus ml-2" aria-hidden="true"></i></button>
                  <button type="button"  *ngIf="AddConsentForm.value.proofs.length > 0" (click)="addNewRow()" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></td>
              </tr>
            </tfoot>

          </table>

        </div>
      </div>
      <hr>

      <div><label>Legal Notice : </label></div>


      <div class="row">
        <div class="col-sm-12 table-responsive" formArrayName="legalNotices">
          <table class="table">
            <!-- <thead>
              <tr style="text-align: center;">
                <th style="white-space: nowrap;padding-right: 4em;float:center;border: none;">Identifier</th>
                <th style="white-space: nowrap;padding-right: 2em;float:center;border: none;">Version</th>
                <th style="white-space: nowrap;padding-right: 2em;float:center;border: none;">Content</th>

              </tr>
            </thead> -->
            <tbody>
              <tr *ngFor="let legalNotices of AddConsentForm.controls.legalNotices['controls']; let ind=index" [formGroupName]="ind">
                <label class="mt-3">Identifier</label>
                <td style="white-space: nowrap;border: none;"><textarea id="identifier{{ind}}" formControlName="identifier" class="form-control" [ngClass]="{ 'is-invalid': submitted && legalNotices.get('identifier').errors }"></textarea></td>
                <label class="mt-3">Version</label>
                <td style="white-space: nowrap;border: none;"><input id="version{{ind}}" type="number" formControlName="version" class="form-control"></td>
                <label class="mt-3">Content</label>
                <td style="white-space: nowrap;border: none;"><textarea id="content{{ind}}" formControlName="content" class="form-control" [ngClass]="{ 'is-invalid': submitted && legalNotices.get('content').errors }" ></textarea></td>
                <td style="border: none;"><button (click)="deleteLegalRow(ind)" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td style="border: none;"><button type="button" *ngIf="AddConsentForm.value.legalNotices.length === 0" (click)="addNewLegalRow()" class="btn btn-sm btn-primary">Add LegalNotice<i class="fa fa-plus ml-2" aria-hidden="true"></i></button>
                  <button type="button" *ngIf="AddConsentForm.value.legalNotices.length > 0" (click)="addNewLegalRow()" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></td>
              </tr>
            </tfoot>

          </table>

        </div>
      </div>
      <hr>

  <div class="d-flex" style="justify-content: flex-end;">
      <div class="btn-group">
        <button type="button" class="btn btn-link btn-sm pull-right " (click)="onCancelClick()">Cancel</button>
        <button type="submit" class="btn btn-primary btn-sm">Add</button>
        
      </div>
      </div>
    </form>
  </div>
</ng-template>

<div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
  <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" [dismissible]="dismissible"
  >{{  alertMsg}}</alert>
</div>



<ng-template #template>
  <div class="modal-body modal-lg text-center">
    <p>Export your consent records as a CSV file
    </p>
    <div class="row mb-3">
      <div class="col-md-3">
        <p class="pt-2 mb-0">Date Range - </p>
      </div>
      <div class="col-md-8 pr-0 mr-2 d-flex row-reverse">
        <div class="input-group-prepend"  (click)="dp.show()">
          <span class="input-group-text rounded-right border-left-0" id="inputGroup-sizing-sm"><i class="fa" [ngClass]="searchbydaterangeExport !== '' ? 'fa-caret-down':'fa-search'"></i></span>
        </div>
        <input type="text" [(ngModel)]="searchbydaterangeExport"
               class="form-control border-left-0  border-right-0 rounded-right"
               bsDaterangepicker [bsConfig]="bsConfig"  #dp="bsDaterangepicker"  (onHidden)="onSelectDateRangeForCsv()">
        <div class="input-group-prepend border-left-0"  (click)="dp.show()">
          <span class="input-group-text rounded-left border-right-0" id="inputGroup-sizing-sm"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
<div class="row  mb-3 mt-2">
  <div class="col-md-12 margin-auto justify-content-center"  *ngIf="downloadStatus.consents" >
  <div class="progress w-50 margin-auto mb-2"style="height: 20px;">
    <div  class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Generating Consents CSV...</div>
  </div>
  </div>
  <div class="col-md-12 justify-content-center" *ngIf="downloadStatus.legalNotices" >
  <div class="progress w-50 margin-auto mb-2"style="height: 20px;">
    <div  class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Generating Legal Notices CSV...</div>
  </div>
  </div>
  <div class="col-md-12  justify-content-center" *ngIf="downloadStatus.Proofs" >
  <div class="progress w-50 margin-auto mb-2"style="height: 20px;">
    <div  class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Generating Proofs CSV...</div>
  </div>
  </div>
  <div class="col-md-12  justify-content-center" *ngIf="downloadStatus.Preference" >
  <div class="progress w-50 margin-auto mb-2"style="height: 20px;">
    <div  class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Generating Preferences CSV...</div>
  </div>
  </div>
</div>



    <div class=" text-center">
      <button type="button" class="btn btn-primary mr-3" [disabled]="downloadStatus.consents" (click)="generateConsentCsv()" >Export Consent Details </button>
      <button type="button" class="btn btn-primary mr-3" [disabled]="downloadStatus.legalNotices" (click)="generateLegalNoticesCsv()" >Export Legal Notices </button>
      <button type="button" class="btn btn-primary mr-3" [disabled]="downloadStatus.Proofs" (click)="generateProofsCsv()" >Export Proofs </button>
      <button type="button" class="btn btn-primary mr-3" [disabled]="downloadStatus.Preference" (click)="generatePreferenceCsv()" >Export Preferences </button>
    </div>

    <p class="mt-4"> * Maximum 6 months data can be downloaded </p>
  </div>
</ng-template>
