<div *ngIf="loading">
    <span class="spinner-border spinner-border-sm mr-1"></span> Loading
</div>
<div>
    <div class="container-fluid">
      
        <div class="row">
            <div class="col-sm-12 clientfacingform">
                <!-- {{webFormControlList | json}} -->
                
                <!-- <div class="headerwrapper">
                    <div class="logocontainer py-2" [style.background-color]="headerColor">
                        <img class="img-responsive logowidth"  [src]="headerlogoURL ? headerlogoURL:'assets/imgs/no_image.png'"
                            width="150px" />
                    </div>
                    <div class="quilleditor-wrapper py-2">
                        <div class="quilleditor" [ngStyle]="welcomeStyle()" [innerHTML]="editorDataWelcome?editorDataWelcome:welcomeText"></div>
                    </div> 
                </div> -->
                <div class="headerwrapper">
                    <div class="logocontainer py-2" [style.background-color]="headerColor">
                        <img class="img-responsive logowidth"
                            [src]="headerlogoURL ? headerlogoURL:'assets/imgs/no_image.png'" width="150px" />
                    </div>
                    <div class="quilleditor-wrapper py-2">
                        <div class="quilleditor" [ngStyle]="welcomeStyle()"
                            [innerHTML]="editorDataWelcome?editorDataWelcome:welcomeText"></div>
                    </div>
                </div>

                 
                <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">

                    <ng-container *ngFor="let webcontrol of webFormControlList; let j = index;">
                        <!-- {{webcontrol | json}} -->
                            <div [style.display]="(webcontrol.controlId === 'headerlogo' || webcontrol.controlId === 'welcometext') ? 'none' : 'visible' ">
                            </div>

                        <!-- <h3 [hidden]="webcontrol.controlId === 'headerlogo' || webcontrol.controlId === 'welcometext'">
                            Your favorite hero is: {{favoriteHero}}
                          </h3> -->
                          
                    <div *ngIf="webcontrol.controlId === 'requesttype'" class="col-sm-6 example-box">
                        <label>{{webcontrol.controllabel}} </label>
                        <div  *ngIf="webcontrol.control === 'select' && webcontrol.controlId === 'requesttype'">
                            <!-- *ngIf="isRequestTypeSelected"-->
                            <select class="form-control" name="{{webcontrol.controllabel}}"
                                [(ngModel)]="requestObject[webcontrol.controllabel]">
                                <option *ngFor="let opt of requestType" [value]="opt.request_type_id">
                                    {{ opt.name }}
                                </option>
                            </select>
                            <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                        </div>
                        <div class="form-check"
                            *ngIf="webcontrol.control === 'radio' && webcontrol.controlId === 'requesttype'">
                            <!-- *ngIf="radioBtnType"-->
                            <div *ngFor="let opt of requestType" class="form-check-inline">
                                <input class="form-check-input" type="radio"
                                    name="{{webcontrol.controllabel}}" [value]='opt.request_type_id'
                                    [(ngModel)]="requestObject[opt.name]" />{{opt.name}}
                                <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />

                            </div>
                        </div>
                        <div class="form-check"
                            *ngIf="webcontrol.control === 'checkbox' && webcontrol.controlId === 'requesttype'">
                            <!-- *ngIf="checkboxBtnType"-->
                            <div *ngFor="let opt of requestType; let i = index;"
                                class="form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                    name="{{webcontrol.controllabel}}" [value]='opt.request_type_id'
                                    [(ngModel)]="requestObject[opt.name]" />{{opt.name}}
                                <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />

                            </div>
                        </div>

                    </div>
                    <div *ngIf="webcontrol.controlId === 'subjecttype'" class="col-sm-6 example-box">
                        <!--webcontrol.control == 'select' && webcontrol.controlId === 'subjecttype' && isSubjectTypeSelected-->
                        <label>{{webcontrol.controllabel}} </label>
                        <div
                            *ngIf="webcontrol.control == 'select' && webcontrol.controlId === 'subjecttype'">
                            <!-- *ngIf="isSubjectTypeSelected"-->
                            <select class="form-control" name="{{webcontrol.controllabel}}"
                                [(ngModel)]="requestObject[webcontrol.controllabel]">
                                <option *ngFor="let userOpt of subjectType"
                                    [value]="userOpt.subject_type_id">
                                    {{ userOpt.name }}
                                </option>
                            </select>
                            <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                        </div>
                        <div class="form-check"
                            *ngIf="webcontrol.control == 'radio' && webcontrol.controlId === 'subjecttype'">
                            <!--*ngIf="subjectTyperadioBtn"-->
                            <div *ngFor="let userOpt of subjectType" class="form-check-inline">
                                <input class="form-check-input" type="radio"
                                    name="{{webcontrol.controllabel}}" [value]='userOpt.subject_type_id'
                                    [(ngModel)]="requestObject[userOpt.name]" />
                                {{userOpt.name}}
                                <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />

                            </div>
                        </div>
                        <div
                            *ngIf="webcontrol.control == 'checkbox' && webcontrol.controlId === 'subjecttype'">
                            <!--*ngIf="subjectTypecheckboxBtnType"-->
                            <div *ngFor="let opt of subjectType; let i = index;"
                                class="form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                    name="{{webcontrol.controllabel}}" [value]='opt.subject_type_id'
                                    [(ngModel)]="requestObject[opt.name]" />{{opt.name}}
                                <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />

                            </div>
                        </div>

                    </div>
                    <div *ngIf="webcontrol.control === 'textbox';else selectOption" class="col-sm-6 example-box">
                        <label> {{webcontrol.controllabel}} </label>
                        <input class="form-control" type="text" name="{{webcontrol.controllabel}}"
                            [(ngModel)]="requestObject[webcontrol.controllabel]" />
                        <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />

                    </div>
                    <div *ngIf="webcontrol.control === 'textarea'" class="col-sm-6 example-box">
                        <label> {{webcontrol.controllabel}} </label>
                        <textarea class="form-control" type="text" name="{{webcontrol.controllabel}}"
                            [(ngModel)]="requestObject[webcontrol.controllabel]"></textarea>
                        <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />

                    </div>
                    <div *ngIf="webcontrol.control === 'datepicker'" class="col-sm-6 example-box">
                        <label> {{webcontrol.controllabel}} </label>
                        <input class="form-control" type="date" name="{{webcontrol.controllabel}}"
                            [(ngModel)]="requestObject[webcontrol.controllabel]" />
                        <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />

                    </div>
                    <div class="form-check example-box"
                        *ngIf="webcontrol.control === 'radio' && webcontrol.controlId !== 'requesttype' && webcontrol.controlId !== 'subjecttype'">
                        <label class="heading">{{webcontrol.controllabel}}</label>
                        <div *ngFor="let userOpt of webcontrol.selectOptions" class="form-check-inline">
                            <input class="form-check-input" type="radio"
                                name="{{webcontrol.controllabel}}" [value]='userOpt.name'
                                [(ngModel)]="requestObject[userOpt.name]" />
                            {{userOpt.name}}
                            <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />

                        </div>
                    </div>
                    <ng-template #selectOption>
                        <div class="col-sm-6 example-box"
                            *ngIf="webcontrol.control == 'select' && webcontrol.controlId !== 'subjecttype' && webcontrol.controlId !== 'requesttype'">
                            <label> {{webcontrol.controllabel}} </label>
                            <select class="form-control" name="{{webcontrol.controllabel}}"
                                [(ngModel)]="requestObject[webcontrol.controllabel]">
                                <option *ngFor="let data of webcontrol.selectOptions" [value]="data.id">
                                    {{ data.name }}
                                </option>
                            </select>
                            <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />

                        </div>
                    </ng-template>
                    <div class="form-check example-box"
                        *ngIf="webcontrol.control == 'checkbox' && webcontrol.controlId !== 'subjecttype' && webcontrol.controlId !== 'requesttype'">
                        <label class="form-check-label"> {{webcontrol.controllabel}}</label>
                        <div *ngFor="let opt of webcontrol.selectOptions; let i = index;"
                            class="form-check-inline">
                            <input class="form-check-input" type="checkbox"
                                name="{{webcontrol.controllabel}}" [value]='opt.id'
                                [(ngModel)]="requestObject[opt.name]" />{{opt.name}}
                            <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />

                        </div>
                    </div>
                </ng-container>
               
                    <div class="col-sm-3 example-box mt-2" *ngIf="!loading"> <button class="btn btn-primary btn-block"
                            type="submit"> Submit </button></div>
                            <div class="quilleditor-wrapper py-2 border-top">
                                <div class="text-right">powered by <img src="https://adzapier.com/wp-content/uploads/2020/01/adzapier_logo_blue.png" width="100px" height="auto"/></div>
                                <div class="quilleditor" [ngStyle]="footerStyle()"
                                    [innerHTML]="footerText"></div>
                                <div class="text-center">emailprivacy@adzapier.com</div>    
                            </div>
                
                </form>
               
            </div>
        </div>
    </div>
</div>