<!-- requestFormControls {{requestFormControls | json}} <br/> -->
<hr/>
<div class="example-container">
    <div class="row">
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="requestFormControls"
            [cdkDropListConnectedTo]="[doneList]" class="col-sm-4 example-list" (cdkDropListDropped)="drop($event)">
            <h3>Drag Form Fields</h3>
            <div *ngIf="!isEditingList">
                <div class="drag-list" *ngFor="let item of requestFormControls; let i = index;" cdkDrag>
                    <span cdkDragHandle>
                        <svg width="24px" fill="#ccc" viewBox="0 0 24 24">
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </span>
                    <span class="control-label">
                        {{item.controllabel}}
                    </span>
                    <button *ngIf="isCustomControlWithRadioBtn(item)" class="btn btn-sm btn-outline-primary editbtn" (click)="deleteSelectedItem(item)">
                        delete
                    </button>
                    <button class="btn btn-sm btn-outline-primary editbtn" (click)="editSelectedRow(item)">
                        <div><i class="fas fa-pen"></i></div>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="p-2" *ngIf="!isAddingFormControl"><button class="btn btn-primary smallbtn"
                                (click)="addingFormControl()">Add new</button></div>

                    </div>


                </div>

                <div *ngIf="isAddingFormControl" class="col-sm-12 custom-controls">
                    <form #customFields="ngForm" (ngSubmit)="addCustomFields(customFields)">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>Create Custom Fields<div>
                                        <button type="button" (click)="cancelAddingFormControl()"
                                            class="btn btn-danger">
                                            <span>&#10006;</span>
                                        </button>
                                    </div>
                                </h5>
                            </div>

                            <div style="display: flex;" *ngIf="!isEditingList">
                                <div class="col-sm-8 custom-controls">
                                    <label>Select Field Type
                                        <select class="form-control" (change)="onChangeEvent($event)"
                                            name="selectOptionControl" [(ngModel)]="selectOptionControl">
                                            <option *ngFor="let status_item of controlOption"
                                                [value]="status_item.control">
                                                {{status_item.control}}
                                            </option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-sm-4">
                                    <br />
                                    <button type="button" (click)="addFormField()"
                                        class="btn btn-primary">{{showFormOption?'Cancel':'Add'}}</button>
                                </div>
                            </div>

                            <div *ngIf="isEditingList && editSelectionType">
                                <div class="col-sm-12 custom-controls">
                                    <label>Display Type
                                        <select class="form-control" (change)="updateControlType($event)"
                                            name="changeControlType" [(ngModel)]="changeControlType">
                                            <option *ngFor="let status_item of editableControlOption"
                                                [value]="status_item.control">
                                                {{status_item.control}}
                                            </option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showFormOption" id="selectControl">
                            <label>Add control label
                                <input type="text" class="form-control" name="lblText" [(ngModel)]="lblText"
                                    placeholder="Add label text">
                            </label>
                            <div *ngIf="selectedControlType" class="addoption">
                                <label>Add Options</label>
                                <ul>
                                    <li *ngFor="let item of selectOptions; let i = index;">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" [(ngModel)]="item.name"
                                                    [ngModelOptions]="{standalone: true}" class="form-control" />
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-sm btn-danger"
                                                    (click)="deleteSelectOption(i)"><span
                                                        style="font-size: 13px;">&#10005;</span></button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="demo-btn-group">
                                        <button type="button" *ngIf="selectedControlType" class="btn btn-xs btn-primary"
                                            (click)="addOptions()">Add
                                            option</button>
                                        <button type="submit" class="btn btn-xs btn-success">Save</button>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="requestFormControls"
            [cdkDropListConnectedTo]="[todoList]" class="col-sm-8 example-list" (cdkDropListDropped)="drop($event)">
            
            <h5>Edit Web Form for {{propertyname}}</h5>
            <!-- <div class="card-body">
                <div class="heading">Form Name </div>
                <input class="form-control" type="text" name="form_name" [(ngModel)]="formName" />
            </div> -->
            <form #regsiterForm="ngForm" (ngSubmit)="register(regsiterForm)">
                
                <div class="example-box" *ngFor="let webcontrol of requestFormControls; let j = index;" cdkDrag
                    [cdkDragDisabled]="true">
                    <div *ngIf="webcontrol.controlId === 'requesttype'" class="card">
                        <div class="heading"> {{webcontrol.controllabel}}</div>
                        <div class="card-body">
                            <div *ngIf="webcontrol.control === 'select' && webcontrol.controlId === 'requesttype'"> <!-- *ngIf="isRequestTypeSelected"-->
                                <select class="form-control" name="{{webcontrol.controllabel}}"
                                    [(ngModel)]="requestObject[webcontrol.controllabel]">
                                    <option *ngFor="let opt of requestType" [value]="opt.country">
                                        {{ opt.country }}
                                    </option>
                                </select>
                                <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                            </div>
                            <div *ngIf="webcontrol.control === 'radio' && webcontrol.controlId === 'requesttype'"> <!-- *ngIf="radioBtnType"-->
                                <div *ngFor="let opt of requestType" class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="{{webcontrol.controllabel}}"
                                            [value]='opt.country'
                                            [(ngModel)]="requestObject[opt.country]" />{{opt.country}}
                                        <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="webcontrol.control === 'checkbox' && webcontrol.controlId === 'requesttype'"> <!-- *ngIf="checkboxBtnType"-->
                                <div *ngFor="let opt of requestType; let i = index;" class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="{{webcontrol.controllabel}}"
                                            [value]='opt.country'  
                                            [(ngModel)]="requestObject[opt.country]" />{{opt.country}}
                                        <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="webcontrol.controlId === 'subjecttype'" class="card">
                        <div class="heading"> {{webcontrol.controllabel}}</div>
                        <div class="card-body"> <!--webcontrol.control == 'select' && webcontrol.controlId === 'subjecttype' && isSubjectTypeSelected-->
                            <div *ngIf="webcontrol.control == 'select' && webcontrol.controlId === 'subjecttype'"> <!-- *ngIf="isSubjectTypeSelected"-->
                                <select class="form-control" name="{{webcontrol.controllabel}}"
                                    [(ngModel)]="requestObject[webcontrol.controllabel]">
                                    <option *ngFor="let userOpt of subjectType" [value]="userOpt.name">
                                        {{ userOpt.name }}
                                    </option>
                                </select>
                                <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                            </div>
                            <div *ngIf="webcontrol.control == 'radio' && webcontrol.controlId === 'subjecttype'"> <!--*ngIf="subjectTyperadioBtn"-->
                                <div *ngFor="let userOpt of subjectType" class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="{{webcontrol.controllabel}}"
                                            [value]='userOpt.name' [(ngModel)]="requestObject[userOpt.name]" />
                                        {{userOpt.name}}
                                        <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="webcontrol.control == 'checkbox' && webcontrol.controlId === 'subjecttype'"> <!--*ngIf="subjectTypecheckboxBtnType"-->
                                <div *ngFor="let opt of subjectType; let i = index;" class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="{{webcontrol.controllabel}}"
                                            [value]='opt.name'  
                                            [(ngModel)]="requestObject[opt.name]" />{{opt.name}}
                                        <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="webcontrol.control === 'textbox';else selectOption" class="card">
                        <div class="card-body">
                            <label> {{webcontrol.controllabel}}
                                <input class="form-control" type="text" name="{{webcontrol.controllabel}}"
                                    [(ngModel)]="requestObject[webcontrol.controllabel]" />
                                <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                            </label>
                        </div>
                    </div>
                    <div *ngIf="webcontrol.control === 'textarea'" class="card">
                        <div class="card-body">
                            <label> {{webcontrol.controllabel}}
                                <textarea class="form-control" type="text" name="{{webcontrol.controllabel}}"
                                    [(ngModel)]="requestObject[webcontrol.controllabel]"></textarea>
                                <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                            </label>
                        </div>
                    </div>
                    <div *ngIf="webcontrol.control === 'radio' && webcontrol.controlId !== 'requesttype' && webcontrol.controlId !== 'subjecttype'"  class="card">
                        <div class="heading"> {{webcontrol.controllabel}} {{webcontrol.controlId}}</div>
                        <div class="card-body">
                                <div *ngFor="let userOpt of webcontrol.selectOptions" class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="{{webcontrol.controllabel}}"
                                            [value]='userOpt.name' [(ngModel)]="requestObject[userOpt.name]" />
                                        {{userOpt.name}}
                                        <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                                    </label>
                                </div>
                        </div>
                    </div>
                    <ng-template #selectOption>
                        <div *ngIf="webcontrol.control == 'select' && webcontrol.controlId !== 'subjecttype' && webcontrol.controlId !== 'requesttype'"
                            class="card">
                            <div class="card-body">
                                <label> {{webcontrol.controllabel}}
                                    <select class="form-control" name="{{webcontrol.controllabel}}"
                                        [(ngModel)]="requestObject[webcontrol.controllabel]">
                                        <option *ngFor="let data of webcontrol.selectOptions" [value]="data.id">
                                            {{ data.name }}
                                        </option>
                                    </select>
                                    <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" />
                                </label>
                            </div>
                        </div>
                    </ng-template>
                    <div *ngIf="webcontrol.control == 'checkbox' && webcontrol.controlId !== 'subjecttype' && webcontrol.controlId !== 'requesttype'"
                            class="card">
                            <div class="card-body">
                                <label> {{webcontrol.controllabel}}
                                    <div *ngFor="let opt of webcontrol.selectOptions; let i = index;" class="form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="{{webcontrol.controllabel}}"
                                                [value]='opt.id'  
                                                [(ngModel)]="requestObject[opt.name]" />{{opt.name}}
                                            <!-- <input type="hidden" name="{{webcontrol.indexCount}}" [ngModel]="j+1" /> -->
                                        </label>
                                    </div>
                                </label>
                            </div>
                        </div>
                </div>
                <div class="col-sm-3"> <button class="btn btn-primary btn-block" (click)="publishCCPAFormConfiguration()" type="button">Save</button></div>
            </form>
           
            <!-- requestFormControls | {{requestFormControls | json}} -->
           
        </div>
    </div>
</div>

