.banner-action-btn{
  padding-top: 35px;
}
.banner-bottom{
  position: relative;
  top: 475px;
  box-shadow: 0 -1px 10px 0 rgb(172 171 171 / 30%);
}

.gdpr-banner-bottom{
  position: relative;
  top: 404px;
  box-shadow: 0 -1px 10px 0 rgb(172 171 171 / 30%);
}
.banner-border-top{
  border-top: 2px solid #162893;
}
.gdpr-border-right {
  border-right: 2px solid #1b365d;
}
