<div class="card">
  <ng-container *ngIf="pageStep === 1">
  <div class="card-body" >
    <a href="javascript:;" class="back-to-list-btn mb-2" (click)="backHome.emit(true)"><i class="fas fa-chevron-left"></i> GoBack</a>
    <div class="row">
      <div class="form-group col-md-5">
        <label for="exampleFormControlSelect1">Email Address</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="emailAddress">
          <ng-container  *ngFor="let option of formObject.request_form">
            <option [value]="option.controlId" *ngIf="option.controlId === 'email'">form.{{option.controllabel}}</option>
            <option [value]="option.controllabel.replaceAll(' ', '_').toLowerCase()" *ngIf="option.controlId.slice(0, 11) === 'CustomInput'">form.{{option.controllabel}}</option>
          </ng-container>
        </select>
        <p class="mt-3 text-danger" *ngIf="emailAddress === ''">Email is Required</p>
      </div>
    </div>
    <div class="row mt-4 mb-5 margin-auto">
      <div class="text-center margin-auto">
        <button pButton pRipple type="button" (click)="onConnectionListPage()" label="Cancel" class="p-button-secondary mr-3"></button>
        <button  *ngIf="!isUpdate" pButton pRipple type="button" (click)="onSubmit()" label="Save"></button>
        <button *ngIf="isUpdate" pButton pRipple type="button" (click)="onSubmit()" label="Update"></button>
      </div>

    </div>
  </div>
  </ng-container>
  <ng-container  *ngIf="pageStep === 2">
  <div class="card-body">
    <a href="javascript:;" class="back-to-list-btn mb-2" (click)="backHome.emit(true)"><i class="fas fa-chevron-left"></i> GoBack</a>
    <div class="row">
      <div class="col-md-12 mt-5 text-center mb-5">
        <h5><i style="font-size: 40px;" class="fas fa-check-circle tx-success mr-2"></i><span style="vertical-align: super;"> The Connection Configuration Successfully Saved </span></h5>
        <button class="btn btn-link" type="button" (click)="onConnectionListPage()"><i class="fas fa-chevron-left mr-2"></i> Back to connection list</button>
      </div>
    </div>
  </div>
  </ng-container>

</div>



<div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
  <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000"
  ><span [innerHTML]="alertMsg"></span></alert>
</div>
