.webform-wrapper .card-columns {
    display: flex;
    flex-wrap: wrap;
}

.webform-wrapper .card-columns .card {
    display: inline-block;
    width: 32%;
}

.flex-justify-content {
    display: flex;
    justify-content: space-between;
}

.btn-outline-danger:disabled {
    pointer-events: none;
}
