<div class="webform-wrapper">
<div class="card-columns">
<ng-container *ngFor="let data of dataList;let i = index;">
    <div class="card" *ngIf="data.active">
        <div class="card-body">

            <div class="row">
                <div class="col-7">
                    <p
                        class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
                        Name</p>
                    <div class="d-flex align-items-center">
                        <span
                            class=" tx-12  tx-normal tx-spacing-1 tx-color-01 ">{{data.form_name?data.form_name:'form name not available'}}</span>
                    </div>
                </div>
                <div class="col-5 pr-0 pl-0">
                    <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">
                        ORGANIZATION</p>
                    <div class="d-flex">

                        <span
                            class=" tx-12  tx-normal tx-spacing-1 tx-color-01 ">{{currentOrganization}}</span>
                    </div>
                </div>
                <div class="col-7 mg-t-10">
                    <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Property
                    </p>
                    <div class="d-flex">

                        <span
                            class=" tx-12  tx-normal tx-spacing-1 tx-color-01 ">{{currentPropertyName}}</span>
                    </div>
                </div>

                <div class="col-5 mg-t-10 pr-0 pl-0">
                    <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Create
                    </p>
                    <div class="d-flex">
                        <span
                            class="tx-10 tx-medium  tx-color-01">{{data.created_at | date:'medium' }}</span>

                    </div>
                </div>
                <div class="col-7 mg-t-10">
                    <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Status
                    </p>
                    <div class="d-flex align-items-center">
                        <span class="tx-color-05 badge text-capitalize"
                            [ngClass]="{'badge-success':data.form_status=='publish','badge-light':data.form_status=='draft' || data.form_status=='Draft'}">{{data.form_status}}</span>
                    </div>
                </div>
                <div class="col-5 mg-t-10 pr-0 pl-0">
                    <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Update
                    </p>
                    <div class="d-flex">
                        <span class=" tx-10  tx-medium  tx-color-01">
                            {{data.updated_at | date:'medium'}}</span>
                    </div>
                </div>


            </div>
        </div>
        <div class="card-footer flex-justify-content">
                <button class="btn btn-primary btn-xs button" (click)="showForm(data)">View</button>
                <button class="btn btn-outline-danger btn-xs button" [disabled]="data.form_status=='publish'" (click)="deleteForm(data)">Delete</button>
        </div>
    </div>
</ng-container>
</div>
</div>