
<!-- <app-header></app-header> -->

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(type)">

        <fieldset class="form-fieldset">
            <legend>Full Name</legend>
            <div class="form-group">
              <label class="d-block">First Name</label>
              <input type="text" formControlName="firstName"  class="form-control" placeholder="Enter your firstname"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" pattern="^[a-zA-Z ]{3,20}$">
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback" >
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                <div *ngIf="f.firstName.errors.pattern">First Name Allow Only Alphabets(min 3 & max 20 Char)</div>
            </div>
            </div>
            <div class="form-group">
              <label class="d-block">Last Name</label>
              <input type="text" formControlName="lastName"  class="form-control" placeholder="Enter your lastname"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" pattern="^[a-zA-Z ]{3,20}$">
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback" >
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                <div *ngIf="f.lastName.errors.pattern">Last Name Allow Only Alphabets(min 3 & max 20 Char)</div>
            </div>
            </div>

            <div class="text-right">
                <button class="btn btn-primary mr-2" type="button" (click)="editUserDetails()">Edit</button>
                <button class="btn btn-primary mr-2" type="submit" [disabled]="!profileForm.valid">Save</button>
            </div>
          </fieldset>

        <br>
        <!-- ================================ -->
      

         <fieldset class="form-fieldset">
            <legend>Change Email</legend>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="newemail" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.newemail.errors }" 
                placeholder="Enter your email address" pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$">
                <div *ngIf="submitted && f.newemail.errors" class="invalid-feedback">
                    <div *ngIf="f.newemail.errors.required">Email address is required</div>
                    <div *ngIf="f.newemail.errors.pattern">Please enter a valid email</div> 
                </div>
              </div>

            <div class="text-right">
                <button class="btn btn-primary mr-2">Edit</button>
                <button class="btn btn-primary mr-2">Save</button>
            </div>
          </fieldset>

          <br>
   
        <fieldset class="form-fieldset">
            <legend>Change Password</legend>
            <div class="form-group">
                    <label for="currentpassword">Current Password</label>
                    <input type="password" formControlName="currentpassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.currentpassword.errors }" placeholder="Enter Current password"
                        pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$" >
                    <div *ngIf="submitted && f.currentpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.currentpassword.errors.required">Current Password is required</div>
                        <div *ngIf="f.currentpassword.errors.pattern">Enter Valid Current Password (Ex: Aa@2aa) and minimum
                            6 charcters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newpassword">New Password</label>
                    <input type="password" formControlName="newpassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" placeholder="Enter New password"
                        pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$" >
                    <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newpassword.errors.required">New Password is required</div>
                        <div *ngIf="f.newpassword.errors.pattern">Enter Valid New Password (Ex: Aa@2aa) and minimum 6
                            charcters </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" formControlName="confirmpassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" placeholder="Enter Confirm password"
                        pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$" >
                    <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmpassword.errors.pattern">Enter Confirm Password Password (Ex: Aa@2aa) and minimum 6
                            charcters </div>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary mr-2" (click)="isDisabled = false">Edit</button>
                    <button class="btn btn-primary mr-2" (click)="isDisabled = false">Save</button>
                </div>

        </fieldset>
    


    </form> 



        <!-- ================================ -->
        <br>
    <!-- <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">    
        <fieldset class="form-fieldset">
            <div class="form-group">
                <label for="password" style="font-weight: bold;">Change Password</label>
                <div class="form-group">
                    <label for="currentpwd">Current Password</label>
                    <input type="password" formControlName="currentpwd" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && h.currentpwd.errors }" placeholder="Enter Current password"
                        pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$" />
                    <div *ngIf="submitted && h.currentpwd.errors" class="invalid-feedback">
                        <div *ngIf="h.currentpwd.errors.required">Current Password is required</div>
                        <div *ngIf="h.currentpwd.errors.pattern">Enter Valid Current Password (Ex: Aa@2aa) and minimum
                            6 charcters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newpwd">New Password</label>
                    <input type="password" formControlName="newpwd" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && h.newpwd.errors }" placeholder="Enter New password"
                        pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$" />
                    <div *ngIf="submitted && h.newpwd.errors" class="invalid-feedback">
                        <div *ngIf="h.newpwd.errors.required">New Password is required</div>
                        <div *ngIf="h.newpwd.errors.pattern">Enter Valid New Password (Ex: Aa@2aa) and minimum 6
                            charcters </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confpwd">Confirm Password</label>
                    <input type="password" formControlName="confpwd" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && h.confpwd.errors }" placeholder="Enter Confirm password"
                        pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$" />
                    <div *ngIf="submitted && h.confpwd.errors" class="invalid-feedback">
                        <div *ngIf="h.confpwd.errors.required">Confirm Password is required</div>
                        <div *ngIf="h.confpwd.errors.pattern">Enter Confirm Password Password (Ex: Aa@2aa) and minimum 6
                            charcters </div>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary mr-2">Save</button>

                </div>

                

            </div>
        </fieldset>
    </form> -->
         <!-- <div *ngIf="show" style="color: blue;" class="tx-13"><p>Profile updated Successfully...!</p></div> -->
    
<!-- </div> -->


<!-- <div>
                    <b><label>Email Referneces</label><br>
                        <input type="checkbox" [ngClass]="{ 'is-invalid': submitted && f.chkemail.errors }">Measure -
                    </b>Receive Weekly updates on how your properties are doing
                </div> -->