<div class="example-container">
    <div class="row">
        
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-12"><h4>Edit User Profile</h4></div>
    <div class="col-sm-6">
            <div class="form-group">
              <label for="firstName" class="d-block">First Name</label>
              <input type="text" formControlName="firstName" name="firstName" [(ngModel)]="firstName" class="form-control" placeholder="Enter your firstname"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback" >
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
            </div>

            <!-- <div class="form-group">
                <label for="organizationname">Name</label>
                <input type="text" class="form-control" [(ngModel)]="organizationname"
                    formControlName="organizationname" name="organizationname"
                    [ngClass]="{ 'is-invalid': submitted && editOrg.organizationname.errors }" />
                <div *ngIf="submitted && editOrg.organizationname.errors" class="invalid-feedback">
                    <div *ngIf="editOrg.organizationname.errors.required">Organization name is required</div>
                </div>
            </div> -->

         
        </div>
        <div class="col-sm-6">
            <div class="form-group">
              <label class="d-block">Last Name</label>
              <input type="text" formControlName="lastName"  class="form-control" placeholder="Enter your lastname"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback" >
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-12"> 
            <div class="form-group">
                <label for="newemail">Email</label>
                <input type="email" formControlName="newemail" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.newemail.errors }" 
                placeholder="Enter your email address" pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$">
                <div *ngIf="submitted && f.newemail.errors" class="invalid-feedback">
                    <div *ngIf="f.newemail.errors.required">Email address is required</div>
                    <div *ngIf="f.newemail.errors.pattern">Please enter a valid email</div> 
                </div>
              </div>
    </div>
   
</div>
<div class="row"> 
    <div class="col-sm-12">
    <div class="form-group">
        <label for="addressone">Address 1</label>
        <input type="text" formControlName="addressone" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.addressone.errors }" 
        placeholder="Enter your address"/>
        <div *ngIf="submitted && f.addressone.errors" class="invalid-feedback">
            <div *ngIf="f.addressone.errors.required">Address 1 is required</div>
        </div>
      </div>
</div>
   
   
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" formControlName="city" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.city.errors }" 
            placeholder="Enter your city" />
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required</div>
            </div>
          </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="state">State</label>
            <input type="text" formControlName="state" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.state.errors }" 
            placeholder="Enter your state" />
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                <div *ngIf="f.state.errors.required">City is required</div>
            </div>
          </div>
    </div>
  
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input type="text" formControlName="zipcode" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" 
            placeholder="Enter your zipcode" />
            <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                <div *ngIf="f.zipcode.errors.required">Zipcode is required</div>
            </div>
          </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>&nbsp;</label>
        <div class="text-right">
            <button class="btn btn-primary mr-2" type="button" (click)="editUserDetails()">{{show?'Edit':'Cancel'}}</button>
            <button class="btn btn-primary mr-2" type="submit" *ngIf="isShowbtnVisible" [disabled]="!profileForm.valid">Save</button>
        </div>
    </div>
        <!-- <div class="form-group">
            <label for="newemail">Roles</label>
            <input type="text" formControlName="roles" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.roles.errors }" 
            placeholder="Enter your role" />
            <div *ngIf="submitted && f.roles.errors" class="invalid-feedback">
                <div *ngIf="f.roles.errors.required">Role is required</div>
            </div>
          </div> -->
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
            
        </div>
    </div>
       
<!--[disabled]="!profileForm.valid"-->
    </form> 
</div>
</div>
 