<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
  <div class="d-sm-flex align-items-center justify-content-between mg-b-5 mg-lg-b-10 mg-xl-b-15">
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
          <li class="breadcrumb-item">Privacy</li>
          <li class="breadcrumb-item">consent preference</li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>
      <h4 class="mg-b-0 tx-spacing--1">Consent Preference Dashboard</h4>
    </div>

    <div class="d-none d-md-block">
      <span id="reportrange"
            style="background: #fff; cursor: pointer; padding: 9px 10px; border: 1px solid #ccc; width: 100%"
            class="rounded-5">
        <i class="fa fa-calendar"></i>&nbsp;
        <span></span> <i class="fa fa-caret-down"></i>

      </span>

      <button style="width: 110px" (click)="onGetConsentData()"
              class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i class="fas fa-sync"></i> Refresh
      </button>
    </div>
  </div>

  <div class="row row-xs">
    <div class="col-sm-6 col-lg-2">
      <div class="card card-body">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total Consent</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{consentData?.totalConsent}}</h3>
          <!--           <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-success">100 <i class="icon ion-md-arrow-up"></i></span> than last week</p>-->
        </div>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-2 mg-t-10 mg-sm-t-0">
      <div class="card card-body">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total Legal Notices</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">

            <span *ngIf="consentData.legalNotice">{{consentData?.legalNotice}}</span>
            <span *ngIf="!consentData.legalNotice">0</span>

          </h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-danger">10 <i class="icon ion-md-arrow-down"></i></span> than last week</p> -->
        </div>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-2 mg-t-10 mg-lg-t-0">
      <div class="card card-body">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total Proofs</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{consentData?.proofs}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-danger">0.3% <i class="icon ion-md-arrow-down"></i></span> than last week</p> -->
        </div>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-2 mg-t-10 mg-lg-t-0">
      <div class="card card-body">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">NewsLetter</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{consentData?.preference.newsLetter}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-success">2.1% <i class="icon ion-md-arrow-up"></i></span> than last week</p> -->
        </div>
      </div>
    </div><!-- col -->


    <div class="col-sm-6 col-lg-2 mg-t-10 mg-lg-t-0">
      <div class="card card-body">
        <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Terms and Conditions</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{consentData?.preference.termOfService}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-success">2.1% <i class="icon ion-md-arrow-up"></i></span> than last week</p> -->
        </div>
      </div>
    </div><!-- col -->


    <div class="col-sm-6 col-lg-2 mg-t-10 mg-lg-t-0">
      <div class="card card-body">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Privacy Policy</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{consentData?.preference.privacyInfo}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-success">2.1% <i class="icon ion-md-arrow-up"></i></span> than last week</p> -->
        </div>
      </div>
    </div><!-- col -->


    <div class="col-lg-8 col-xl-7 mg-t-10">
      <div class="card">
        <div class="card-header pd-y-15 d-md-flex align-items-center justify-content-between">
          <h6 class="mg-b-0">Preference Activity </h6>
        </div><!-- card-header -->
        <div class="card-body pos-relative pd-0">

          <div
            *ngIf="consentData?.preference?.newsLetter || consentData?.preference?.privacyInfo  || consentData?.preference?.termOfService; else noPrefrence"
            class="row chart-size">
            <div class="col-md-8 pb-2 pr-0">
              <div class="chart mt-3">
                <canvas baseChart height="180"
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [colors]="doughnutChartColors">
                </canvas>
              </div>

            </div>

            <div class="col-4 pl-0 tx-12 mg-t-10">
              <div class="pr-3 mt-3">
                <div class="d-flex align-items-center">
                  <div [ngStyle]="{backgroundColor: consentColor[0]}"
                       class="wd-10 ht-10 rounded-circle pos-relative t--1"></div>
                  <span class="tx-medium mg-l-10">NewsLetter</span>
                  <span class="tx-rubik mg-l-auto">{{consentData?.preference?.newsLetter}}</span>
                </div>
                <div class="d-flex align-items-center mg-t-10">
                  <div [ngStyle]="{backgroundColor: consentColor[1]}"
                       class="wd-10 ht-10 rounded-circle pos-relative t--1"></div>
                  <span class="tx-medium mg-l-10">Privacy Info </span>
                  <span class="tx-rubik mg-l-auto">{{consentData?.preference?.privacyInfo}}</span>
                </div>
                <div class="d-flex align-items-center mg-t-10">
                  <div [ngStyle]="{backgroundColor: consentColor[2]}"
                       class="wd-10 ht-10  rounded-circle pos-relative t--1"></div>
                  <span class="tx-medium mg-l-10">Terms and Conditions</span>
                  <span class="tx-rubik mg-l-auto">{{consentData?.preference?.termOfService}}</span>
                </div>
                      <div class="d-flex align-items-center mg-t-10" >
                        <div   [ngStyle]="{backgroundColor: consentColor[3]}" class="wd-10 ht-10 rounded-circle pos-relative t--1" ></div>
                        <span class="tx-medium mg-l-10">Other</span>
                        <span class="tx-rubik mg-l-auto">{{consentData?.preference?.other}}</span>
                      </div>
              </div>
            </div>


          </div>

          <ng-template #noPrefrence>
            <div class="no-chart row chart-size">
              <div class="text-center mt-5"><img
                src="assets/imgs/dash.png"
                style="width: 100px"><h6
              > No Record</h6></div>
            </div>
          </ng-template>


        </div><!-- card-body -->
      </div><!-- card -->
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 mg-t-10">
      <div class="card">
        <div class="card-header">
          <h6 class="mg-b-0">Received Consent</h6>
        </div><!-- card-header -->
        <div class="card-body pd-lg-25" *ngIf="consentData.legalNotice || consentData.proofs || consentData.totalConsent; else noConsent ">
          <div class="chart" >
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend">
            </canvas>
          </div>




        </div><!-- card-body -->
        <ng-template #noConsent>
          <div class="no-chart row chart-size">
            <div class="text-center mt-5"><img
              src="assets/imgs/dash.png"
              style="width: 100px"><h6
            > No Record</h6></div>
          </div>
        </ng-template>
        <div class="card-footer pd-20"  *ngIf="consentData.legalNotice || consentData.proofs || consentData.totalConsent ">
          <div class="row">
            <div class="col-4">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">Total Consent
              </p>
              <div class="d-flex align-items-center">
                <div [ngStyle]="{backgroundColor: consentColor[0]}" class="wd-10 ht-10 rounded-circle  mg-r-5"></div>
                <h5 class="tx-normal tx-rubik mg-b-0">{{consentData?.totalConsent}} </h5>
              </div>
            </div><!-- col -->
            <div class="col-4">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Legal Notice</p>
              <div class="d-flex align-items-center">
                <div [ngStyle]="{backgroundColor: consentColor[1]}" class="wd-10 ht-10 rounded-circle  mg-r-5"></div>
                <h5 class="tx-normal tx-rubik mg-b-0">
                  <span *ngIf="consentData.legalNotice">{{consentData?.legalNotice}}</span>
                  <span *ngIf="!consentData.legalNotice">0</span>

                </h5>
              </div>
            </div><!-- col -->
            <div class="col-4">
              <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Proofs</p>
              <div class="d-flex align-items-center">
                <div [ngStyle]="{backgroundColor: consentColor[2]}" class="wd-10 ht-10 rounded-circle  mg-r-5"></div>
                <h5 class="tx-normal tx-rubik mg-b-0">{{consentData?.proofs}} </h5>
              </div>
            </div><!-- col -->

          </div><!-- row -->
        </div><!-- card-footer -->
      </div><!-- card -->
    </div>


  </div><!-- row -->
</div>
<ng-template #noLicenseForConsentPreference>
  <div class="modal-body text-center">
    <h4>You haven't assigned Consent Preference license to this property</h4>
    <p (click)="onGoBack()" class="cancel-btn btn btn-primary mt-2 mb-2">or Cancel &amp; Go Back</p>
  </div>
</ng-template>
