

  .cart-head{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
  }
  .more-details-text {
    font-size: 12px;
    margin-left: 6px;
    color: blue !important;
    font-weight: 600;
    cursor: pointer;
    text-align: left;
  }
  // .blue-back {
  //   background: #1b365d;
  //   height: 500px;
  //   width: 100%;
  // }
  // .container {
  //   margin-top: -375px;
  // }

  .top-margin {
    margin-top: 110px;
  }
  
  .primary-yellow{
    background: #f0b323;
    width: 32%;
  }
  .btn-group-type button{
  width: 32%;
  }
  
  .btn-group-typess button{
    width: 22%;
    }
  
  .button-text {
    font-size: 21px;
    font-weight: 600;
    color: #1b365d;
  }
  .btn-primary{
    background: #1b365d
  }
  .margin-auto{
    margin: auto !important;
  }

  
  .qs-position {
    left: 100px;
    top:300px
  }
  
  .btn-qs-pricing-hightlight {
    border: 1px solid #b4d3ff;
    box-shadow: 1px 1px 10px #001d6d;
  }

  .alert-success {
    background-color: #10b759;
    border-color: #10b759;
    color: #fff;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .flotingdiv{
    position: fixed;
    bottom: 0;
    top: 84%;
    right:0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #spinner {
    -webkit-animation: frames 1s infinite linear;
    animation: frames 2s infinite linear;
    background: transparent;
    border: 0.5vw solid #001737;
    border-radius: 100%;
    border-top-color: white;
    width: 4vw;
    height: 4vw;
    // opacity: .6;
    padding: 0;
    position: absolute;
    z-index: 999;
  }
  @keyframes frames {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    }
  }