
<div>
<div class="container">
  <div class=" ht-100p tx-center top-margin">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row">

          <div class="text-center text-head col-md-12 mb-2">
            <h1 class="tx-white"><span style="color: #f0b323">Your Cart</span></h1>
            
          </div>
        </div>
        <div class="btn-group-typess text-center mt-3">
          <button type="button" (click)="CurrentOpen()" [ngClass]="{'primary-yellow' : currentStep === 0}"
            class="button-text btn-white btn mr-2">All
          </button>
          <button type="button" (click)="CurrentOpenOne()" [ngClass]="{'primary-yellow' : currentStep === 1}"
            class="button-text btn-white btn mr-2">Cookie Consent
          </button>
          <button type="button" (click)="CurrentOpenTwo()" [ngClass]="{'primary-yellow' : currentStep === 2}"
            class="button-text btn btn-white mr-2">DSAR
          </button>
          <button type="button" (click)="CurrentOpenThree()" [ngClass]="{'primary-yellow' : currentStep === 3}"
            class="button-text btn-white btn mr-2">Consent Preference
          </button>
        </div>
      </div>
      <div *ngIf="currentStep == 0 && isLoading" class="col-md-12 p-0 mt-4">
        <div class="card cart-box ">
          <div class="card-body">
            <div *ngIf="isLoading" style="margin-top: 60px;" class="d-flex align-items-center justify-content-center">
              <h3 class="mb-5 mt-5 text-center">Loading Cart...</h3>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="cartRecordList.length == 0 && currentStep == 0 && !isLoading" class="col-md-12 p-0 mt-4">
        <div class="card cart-box ">
          <div class="card-body">
            <h3 class="mb-5 mt-5 text-center">Your Cart is Empty !!!</h3>

           <a routerLink="/settings/billing/pricing" [queryParams]="{oid:queryOID , pid:queryPID}"><h2 style="color: rgb(6,69,173);text-decoration: underline;" class="mb-4 mt-4 text-center">Click here to add a Plan </h2></a>
          </div>
          </div>
          </div>

      <div *ngIf="cartRecordList.length > 0 && currentStep == 0" class="col-md-12 p-0 mt-4">
        <div class="card cart-box ">
          <div class="card-body">
            <h3 class="mb-4 text-center">All Plans</h3>

            <div  class="row mt-2" *ngFor="let cart of cartRecordList; let i = index"
              style="border-bottom: 1px solid lightgray;">
              <div style="text-align: left" class="col-md-6">
                <h5 class="cart-head">{{cart.Product}}
                </h5>
                <h6 class="pt-2 font-weight-bold tx-13">Property / Organization - {{cart.Cycle}}</h6>
              </div>
              <div class="col-md-5 mb-3">
                <h5>${{cart.Price * cart.Quantity}}.00</h5>
                <div class=" w-100 m-auto form-group mb-2 dp-safari">
                  <input type="text" #cartId [value]="cart.CartId" disabled hidden>
                  <!-- <select  (change)="onUpdateCart(cartProperty, i, cartId)" #cartProperty [value]="cart.Quantity"
                    style="height: 32px;" class="mb-2 w-25 margin-auto form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select> -->
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: large;" (click)="Subs(cartProperty,i,cartId)">-</button>

              <input disabled [value]="cart.Quantity" (change)="onUpdateCart(cartProperty, i, cartId)" style="width: 40px;text-align: center;height:40px;" #cartProperty type="text" id="sel1" required pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';"
              >
              <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: large;" (click)="Add(cartProperty,i,cartId)">+</button>
    
            </div>
              </div>

              <div>
                <h4 (click)="onRemoveCartItem(i , cartId)" style="cursor: pointer" class="pt-3 text-danger"><i
                  class="fa fa-times" aria-hidden="true"></i>
              </h4>
              </div>
            </div>


            <div class="row mt-1 pt-3">
              <div class="col-md-6">
                <h5 class=" font-weight-bold text-left">Subtotal</h5>
                <!-- <h6 class="font-weight-bold text-left">Discount</h6> -->
              </div>
              <div class="col-md-5 text-left">
                <h5 class="text-center">${{ subTotal + '.00' }} </h5>
                <!-- <h5 class="text-center">${{percentOff ? subTotal * percentOff / 100 : '0.00'}} ({{percentOff}}%)</h5> -->
              </div> 
              </div>
              <div class="col-md-1">
            </div>


            <div class="row mt-3 pt-3" style="border-top: 1px dotted lightgray">
              <div class="col-md-6">
                <h5 class="text-left font-weight-bold">Total</h5>
              </div>
              <div class="col-md-5">
                <h5>${{ percentOff ? subTotal - subTotal * percentOff / 100 : subTotal + '.00' }}</h5>
              </div>

            </div>
            <div class="row  mt-3 pt-3" style="border-top: 1px dotted lightgray">
              <!-- <div class="col-md-6">
                <div class="row mt-3">
                  <div class="col-md-4">
                    <h5 class="pt-2 font-weight-bold text-left tx-14"> Promo Code</h5>
                  </div>
                  <div class="col-md-5 text-right p-0">
                    <input type="text" class="form-control mb-1 w-100" [(ngModel)]="promoCode" [disabled]="percentOff"
                      [ngClass]="{'is-invalid' : isPromoCodeError}" placeholder="Promo Code">
                    <div *ngIf="isPromoCodeError" class="invalid-feedback" style="width: 205px;">
                      The promo code you entered is not valid
                    </div>
                                 <a href="javascript:;" *ngIf="promoCode && !percentOff" class="mr-1 text-primary"
                                    (click)="onApplyCoupon()">Apply</a>
                                   <a href="javascript:;"  class="mr-1 text-primary" (click)="onRemoveCoupon()">Remove</a>
                    <div *ngIf="percentOff" class="text-success text-left">Promo Code Applied
                      <i class="fa fa-times cursorpointer close-btn" (click)="onRemoveCoupon()" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button type="button" class="btn btn-outline-secondary" 
                    (click)="onApplyCoupon()">Apply
                    </button>
                  </div>
                </div>
              </div> -->
              <div class="col-md-12" >
                <button type="button" routerLink="/settings/billing/cartreview" [queryParams]="{oid:queryOID , pid:queryPID}"  
                  class="pl-5 mb-3 mt-3 w-50 ml-5  font-weight-bold pr-5 btn-lg btn btn-primary">Review Your cart
                </button>
              </div>

            </div>
            

          </div>
        </div>
      </div>

      <div *ngIf="cookieConsent.length == 0 && currentStep == 1" class="col-md-12 p-0 mt-4">
        <div class="card cart-box ">
          <div class="card-body">
            <h3 class="mb-5 mt-5 text-center">Your have not added any Cookie Consent Plan !!!</h3>
            <a routerLink="/settings/billing/pricing" [queryParams]="{oid:queryOID , pid:queryPID}"><h2 style="color: rgb(6,69,173);text-decoration: underline;" class="mb-4 mt-4 text-center">Click here to add a Plan</h2></a>
          </div>
          </div>
          </div>


      <div *ngIf="cookieConsent.length > 0 && currentStep == 1" class="col-md-12 p-0 mt-4">
        <div class="card cart-box ">
          <div class="card-body">
            <h3 class="mb-4 text-center">Cookie Consent Plans</h3>

            <div  class="row mt-2" *ngFor="let cart of cookieConsent; let i = index"
              style="border-bottom: 1px solid lightgray;">
              <div style="text-align: left" class="col-md-6">
                <h5 class="cart-head">{{cart.Product}}
                </h5>
                <h6 class="pt-2 font-weight-bold tx-13">Property / Organization - {{cart.Cycle}}</h6>
              </div>
              <div class="col-md-5 mb-3">
                <h5>${{cart.Price * cart.Quantity}}.00</h5>
                <div class=" w-100 m-auto form-group mb-2 dp-safari">
                  <input type="text" #cartId [value]="cart.CartId" disabled hidden>
                  <!-- <select  (change)="onUpdateCart(cartProperty, i, cartId)" #cartProperty [value]="cart.Quantity"
                    style="height: 32px;" class="mb-2 w-25 margin-auto form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select> -->
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: large;" (click)="Subs(cartProperty,i,cartId)">-</button>

              <input disabled [value]="cart.Quantity" (change)="onUpdateCart(cartProperty, i, cartId)" style="width: 40px;text-align: center;height:40px;" #cartProperty type="text" id="sel1" required pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';"
              >
              <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: large;" (click)="Add(cartProperty,i,cartId)">+</button>
    
            </div>
              </div>

              <div>
                <h4 (click)="onRemoveCartItem(i , cartId)" style="cursor: pointer" class="pt-3 text-danger"><i
                  class="fa fa-times" aria-hidden="true"></i>
              </h4>
              </div>
            </div>


            <div class="row mt-1 pt-3">
              <div class="col-md-6">
                <h5 class=" font-weight-bold text-left">Subtotal of Cookie Consent Plans</h5>
              </div>
              <div class="col-md-5 text-left">
                <h5 class="text-center">${{ cookiesubTotal + '.00' }} </h5>
              </div> 
              </div>
              <div class="col-md-1">
            </div>

            <div class="row mt-1 pt-3" style="border-top: 1px dotted lightgray">
              <div class="col-md-6">
                <h5 class=" font-weight-bold text-left">Subtotal</h5>
                <!-- <h6 class="font-weight-bold text-left">Discount</h6> -->
              </div>
              <div class="col-md-5 text-left">
                <h5 class="text-center">${{ subTotal + '.00' }} </h5>
                <!-- <h5 class="text-center">${{percentOff ? subTotal * percentOff / 100 : '0.00'}} ({{percentOff}}%)</h5> -->
              </div> 
              </div>
              <div class="col-md-1">
            </div>


            <div class="row mt-3 pt-3" style="border-top: 1px dotted lightgray">
              <div class="col-md-6">
                <h5 class="text-left font-weight-bold">Total</h5>
              </div>
              <div class="col-md-5">
                <h5>${{ percentOff ? subTotal - subTotal * percentOff / 100 : subTotal + '.00' }}</h5>
              </div>

            </div>
            <div class="row  mt-3 pt-3" style="border-top: 1px dotted lightgray">
              <!-- <div class="col-md-6">
                <div class="row mt-3">
                  <div class="col-md-4">
                    <h5 class="pt-2 font-weight-bold text-left tx-14"> Promo Code</h5>
                  </div>
                  <div class="col-md-5 text-right p-0">
                    <input type="text" class="form-control mb-1 w-100" [(ngModel)]="promoCode" [disabled]="percentOff"
                      [ngClass]="{'is-invalid' : isPromoCodeError}" placeholder="Promo Code">
                    <div *ngIf="isPromoCodeError" class="invalid-feedback" style="width: 205px;">
                      The promo code you entered is not valid
                    </div>
                                 <a href="javascript:;" *ngIf="promoCode && !percentOff" class="mr-1 text-primary"
                                    (click)="onApplyCoupon()">Apply</a>
                                   <a href="javascript:;"  class="mr-1 text-primary" (click)="onRemoveCoupon()">Remove</a>
                    <div *ngIf="percentOff" class="text-success text-left">Promo Code Applied
                      <i class="fa fa-times cursorpointer close-btn" (click)="onRemoveCoupon()" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button type="button" class="btn btn-outline-secondary" 
                    (click)="onApplyCoupon()">Apply
                    </button>
                  </div>
                </div>
              </div> -->
              <div class="col-md-12" >
                <button type="button" routerLink="/settings/billing/cartreview" [queryParams]="{oid:queryOID , pid:queryPID}"  
                  class="pl-5 mb-3 mt-3 w-50 ml-5  font-weight-bold pr-5 btn-lg btn btn-primary">Review Your cart
                </button>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div *ngIf="dsar.length == 0 && currentStep == 2" class="col-md-12 p-0 mt-4">
        <div class="card cart-box ">
          <div class="card-body">
            <h3 class="mb-5 mt-5 text-center">Your have not added any DSAR Plan !!!</h3>
            <a routerLink="/settings/billing/pricing" [queryParams]="{oid:queryOID , pid:queryPID}"><h2 style="color: rgb(6,69,173);text-decoration: underline;" class="mb-4 mt-4 text-center">Click here to add a Plan</h2></a>

          </div>
          </div>
          </div>


      <div *ngIf="dsar.length > 0 && currentStep == 2" class="col-md-12 p-0 mt-4">
        <div class="card cart-box ">
          <div class="card-body">
            <h3 class="mb-4 text-center">DSAR Plans</h3>

            <div  class="row mt-2" *ngFor="let cart of dsar; let i = index"
              style="border-bottom: 1px solid lightgray;">
              <div style="text-align: left" class="col-md-6">
                <h5 class="cart-head">{{cart.Product}}
                </h5>
                <h6 class="pt-2 font-weight-bold tx-13">Property / Organization - {{cart.Cycle}}</h6>
              </div>
              <div class="col-md-5 mb-3">
                <h5>${{cart.Price * cart.Quantity}}.00</h5>
                <div class=" w-100 m-auto form-group mb-2 dp-safari">
                  <input type="text" #cartId [value]="cart.CartId" disabled hidden>
                  <!-- <select  (change)="onUpdateCart(cartProperty, i, cartId)" #cartProperty [value]="cart.Quantity"
                    style="height: 32px;" class="mb-2 w-25 margin-auto form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select> -->
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: large;" (click)="Subs(cartProperty,i,cartId)">-</button>

              <input disabled [value]="cart.Quantity" (change)="onUpdateCart(cartProperty, i, cartId)" style="width: 40px;text-align: center;height:40px;" #cartProperty type="text" id="sel1" required pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';"
              >
              <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: large;" (click)="Add(cartProperty,i,cartId)">+</button>
    
            </div>
              </div>

              <div>
                <h4 (click)="onRemoveCartItem(i , cartId)" style="cursor: pointer" class="pt-3 text-danger"><i
                  class="fa fa-times" aria-hidden="true"></i>
              </h4>
              </div>
            </div>


            <div class="row mt-1 pt-3">
              <div class="col-md-6">
                <h5 class=" font-weight-bold text-left">Subtotal of DSAR plans</h5>
              </div>
              <div class="col-md-5 text-left">
                <h5 class="text-center">${{ DsarsubTotal + '.00' }} </h5>
              </div> 
              </div>
              <div class="col-md-1">
            </div>

            <div class="row mt-1 pt-3" style="border-top: 1px dotted lightgray">
              <div class="col-md-6">
                <h5 class=" font-weight-bold text-left">Subtotal</h5>
                <!-- <h6 class="font-weight-bold text-left">Discount</h6> -->
              </div>
              <div class="col-md-5 text-left">
                <h5 class="text-center">${{ subTotal + '.00' }} </h5>
                <!-- <h5 class="text-center">${{percentOff ? subTotal * percentOff / 100 : '0.00'}} ({{percentOff}}%)</h5> -->
              </div> 
              </div>
              <div class="col-md-1">
            </div>


            <div class="row mt-3 pt-3" style="border-top: 1px dotted lightgray">
              <div class="col-md-6">
                <h5 class="text-left font-weight-bold">Total</h5>
              </div>
              <div class="col-md-5">
                <h5>${{ percentOff ? subTotal - subTotal * percentOff / 100 : subTotal + '.00' }}</h5>
              </div>

            </div>
            <div class="row  mt-3 pt-3" style="border-top: 1px dotted lightgray">
              <!-- <div class="col-md-6">
                <div class="row mt-3">
                  <div class="col-md-4">
                    <h5 class="pt-2 font-weight-bold text-left tx-14"> Promo Code</h5>
                  </div>
                  <div class="col-md-5 text-right p-0">
                    <input type="text" class="form-control mb-1 w-100" [(ngModel)]="promoCode" [disabled]="percentOff"
                      [ngClass]="{'is-invalid' : isPromoCodeError}" placeholder="Promo Code">
                    <div *ngIf="isPromoCodeError" class="invalid-feedback" style="width: 205px;">
                      The promo code you entered is not valid
                    </div>
                                 <a href="javascript:;" *ngIf="promoCode && !percentOff" class="mr-1 text-primary"
                                    (click)="onApplyCoupon()">Apply</a>
                                   <a href="javascript:;"  class="mr-1 text-primary" (click)="onRemoveCoupon()">Remove</a>
                    <div *ngIf="percentOff" class="text-success text-left">Promo Code Applied
                      <i class="fa fa-times cursorpointer close-btn" (click)="onRemoveCoupon()" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button type="button" class="btn btn-outline-secondary" 
                    (click)="onApplyCoupon()">Apply
                    </button>
                  </div>
                </div>
              </div> -->
              <div class="col-md-12" >
                <button type="button" routerLink="/settings/billing/cartreview" [queryParams]="{oid:queryOID , pid:queryPID}"  
                  class="pl-5 mb-3 mt-3 w-50 ml-5  font-weight-bold pr-5 btn-lg btn btn-primary">Review Your cart
                </button>
              </div>

            </div>

          </div>
        </div>
      </div>


      <div *ngIf="consentPref.length == 0 && currentStep == 3" class="col-md-12 p-0 mt-4">
        <div class="card cart-box ">
          <div class="card-body">
            <h3 class="mb-5 mt-5 text-center">Your have not added any Consent Preference Plan !!!</h3>
            <a routerLink="/settings/billing/pricing" [queryParams]="{oid:queryOID , pid:queryPID}"><h2 style="color: rgb(6,69,173);text-decoration: underline;" class="mb-4 mt-4 text-center">Click here to add a Plan</h2></a>

          </div>
          </div>
          </div>

      <div *ngIf="consentPref.length > 0 && currentStep == 3" class="col-md-12 p-0 mt-4">
        <div class="card cart-box ">
          <div class="card-body">
            <h3 class="mb-4 text-center">Consent Preference Plans</h3>

            <div  class="row mt-2" *ngFor="let cart of consentPref; let i = index"
              style="border-bottom: 1px solid lightgray;">
              <div style="text-align: left" class="col-md-6">
                <h5 class="cart-head">{{cart.Product}}
                </h5>
                <h6 class="pt-2 font-weight-bold tx-13">Property / Organization - {{cart.Cycle}}</h6>
              </div>
              <div class="col-md-5 mb-3">
                <h5>${{cart.Price * cart.Quantity}}.00</h5>
                <div class=" w-100 m-auto form-group mb-2 dp-safari">
                  <input type="text" #cartId [value]="cart.CartId" disabled hidden>
                  <!-- <select  (change)="onUpdateCart(cartProperty, i, cartId)" #cartProperty [value]="cart.Quantity"
                    style="height: 32px;" class="mb-2 w-25 margin-auto form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select> -->
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: large;" (click)="Subs(cartProperty,i,cartId)">-</button>

              <input disabled [value]="cart.Quantity" (change)="onUpdateCart(cartProperty, i, cartId)" style="width: 40px;text-align: center;height:40px;" #cartProperty type="text" id="sel1" required pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';"
              >
              <button type="button" class="btn btn-sm btn-outline-secondary" style="font-size: large;" (click)="Add(cartProperty,i,cartId)">+</button>
    
            </div>
              </div>

              <div>
                <h4 (click)="onRemoveCartItem(i , cartId)" style="cursor: pointer" class="pt-3 text-danger"><i
                  class="fa fa-times" aria-hidden="true"></i>
              </h4>
              </div>
            </div>


            <div class="row mt-1 pt-3">
              <div class="col-md-6">
                <h5 class=" font-weight-bold text-left">Subtotal of Consent Preference Plans</h5>
              </div>
              <div class="col-md-5 text-left">
                <h5 class="text-center">${{ consentsubTotal + '.00' }} </h5>
              </div> 
              </div>
              <div class="col-md-1">
            </div>
            
            <div class="row mt-1 pt-3" style="border-top: 1px dotted lightgray">
              <div class="col-md-6">
                <h5 class=" font-weight-bold text-left">Subtotal</h5>
                <!-- <h6 class="font-weight-bold text-left">Discount</h6> -->
              </div>
              <div class="col-md-5 text-left">
                <h5 class="text-center">${{ subTotal + '.00' }} </h5>
                <!-- <h5 class="text-center">${{percentOff ? subTotal * percentOff / 100 : '0.00'}} ({{percentOff}}%)</h5> -->
              </div> 
              </div>
              <div class="col-md-1">
            </div>

            <div class="row mt-3 pt-3" style="border-top: 1px dotted lightgray">
              <div class="col-md-6">
                <h5 class="text-left font-weight-bold">Total</h5>
              </div>
              <div class="col-md-5">
                <h5>${{ percentOff ? subTotal - subTotal * percentOff / 100 : subTotal + '.00' }}</h5>
              </div>

            </div>
            <div class="row  mt-3 pt-3" style="border-top: 1px dotted lightgray">
              <!-- <div class="col-md-6">
                <div class="row mt-3">
                  <div class="col-md-4">
                    <h5 class="pt-2 font-weight-bold text-left tx-14"> Promo Code</h5>
                  </div>
                  <div class="col-md-5 text-right p-0">
                    <input type="text" class="form-control mb-1 w-100" [(ngModel)]="promoCode" [disabled]="percentOff"
                      [ngClass]="{'is-invalid' : isPromoCodeError}" placeholder="Promo Code">
                    <div *ngIf="isPromoCodeError" class="invalid-feedback" style="width: 205px;">
                      The promo code you entered is not valid
                    </div>
                    <a href="javascript:;" *ngIf="promoCode && !percentOff" class="mr-1 text-primary"
                                                    (click)="onApplyCoupon()">Apply</a>
                                                   <a href="javascript:;"  class="mr-1 text-primary" (click)="onRemoveCoupon()">Remove</a>
                    <div *ngIf="percentOff" class="text-success text-left">Promo Code Applied
                      <i class="fa fa-times cursorpointer close-btn" (click)="onRemoveCoupon()" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button type="button" class="btn btn-outline-secondary" 
                    (click)="onApplyCoupon()">Apply
                    </button>
                  </div>
                </div>
              </div> -->
              <div class="col-md-12" >
              <button type="button" routerLink="/settings/billing/cartreview" [queryParams]="{oid:queryOID , pid:queryPID}"  
                class="pl-5 mb-3 mt-3 w-50 ml-5  font-weight-bold pr-5 btn-lg btn btn-primary">Review Your cart
              </button>
            </div>

            </div>

          </div>
        </div>
      </div>

    </div>
 

  </div>
</div>
</div>

<div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
  <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" [dismissible]="dismissible"
    >{{ alertMsg}}</alert>
</div>

          
