<div class="content">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-5 mg-lg-b-10 mg-xl-b-15">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#">Privacy</a></li>
            <li class="breadcrumb-item"><a href="#">Cookie</a></li>
            <li class="breadcrumb-item active">Category</li>
          </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">Cookie Category</h4>
      </div>
      <div class="d-none d-md-block">
        <div class="d-flex flex-column flex-sm-row mg-t-20 mg-md-t-0">
          <button class="btn btn-primary mg-r-3" type="button" disabled>
                            <span class="spinner-border spinner-border-sm txt-info" role="status"
                                  aria-hidden="true"></span>
            Rescan...
          </button>
          <button class="btn btn-white btn-xs cat-btn" (click)="openCategoryModal(category)">Add Category</button>
          <a class="btn btn-secondary m" type="button" href="cookie-consent-banner.html">
            <!-- <span class="spinner-border spinner-border-sm txt-info" role="status"
                aria-hidden="true"></span> -->
            Configure Banner
          </a>
        </div>
      </div>
    </div>

<app-crud-table *ngIf="isDurationType" [dataManager]="dataManager"></app-crud-table>
  </div>
</div>


<ng-template #category>
  <form [formGroup]="categoryForm" (ngSubmit)="onCategoryFromSubmit()">
    <div class="modal-header ">
      Create Category
    </div>
    <div class="modal-body ">
      <div class="form-group mg-b-5">
        <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-0 tx-color-03">Category
          name</label>
        <input type="text" formControlName="categoryName" class="form-control" placeholder="Category Name"
               [ngClass]="{ 'is-invalid': categoryFromSubmitted && c.categoryName.errors }"
        >
        <div *ngIf="categoryFromSubmitted && c.categoryName.errors" class="invalid-feedback">
          <div *ngIf="c.categoryName.errors.required">Category Name is required</div>
          <div *ngIf="c.categoryName.errors.pattern">Category Name Allow Only Alphabets</div>
        </div>
      </div>

<!--      <div class="form-group mg-b-5">-->
<!--        <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-0 tx-color-03">Category ID</label>-->
<!--        <input type="text" class="form-control" placeholder="Category Id"-->
<!--               [ngClass]="{ 'is-invalid': categoryFromSubmitted && c.categoryId.errors }"-->
<!--        >-->
<!--        <div *ngIf="categoryFromSubmitted && c.categoryId.errors" class="invalid-feedback"-->
<!--        >-->
<!--          <div *ngIf="c.categoryId.errors.required">Category Id is required</div>-->
<!--        </div>-->
<!--      </div>-->

      <!--        <div class="form-group mg-b-5">-->
      <!--          <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-0 tx-color-03">Workflow-->
      <!--            name</label>-->
      <!--          <input type="text" class="form-control" placeholder="Tax Id">-->
      <!--        </div>-->

      <div class="form-group mg-b-5">
        <label for="exampleFormControlTextarea1" class="tx-small"><i class="fa fa-asterisk tx-danger "
                                                                     aria-hidden="true"></i> Description</label>
        <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1"
                  [ngClass]="{ 'is-invalid': categoryFromSubmitted && c.description.errors }"
                  rows="3"></textarea>
        <div *ngIf="categoryFromSubmitted && c.description.errors" class="invalid-feedback"
        >
          <div *ngIf="c.description.errors.required">Description is required</div>
        </div>
      </div>


    </div><!-- modal-body -->
    <div class="modal-footer pd-x-20 pd-y-15">
      <button type="button" (click)="categoryModalRef.hide()" class="btn btn-white" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</ng-template>
<app-notify></app-notify>

