.table > tbody > tr > td> img.img-fluid {
    max-width: 15% !important;
}

.container {
    margin-bottom: 50px;
}

.alink {
    color: #333;
    cursor: pointer;
}

.alink:hover {
    color: #0168fa !important;
}