.table > tbody > tr > td> img.img-fluid {
    max-width: 15% !important;
}

.table > tbody > tr:hover {
    background-color:#e9ecf1;
}

.container {
    margin-bottom: 50px;
}

.alink {
    color: #333;
    cursor: pointer;
}

.alink:hover {
    color: #0168fa !important;
}

.nav-link > div {
    color: rgba(255, 255, 255, 0.7) !important;
}