.table > tbody > tr > td> img.img-fluid {
    max-width: 15% !important;
}

.table > tbody > tr:hover {
    background-color:#e9ecf1;
}

.container {
    margin-bottom: 50px;
}

.alink {
    color: #0168fa !important;
    cursor: pointer;
}

.alink:hover {
    color: #0168fa !important;
}

.nav-link > div {
    color: rgba(255, 255, 255, 0.7) !important;
}

.invalid-radio {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-check-inline > input[type='radio'] {
    margin: 0 5px 0 0;
}


.searchfield {
    display: flex;
}

.table-responsive.property-div > .card > .card-header, .table-responsive.member-div > .card > .card-header  {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.searchfield .input-group {
    align-items: center;
}

.searchfield > div > span.input-group-append {
    height: 38px;
    display: flex;
}

.searchfield > div > span > div.input-group-text {
    align-items: center;
}

.searchfield.mt-3 .form-inline {
    font-weight: normal;
}