<footer class="footer" [ngClass]="isheadernotrequired ? 'addbg' : '' ">
    <div>
      <span>&copy; 2021 Adzapier v1.0.19.1</span>
    </div>
    <div  [ngClass]="isheadernotrequired ? '' : 'footer-margin-right'">
      <nav class="nav">
       <a href="https://adzapier.com/privacy-policy" target="_blank" [ngClass]="isheadernotrequired ? 'color-white' : 'color-gray' " class="nav-link">Privacy policy</a>
       <a href="https://adzapier.com/terms-of-service" target="_blank" [ngClass]="isheadernotrequired ? 'color-white' : 'color-gray' " class="nav-link">Terms of services</a>
      </nav>
    </div>
  </footer>
