//.fixed-bottom{
//  background-color: #FFFFFF;
//}
//.footer{
//  position: absolute;
//  bottom: 0px;
//  width: 100%;
//}

.footer {
    width: 100%;
    padding: 14px 25px 14px 25px;
}

.fixed-bottom{
    background-color: transparent;
    border: none;
}

.addbg{
    background-color: #004097;
    color:#fff;
}

.footer-margin-right{
    margin-right: 150px;
}