
// table.table.table-bordered > thead > tr > th:first-child {
//     width: 100px;
// }

table.table.table-bordered > tbody > tr > td:first-child {
    // text-overflow: ellipsis;
    white-space: nowrap;
    // display: inline-block;
    // width: 100px !important;
    // overflow: hidden !important;
    border-right: 0;
    border-left: 0;
  }

//   table.table.table-bordered > thead > tr > th {
//       padding: 3px;
//   }
  
  table.table.table-bordered > thead > tr > th:nth-child(2) {
      width: 150px;
  }

  .table-bordered {
      border: 0;
  }

  .workflowdiv > .card > .card-body {
    padding: 0 !important;
  }

  .workflowdiv > .card > .card-header {
    margin: 0;
    padding: 0 0 10px 0;
  }

  table.table.table-bordered > tbody > tr:last-child {
    border-bottom: 1px solid #e1e5ed;
  }

  .workflowlink {
    cursor: pointer;
  }

  .workflowlink a {
    cursor: pointer;
    text-decoration: underline;
    color: #3968fa;
    text-transform: capitalize;
    font-weight: 500;
  }

  .searchfield {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .input-group-append {
    cursor: pointer;
  }
  
.workflows-table ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td > a {
  cursor: pointer;
}

.workflows-table ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.8rem 0.3rem;
}

.workflows-table ::ng-deep .p-inputtext {
  padding: 0.3rem;
  font-size: 0.8rem;
}

.workflows-table ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 1.5rem;
  height: 1.5rem;
}

.workflows-table ::ng-deep .p-paginator .p-dropdown {
  height: 2rem;
}

// ::ng-deep .p-multiselect-panel .p-multiselect-header {
//   padding: 0.3rem 1rem;
// }

// ::ng-deep .p-multiselect-panel .p-multiselect-items {
//   padding: 0;
// }

// ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
//   background-color: #fff;
//   color: #333;
// }

// ::ng-deep .p-highlight .p-checkbox .p-checkbox-box {
//   border-color: #2196F3;
// }

// ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
//   box-shadow: none;
// }

.workflows-table ::ng-deep .p-datatable .p-paginator-bottom {
  border-top: 1px solid #ccc;
  border-radius: 0px 0px 10px 10px;
  border-bottom: 0;
  justify-content: center;
}

.workflows-table ::ng-deep .p-datatable.p-datatable-sm .p-datatable-header {
  background: #fff;
  border-radius: 5px 5px 0 0;
  border: 0;
}

.workflows-table ::ng-deep .p-datatable {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.workflows-table ::ng-deep .p-datatable-thead {
  border-top: 1px solid #dde2ea;
}

// ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
//   width: 100%;
//   background: #3968fa;
//   color: #fff;
//   font-weight: normal;
// }

// ::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th:hover {
//   background: #4975ff;
//   color: #fff;
// }

// ::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon {
//   color: #fff;
//   margin-left: 0.5rem;
// }

.workflows-table ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td > a:hover {
  text-decoration: underline;
}


.workflows-table ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child {
  width: auto;
}

.workflows-table ::ng-deep .p-paginator-bottom .p-paginator {
  display: flex;
  position: relative;
}

.workflows-table ::ng-deep .p-paginator-current {
  position: absolute;
  right: 0;
}

.workflows-table ::ng-deep .p-inputwrapper-filled {
  position: absolute;
  left: 0;
}
.tx-decoration-underline:hover {
  text-decoration: underline;
 }

// ::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
//   color:#fff;
// }

// ::ng-deep .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
//   color: #fff;
// }