<div class="container mb-0">
    <div class="mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                <li class="breadcrumb-item"> Privacy</li>
                <li class="breadcrumb-item">DSAR</li>
                <li class="breadcrumb-item active" aria-current="page">Workflow</li>
            </ol>
        </nav>
    </div>
</div>

<div>
    <div class="col-lg-6 col-xl-12 workflowdiv">
        <div class="card">
            <div class="card-header tx-semibold">

                <div class="searchfield mt-3" style="display: flex;">
                    <div class="col-3 input-group">
                        <input class="form-control py-2 border-right-0 border" [(ngModel)]="searchText" type="search"
                            value="search" id="example-search-input" />
                        <span class="input-group-append">
                            <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                        </span>
                    </div>
                    <div class="col-5">
                        <div class="form-inline">
                            <div class="col-md-4 form-group pr-0">
                                <label class="col-sm-5 col-form-label" for="name">View</label>
                                <select id="PerPage" class="form-control" [(ngModel)]="pgSize"
                                    (change)="onPagesizeChangeEvent($event)">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                            </div>
                            <div col-md-5><label class="d-block">records at a time</label></div>
                        </div>
                    </div>
                    <div class="col-sm-2 ml-auto">
                        <button type="button" class="btn btn-primary btn-xs float-right" data-toggle="modal"
                            (click)="createWorkflowModalPopup(createworkflowModal,'')">Create</button>
                        <!-- <button type="button" class="btn btn-primary btn-xs float-right" data-toggle="modal"
                        (click)="open(propertyModal)"><i class="fas fa-plus"></i> Add Property</button> -->
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead-primary">
                        <tr>
                            <th>Workflow Name</th>
                            <th>Status</th>
                            <th>Created By</th>
                            <th>Last Updated by</th>
                            <th>Last Update Date</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of workflowList | paginate:paginationConfig | filter: searchText:'workflow_name':'workflow_status'; let i = index">
                            <td class="workflowlink">
                                <a title="{{item.id}}" (click)="navigateToWorkflow(item)">{{item.workflow_name}}</a>
                            </td>
                            <td>
                                <span class="badge"
                                    [ngClass]="{'badge-primary':item.workflow_status === 'active','badge-light':item.workflow_status === 'draft'}">
                                    {{item.workflow_status}}</span>
                            </td>
                            <td>{{item.createdby_firstname}} {{item.createdby_lastname}}</td>
                            <td>
                                {{item.updatedby_firstname}} {{item.updatedby_lastname}}</td>
                            <td>
                                {{item.updated_at | date:'medium'}}</td>
                            <td>{{item.created_at | date:'medium'}}</td>
                        </tr>

                        <tr>
                            <td colspan="5" class="txt-center"
                                *ngIf="(workflowList | filter: searchText:'workflow_name':'workflow_status')?.length===0">
                                No records found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer text-right">
                <pagination-controls id="propertyPagination" (pageChange)="propertyPageChangeEvent($event)">
                </pagination-controls>
            </div>

        </div>
    </div>
</div>


<ng-template #createworkflowModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Workflow
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="onCancelClick()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="createWorkFlowForm" (ngSubmit)="createWorkFlow()">
        <div class="modal-body">


            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="workflowName"
                            class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Name</label>
                        <input type="text" class="form-control" formControlName="workflowName"
                            [ngClass]="{ 'is-invalid': submitted && addWorkflow.workflowName.errors }" />
                        <div *ngIf="submitted && addWorkflow.workflowName.errors" class="invalid-feedback">
                            <div *ngIf="addWorkflow.workflowName.errors.required">Workflow name is required</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <label for="workflowselect" class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">
                        Select Workflow</label>
                    <select class="form-control" formControlName="workflowselection" (change)="onWorkflowChange($event)"
                        [ngClass]="{ 'is-invalid': submitted && addWorkflow.workflowselection.errors }">
                        <ng-container *ngFor="let opt of workflowList">
                            <option *ngIf="opt.workflow_status=='active'" [value]="opt.id">
                                {{ opt.workflow_name }}
                            </option>
                        </ng-container>

                    </select>
                    <div *ngIf="submitted && addWorkflow.workflowselection.errors" class="invalid-feedback">
                        <div *ngIf="addWorkflow.workflowselection.errors.required">Select workflow is required</div>
                    </div>

                </div>

            </div>
 

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary tx-13"
                (click)="onCancelClick()">Cancel</button>
            <button class="btn btn-primary tx-13">Save</button>
        </div>

    </form>
</ng-template>
<div class="col-sm-5 mt-3 mr-0 float-right">
    <alert *ngIf="isOpen" [type]="alertType"  dismissOnTimeout="5000" [dismissible]="dismissible" (onClosed)="onClosed(alertMsg)">{{  alertMsg}}</alert>
</div>
