<div class="container">
    <div class="mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                <li class="breadcrumb-item"><a routerLink="/settings">Settings</a></li>
                <li class="breadcrumb-item active" aria-current="page">Company</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between pd-y-10">
                    <h6 class="mg-b-0 tx-color-03 ">
                        Company Details
                    </h6>
                    <div class="d-flex pd-0">
                        <button (click)="editOrganizationModalPopup(editCompanyModal)"
                            class="btn btn-xs btn-white float-right">
                            <!-- <i-feather name="edit-2" class="feather-16"></i-feather> -->
                            <i class="fa fa-pen mr-1" aria-hidden="true"></i>
                            <span class="d-none d-sm-inline mg-l-0"> Edit</span>
                        </button>
                    </div>
                </div>


                <div class="card-body">
                    <div class="row row-sm">
                        <div class="col-sm-2 mg-t-5 mg-sm-t-5">
                            <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">
                                Company</label>
                            <p class="mg-b-0">{{orgname}}</p>
                        </div>
                        <div class="col-sm-3 mg-t-5 mg-sm-t-5">
                            <label
                                class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Address</label>
                            <p class="mg-b-0">{{address1}} {{address2}} {{zipcode}} {{city}} {{state}}</p>
                        </div>

                        <!-- <div class="col-sm-3 mg-t-5 mg-sm-t-5">
                        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Address 2</label>
                        <p class="mg-b-0">{{address2}}</p>
                    </div> -->

                        <div class="col-sm-2 mg-t-5 mg-sm-t-5">
                            <label
                                class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">TaxID</label>
                            <p class=" mg-b-0">{{taxid}}</p>
                        </div>
                        <div class="col-sm-3 mg-t-5 mg-sm-t-5">
                            <label
                                class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Email</label>
                            <p class=" mg-b-0">{{email}}</p>
                        </div>
                        <div class="col-sm-2 mg-t-5 mg-sm-t-5">
                            <label
                                class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Phone</label>
                            <p class=" mg-b-0">{{phone}}</p>
                        </div>
                        <!-- <div class="col-sm-3 mg-t-5 mg-sm-t-5">
                        <label
                            class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">City</label>
                        <p class="mg-b-0">{{city}}</p>
                    </div>

                    <div class="col-sm-3 mg-t-5 mg-sm-t-5">
                        <label
                            class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">State</label>
                        <p class="mg-b-0">{{state}}</p>
                    </div>

                    <div class="col-sm-3 mg-t-5 mg-sm-t-5">
                        <label
                            class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Zipcode</label>
                        <p class="mg-b-0">{{zipcode}}</p>
                    </div> -->

                    </div><!-- row -->
                </div>
            </div>
        </div>
    </div>
    <div class="divider-text mg-y-10">USERS</div>
    <div class="table-responsive company-div">
        <div class="card">
            <div class="card-header tx-semibold">
                <div class="searchfield mt-3">
                    <div class="col-3 input-group">
                        <input class="form-control py-2 border-right-0 border" [(ngModel)]="searchText" type="search"
                            value="search" id="example-search-input" />
                        <span class="input-group-append">
                            <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                        </span>
                    </div>
                    <div class="col-4">
                        <div class="form-inline">
                            <div class="col-md-5 form-group pr-0">
                                <label class="col-sm-5 col-form-label" for="name">View</label>
                                <select id="PerPage" class="form-control" [(ngModel)]="pageSize"
                                    (change)="onChangeEvent($event)">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                            </div>
                            <div col-md-5><label class="d-block">records at a time</label></div>
                        </div>
                    </div>
                    <div class="col-sm-2 ml-auto">
                        <button type="button" class="btn btn-primary btn-xs float-right" data-toggle="modal"
                            (click)="editOrganizationModalPopup(inviteuserModal)"><i class="fas fa-plus"></i> Add
                            User</button>
                    </div>
                </div>
            </div>


            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead-primary">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Last Login</th>
                            <td>Resend</td>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let list of teamMemberList | paginate:paginationConfig | filter: searchText:'user_name':'user_email'; let i = index">
                            <td>
                                {{ (paginationConfig.currentPage - 1) * paginationConfig.itemsPerPage + i + 1 }}
                            </td>
                            <td>{{list.user_name}}</td>
                            <td>
                                {{list.user_email}}
                            </td>
                            <td>
                                {{list.role_name}}
                            </td>
                            <td>
                                <span
                                    *ngIf="isDateOrString(list.user_last_login)">{{list.user_last_login | date:'medium'}}</span>
                                <span *ngIf="!isDateOrString(list.user_last_login)">{{list.user_last_login}}</span>
                            </td>
                            <td class="text-center">
                                <button type="button"
                                    *ngIf="list.user_last_login === 'Invitation sent' || list.user_last_login === 'Invitation Pending'"
                                    (click)="onResendInvitation(list.user_email)" class="btn btn-sm btn-primary"><i
                                        class="fas fa-envelope	"></i> Resend Invitation</button>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-primary"
                                    (click)="removeTeamMember(list.id)">Remove</button>
                            </td>

                        </tr>
                        <tr *ngIf="teamMemberList?.length == 0">
                            <td colspan="7" class="txt-center">
                                <div> No User found </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-right">
                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<ng-template #editCompanyModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Company Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close Clicked')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="orgname" class="d-block">Company Name</label>
                        <input type="text" formControlName="orgname" name="orgname" [(ngModel)]="orgname"
                            class="form-control" placeholder="Enter your company name"
                            [ngClass]="{ 'is-invalid': submitted && f.orgname.errors }" />
                        <div *ngIf="submitted && f.orgname.errors" class="invalid-feedback">
                            <div *ngIf="f.orgname.errors.required">Company Name is required</div>
                            <div *ngIf="f.orgname.errors.pattern">Company Name allow only alphanumeric</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="d-block">Tax ID</label>
                        <input type="text" formControlName="tax_id" class="form-control"
                            placeholder="Enter your Tax ID" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="addressone">Address 1</label>
                        <input type="text" formControlName="address1" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.address1.errors }"
                            placeholder="Enter your address" />
                        <div *ngIf="submitted && f.address1.errors" class="invalid-feedback">
                            <div *ngIf="f.address1.errors.required">Address 1 is required</div>
                            <div *ngIf="f.address1.errors.pattern">Address 1 allow only alphanumeric</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="address2">Address 2</label>
                        <input type="text" formControlName="address2" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.address2.errors }"
                            placeholder="Enter your address" />
                        <div *ngIf="submitted && f.address2.errors" class="invalid-feedback">
                            <div *ngIf="f.address2.errors.required">Address 2 is required</div>
                            <div *ngIf="f.address2.errors.pattern">Address 2 allow only alphanumeric</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" formControlName="city" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.city.errors }" placeholder="Enter your city" />
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>
                            <div *ngIf="f.city.errors.pattern">City allow only alphabets</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" formControlName="state" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.state.errors }" placeholder="Enter your state" />
                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                            <div *ngIf="f.state.errors.required">State is required</div>
                            <div *ngIf="f.state.errors.pattern">State allow only Alphabets</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group"><label for="email">Email</label>
                        <input type="text" class="form-control"  formControlName="email"
                        name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"><label for="phone">Phone</label>
                        <input type="text" class="form-control"  formControlName="phone"
                        name="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zipcode">Zipcode</label>
                        <input type="text" formControlName="zipcode" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }"
                            placeholder="Enter your zipcode" />
                        <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                            <div *ngIf="f.zipcode.errors.required">Zipcode is required</div>
                            <div *ngIf="f.zipcode.errors.pattern">Zipcode must be at least 5 characters long.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="text-right">
                            <button class="btn btn-secondary mr-2"
                                (click)="modal.dismiss('Close Clicked')">Cancel</button>
                            <button class="btn btn-primary mr-2">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #inviteuserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Invite new users</h4>

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close Clicked')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div>Enter the email addresses of the users you'd like to invite, and choose the role they should have.
        </div>
        <form [formGroup]="inviteUserForm" (ngSubmit)="onSubmitInviteUser()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="emailid" class="d-block">Email Id</label>
                        <input type="text" formControlName="emailid" name="emailid" 
                            class="form-control" placeholder="Enter email id"
                            pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$"
                            [ngClass]="{ 'is-invalid': isInviteFormSubmitted && userInvite.emailid.errors }" />
                        <div *ngIf="isInviteFormSubmitted && userInvite.emailid.errors" class="invalid-feedback">
                            <div *ngIf="userInvite.emailid.errors.required">User email address is required</div>
                            <div *ngIf="userInvite.emailid.errors.pattern">Please enter a valid email</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="permissions" class="d-block">Select roles</label>
                    <div *ngFor="let order of roleList;" class="form-check-inline">
                        <input type="radio" id="permissions" name="permissions" formControlName="permissions"
                            [value]="order.id" /> {{order.role_name}}</div>
                    <div *ngIf="isInviteFormSubmitted && userInvite.permissions.invalid" class="invalid-radio">
                        Roles is mandatory
                    </div>
                </div>


            </div>
            <div class="float-right">
            <button class="btn btn-outline-dark btn-xs mr-2"
            (click)="onResetInviteUser()">Cancel</button>
            <button class="btn btn-primary btn-xs" type="submit">Submit</button>
            </div>
        </form>
    </div>
</ng-template>

<div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
    <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" [dismissible]="dismissible"
        (onClosed)="onClosed(alertMsg)">{{  alertMsg}}</alert>
</div>