<div class="container">
  <div class="mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-style1 mg-b-0">
        <li class="breadcrumb-item"><a routerLink="/settings">DSAR</a></li>
        <li class="breadcrumb-item active" aria-current="page"> DSAR REQUESTS</li>
      </ol>
    </nav>
  </div>
  <h3>Data Subject Requests</h3>
  <div class="organization-div">
    <div class="card">
      <div class="card-header">
        <div class="searchfield row mt-1 pl-2 pr-2">
          <div class="col-sm-2 col-md-2 input-group">
            <input class="form-control py-2 border-right-0 border" [(ngModel)]="inputValue"
                   (ngModelChange)="onSearchInputChange($event)" type="search"
                  placeholder="Search" id="example-search-input" />
            <span class="input-group-append">
                        <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                    </span>
          </div>
          <div class="col-sm-2 col-md-2">
                <select (change)="onChangeRequestType($event)"  class="form-control">
                  <option selected disabled value="">Type Of Request</option>
                  <ng-container *ngFor="let obj of allFilterData.filter_Request_type">
                     <option [value]="obj.key">{{obj.value}}</option>
                  </ng-container>
                </select>
          </div>

          <div class="col-sm-2 col-md-2">
            <select (change)="onChangeSubjectType($event)" class="form-control">
              <option selected disabled value="">Subject Type</option>
              <ng-container *ngFor="let obj of allFilterData.filter_Subject_type">
                <option [value]="obj.key">{{obj.value}}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-sm-2 col-md-2">
            <select (change)="onChangeStatus($event)" class="form-control">
              <option selected disabled value="">Status</option>
              <ng-container *ngFor="let obj of allFilterData.filter_status">
                <option [value]="obj.key">{{obj.value}}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-sm-2 col-md-2">
            <select (change)="onChangeDueIn($event)" class="form-control">
              <option selected disabled value="">Due in</option>
              <ng-container *ngFor="let obj of allFilterData.filter_due_in">
                <option [value]="obj.key">{{obj.value}}</option>
              </ng-container>
            </select>
          </div>
          <div class="col-sm-2 col-md-2">
            <div class="form-inline">
              <div class="col-md-12 form-group pr-0">
                <label class="col-sm-5 col-form-label" for="PerPage">View</label>
                <select id="PerPage" class=" col-sm-7 form-control" [(ngModel)]="pageSize"
                        (change)="onChangeEvent($event)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-primary table-bordered">
          <thead class="thead-primary">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Organization</th>
            <th>Property</th>
            <th>Status</th>
            <th>RequestType</th>
            <th>SubjectType</th>
            <th>DaysLeft</th>
            <th>Approver</th>
            <th>Country</th>
            <th>State</th>
            <th>WebForm</th>
            <th>DateCreated</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of requestsList | paginate:paginationConfig">
              
              <td><a (click)="viewDSARRequestDetails(obj.id)" title="{{obj.id}}">{{obj.id}}</a></td>
                <td>{{obj.name}}</td>
                <td>{{obj.org_name}}</td>
                <td>{{obj.property_name}}</td>
               <td>
                 <span *ngIf="obj.status === 'New'" class="badge badge-primary">{{obj.status}}</span>
                 <span *ngIf="obj.status === 'Verify Request'" class="badge badge-info">{{obj.status}}</span>
                 <span *ngIf="obj.status === 'InProgress'" class="badge badge-warning">{{obj.status}}</span>
                 <span *ngIf="obj.status === 'Complete'" class="badge badge-light">{{obj.status}}</span>
                 <span *ngIf="obj.status === 'UnVerifed'" class="badge badge-danger">{{obj.status}}</span>
               </td>
               <td><span>{{obj.request_type}}</span></td>
                <td>{{obj.subject_type}}</td>
                <td>
                  <span *ngIf="obj.days_left < 0; else positiveDays" class="text-danger">{{obj.days_left}} Days</span>
                  <ng-template #positiveDays>{{obj.days_left}} Days</ng-template>
                </td>
                <td>{{obj.approver}}</td>
                <td>{{obj.country}}</td>
                <td>{{obj.state}}</td>
                <td><a (click)="navigateToWebForm(obj.web_form_id)">{{obj.web_form_name}}</a></td>
                <td>{{obj.created_at | timeAgo}} <!--| timeAgo--></td>
               
            </tr>
<!--          </ng-container>-->
          <tr>
            <td class="text-center" colspan="13" *ngIf="(requestsList).length===0">No
              records found.</td>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-right">
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
      </div>

  </div>
</div>
