<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
      <li class="breadcrumb-item">Billing</li>
      <li class="breadcrumb-item"><a routerLink="/settings/billing/manage" [queryParams]="{oid:queryOID , pid:queryPID}">Manage Subscriptions</a></li>
      <li class="breadcrumb-item active">Organizations</li>

    </ol>
  </nav>
  <h4 class="mg-b-0 tx-spacing--1">Manage License to Organizations</h4>

</div>
<div class="card mt-4">
  <div class="card-header row ml-0 mr-0">
    <div class="col-md-7 p-0 align-items align-heading-progressbar">
    <h4 class="tx-14 tx-uppercase  mb-0 tx-spacing-1 tx-color-02 tx-semibold flex-column">{{productName}}
      <span>{{planName}}</span>
    </h4>
    <div class="mt-n1 mr-4 ml-auto">
    <span class="tx-12 tx-semibold">License Used/Available</span>
    <span class="progress">
      <span class="txt-center-bold"> {{assigneLicence}}/{{totalLicence}}</span>
      <span class="progress-bar" [ngStyle]="{width: percents.assigneLicence +'%'}"></span>
    </span>
  </div>
   </div>
   <div class="col-md-5 pr-0 ml-auto">
    <div class="float-right">
      <button type="button" (click)="openModal(template)" class="btn btn-sm btn-outline-secondary btn-uppercase mr-2" style="text-transform: none;font-size: smaller;">
        <i-feather name="plus" class="commom-feathericon-height" ></i-feather>
         Assign New Organization</button>
      <button type="button" (click)="onGetAssingedOrg()" class="btn btn-sm btn-outline-secondary btn-uppercase" style="text-transform: none;font-size: smaller;">
        <i-feather name="refresh-ccw" class="commom-feathericon-height"></i-feather>
        Refresh</button>
    </div>
   </div>
  </div>


  <div class="card-body border-top-0 p-1 mt-0 manage-license">
    <ng-container *ngIf="!skLoading">
    <table class="table mb-0 tx-14 border-gray">
      <thead>
      <tr>
        <th>Organization</th>
        <th>Web Forms Created</th>
        <th>Workflows Created</th>
        <th>Requests Created</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let obj of orgList">
        <td>{{obj.orgname}}
        </td>
        <td colspan="3">

          <!-- <div> -->
            <ng-container *ngFor="let data of planUsageByOrgid">
              <span *ngIf="obj.id === data.organizationID" style="display: flex;">
                <span class="progress w-75 " [ngClass]="[data.form_available === -1 ? 'unlimited-plan-light':'',data.form_available >= 15 ? 'professional-plan-light':'']">
                  <span class="txt-center-bold">   {{data.form_created}} / {{data.form_available === -1 ? "Unlimited" : data.form_limit}}</span>
                  <span class="progress-bar" [ngClass]="[data.form_available === -1 ? 'unlimited-plan-dark':'',data.form_available >= 15 ? 'professional-plan-dark':'']"
                    [ngStyle]="{width: limitUsedVsAvailable(data.form_created,data.form_limit)  + '%'}"></span>
                </span>

                <span class="progress w-75 ml-3 mr-3" [ngClass]="data.workflow_limit === -1 ? 'unlimited-plan-light':''">
                  <span class="txt-center-bold">   {{data.workflow_created}} /  {{data.workflow_limit === -1 ? "Unlimited" : data.workflow_limit}}</span>
                  <span class="progress-bar" [ngClass]="data.workflow_limit === -1 ? 'unlimited-plan-dark':''"
                  [ngStyle]="{width:  limitUsedVsAvailable(data.workflow_created,data.workflow_limit) + '%'}"></span>
                </span>

                <span class="progress w-75" [ngClass]="data.request_limit === -1 ? 'unlimited-plan-light':''">
                  <span class="txt-center-bold"> {{data.request_created}} / {{data.request_limit === -1 ? "Unlimited" : data.request_limit}}</span>
                  <span class="progress-bar" [ngClass]="data.request_limit === -1 ? 'unlimited-plan-dark':''"
                  [ngStyle]="{width: limitUsedVsAvailable(data.request_created,data.request_limit) + '%'}"></span> <!--limitUsedVsAvailable(data.request_created,data.request_limit)-->
                </span>
              </span>

            </ng-container>
        </td>
        <td>{{obj.email }}</td>
        <!-- <td> {{obj.city+ ', ' + obj.state + ', ' + obj.zipcode}} </td> -->
      <td>
          <button class="btn btn-sm btn-outline-secondary tx-danger btn-uppercase nohover border-0" (click)="delOrgID = obj.id; openModal(delConfirm)">
            <i-feather name="trash-2" class="commom-feathericon-height"></i-feather></button>
        </td>

      </tr>

      </tbody>
    </table>
    <ng-container *ngIf="orgList.length == 0">
      <div class="alert cs-alert w-100 alert-info">There is no organization assign to this plan</div>
      </ng-container>
      </ng-container>
    <ngx-skeleton-loader  *ngIf="skLoading" count="6" class="pt-4"></ngx-skeleton-loader>



  </div>
</div>



<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Assign New Organization</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="orgForm" (ngSubmit)="onSubmit()">
      <label for="typeahead-basic">Select Organization</label>
      <div class="row">
      <div class="col-sm-8">
      <p-multiSelect class="gdprSelect"  [disabled]="totalLicence - assigneLicence === 0"  [selectionLimit]="totalLicence - assigneLicence"
      formControlName="orgID" [style]="{'width':'100%'}" [options]="allUnSignOrgList" ></p-multiSelect>
      </div>
      <div class="col-sm-4 p-0">
        <button class="btn btn-link tx-decoration-underline" aria-label="Close" type="button"
        (click)="modalRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-primary mr-1" [disabled]="totalLicence - assigneLicence === 0">Assign</button>
      </div>
    </div>
      <p *ngIf="orgNameError">This Field is Required</p>
    </form>
  </div>
</ng-template>


<!-- <div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
  <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" >{{  alertMsg}}</alert>
</div> -->
<div class="col-sm-5 mr-0 float-right flotingdiv">
  <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" [dismissible]="dismissible" (onClosed)="onClosed(alertMsg)">{{  alertMsg}}</alert>
</div>
<ng-template #delConfirm>
  <div class="modal-body text-center">
    <p>Are you sure you want to remove the license?</p>
    <button type="button" class="btn btn-sm mr-2 btn-outline-secondary btn-uppercase" style="text-transform: none;" (click)="onRemoveOrg(delOrgID)" >Yes</button>
    <button type="button" class="btn btn-primary btn-sm  btn-uppercase" style="text-transform: none;" (click)="decline()" >No</button>
  </div>
</ng-template>
