<div class="container-fluid remove-top-margin">
  <div class="row justify-content-center">
    <div class="">
      <div class="logo-group">
        <img src="assets/imgs/az-logo.png" class="az-logo mb-2" alt="adzapier logo" />
        <h4 class="tx-white">Trusted Data Privacy Solutions</h4>
      </div>
        <div [@animImageSlider]="step"  class="inputs-key login-form bg-white" style="height:416px;">
          <form *ngIf="step == 1" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email" class="tx-17">Email Address</label>
              <input type="email" formControlName="email" class="form-control input-lg"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$"
                placeholder="yourname@yourmail.com" (ngModelChange)="clearError()" />
              <!-- pattern="^\w+@[a-zA-Z_0-9]+?\.com$" -->
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Please enter a valid email</div>
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex justify-content-between mg-b-5">
                <label class="mg-b-0-f tx-17">Password</label>

              </div>
              <input type="password" togglepassword formControlName="password" class="form-control input-lg"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter your password"
                (ngModelChange)="clearError()" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <!-- <div *ngIf="f.password.errors.pattern">Invalid Password</div> -->
              </div>
              <div class="row forgot-password">
                <a (click)="next()" tabindex="-1">Forgot password?</a>
              </div>
              <br>
              <div *ngIf="show" style="color:blue;">
                <p>Sign In Successfully</p>
              </div>
              <div style="color:red;">
                <p>{{errorMsg}}</p>
              </div>


            </div >
            <div class="text-center">
              <button   *ngIf="!isEmailVerified" [disabled]="loading" class="btn btn-brand-02 btn-block login-btn" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{sign_in}} </button>
              <button class="btn btn-brand-02 btn-block login-btn tx-18" type="button"
                      *ngIf="isEmailVerified" [disabled]="isVerificationBtnClick"
                      (click)="resendToken()">
                <span *ngIf="isVerificationBtnClick" class="spinner-border spinner-border-sm mr-1"></span>
                Resend Verification
              </button>
              <div class="divider-text tx-13" style="text-transform: none;">Or</div>
              <div class="tx-13 mg-t-20 tx-center tx-18">Don't have an account? <a class="font-weight-bold"
                  routerLink="/signup">Create an
                  Account</a></div>
            </div>

          </form>


          <form [formGroup]="forgotpasswordForm" *ngIf="step == 2" (ngSubmit)="onSubmitForgot()">
            <h4  class="mb-4" >Forgot Password</h4>

            <div class="form-group">
              <label for="email" class="tx-17">Email Address</label>
              <input type="email" formControlName="emailid" class="form-control input-lg"
                [ngClass]="{ 'is-invalid': submitted && r.emailid.errors }"
                pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$" placeholder="yourname@yourmail.com"
                (ngModelChange)="clearError()" />
              <!-- pattern="^\w+@[a-zA-Z_0-9]+?\.com$" -->
              <div *ngIf="submitted && r.emailid.errors" class="invalid-feedback">
                <div *ngIf="r.emailid.errors.required">Email is required</div>
                <div *ngIf="r.emailid.errors.pattern">Please enter a valid email</div>
              </div>
            </div>
            <div class="text-center">
              <button [disabled]="loading" class="btn btn-brand-02 btn-block login-btn" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Send </button>

              <div class="divider-text tx-13" style="text-transform: none;">Or</div>
              <div class="tx-13 mg-t-20 tx-center tx-18">Go back to Login? <a class="font-weight-bold" style="color: rgb(74, 127, 226);"
                  (click)="previous()">Login
                </a></div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
<div class="col-sm-5 mr-0 float-right flotingdiv" *ngIf="isOpen">
  <alert *ngIf="isOpen" [type]="alertType" [dismissible]="dismissible" dismissOnTimeout="5000" (onClosed)="onClosed(alertMsg)">{{
    alertMsg}}
  </alert>
</div>
