<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xl-12 col-lg-12 col-md-9">-->
<!--      <div class="card o-hidden border-0">-->
<!--        <div class="card-body p-0">-->
<!--          <div class="row">-->
<!--            <div class="col-lg-7 img-zindex">-->
<!--              <img src="assets/imgs/helmut-barroso.jpg" class="img-fluid" alt="">-->
<!--            </div>-->
<!--            <div class="col-lg-5">-->
<!--              <div class="p-5" [@slideInOut]="isEmailVerified ? false : true">-->
<!--                <div class="wd-100p">-->
<!--                  <h3 class="tx-color-01 mg-b-5">Sign In</h3>-->
<!--                  <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please sign in to continue.</p>-->
<!--                </div>-->

<!--                <div class="justify-content-center">-->
<!--                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->

<!--                    <div class="form-group">-->
<!--                      <label for="email">Email Address</label>-->
<!--                      <input type="email" formControlName="email" class="form-control"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"-->
<!--                        pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$" placeholder="yourname@yourmail.com"-->
<!--                        (ngModelChange)="clearError()" />-->
<!--                      &lt;!&ndash; pattern="^\w+@[a-zA-Z_0-9]+?\.com$" &ndash;&gt;-->
<!--                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">-->
<!--                        <div *ngIf="f.email.errors.required">Email is required</div>-->
<!--                        <div *ngIf="f.email.errors.pattern">Please enter a valid email</div>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                      <div class="d-flex justify-content-between mg-b-5">-->
<!--                        <label class="mg-b-0-f">Password</label>-->
<!--                        <a routerLink="/forgot-password" tabindex="-1">Forgot password?</a>-->
<!--                      </div>-->
<!--                      <input type="password" toggle formControlName="password" class="form-control"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter your password"-->
<!--                        (ngModelChange)="clearError()" />-->
<!--                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
<!--                        <div *ngIf="f.password.errors.required">Password is required</div>-->
<!--                        &lt;!&ndash; <div *ngIf="f.password.errors.pattern">Invalid Password</div> &ndash;&gt;-->
<!--                      </div>-->
<!--                      <br>-->
<!--                      <div *ngIf="show" style="color:blue;">-->
<!--                        <p>Sign In Successfully</p>-->
<!--                      </div>-->
<!--                      <div style="color:red;">-->
<!--                        <p>{{errorMsg}}</p>-->
<!--                      </div>-->


<!--                    </div>-->
<!--                    <div class="text-center">-->
<!--                      <button [disabled]="loading" class="btn btn-brand-02 btn-block" type="submit">-->
<!--                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--                        {{sign_in}} </button>-->


<!--                    </div>-->

<!--                  </form>-->
<!--                </div>-->
<!--                <div class="divider-text">or</div>-->
<!--                <div class="tx-13 mg-t-20 tx-center">Don't have an account? <a routerLink="/signup">Create an-->
<!--                    Account</a></div>-->
<!--              </div>-->
<!--              &lt;!&ndash;email verification start&ndash;&gt;-->
<!--              <div [@slideInOut]="isEmailVerified ? true : false" class="p-5 email-verification-panel"-->
<!--                [ngClass]="{'hide-emailpanel':isEmailVerified,'show-emailpanel':!isEmailVerified}">-->
<!--                <div class="wd-100p">-->
<!--                  <h3 class="tx-color-01 mg-b-5 relative-txt-center"><span (click)="onToggle()"-->
<!--                      class="back-arrow">🡠</span>Email Verification</h3>-->
<!--                  <p class="tx-color-05 tx-16 mg-b-40 tx-center">Your email address is not verified</p>-->
<!--                </div>-->
<!--                <div class="justify-content-center">-->
<!--                  <div *ngIf="isMsgConfirm">-->
<!--                    <p class="confirm-msg">-->
<!--                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">-->
<!--                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"-->
<!--                          cx="65.1" cy="65.1" r="62.1" />-->
<!--                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6"-->
<!--                          stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />-->
<!--                      </svg>-->
<!--                      <span> Confirmation email sent</span>-->
<!--                    </p>-->
<!--                    <p>-->
<!--                      If you do not receive the confirmation message within a few minutes, please check your Spam folder-->
<!--                      just in case the confirmation email got delivered there instead of your inbox.-->
<!--                    </p>-->
<!--                  </div>-->
<!--                  <div class="text-center">-->
<!--                    <button class="btn btn-lg btn-uppercase btn-brand-02 btn-block" type="button"-->
<!--                      *ngIf="!isEmailVerified && !isMsgConfirm" [disabled]="isVerificationBtnClick"-->
<!--                      (click)="resendToken()">-->
<!--                      <span *ngIf="isVerificationBtnClick" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--                      Resend Verification-->
<!--                    </button>-->
<!--                    <button class="btn btn-lg btn-uppercase btn-brand-02 btn-block" *ngIf="isMsgConfirm" type="button"-->
<!--                      (click)="onToggle()">-->
<!--                      <span class="h6 mr-3 tx-white">🡠</span> Login-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash;email verification end&ndash;&gt;-->
<!--              <div class="col-sm-5 mr-0 float-right flotingdiv" *ngIf="isOpen">-->
<!--                <alert *ngIf="isOpen" [type]="alertType" [dismissible]="dismissible" (onClosed)="onClosed(alertMsg)">{{-->
<!--                  alertMsg}}-->
<!--                </alert>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->


<div class="container-fluid login-background ">
  <div class="row justify-content-center">
    <div class="">
      <div class="logo-group">
        <img src="assets/imgs/az-logo.png" class="az-logo mb-2" alt="adzapier logo" />
        <h4 class="tx-white">Trusted Data Privacy Solutions</h4>
      </div>
        <div [@animImageSlider]="step"  class="inputs-key login-form bg-white" style="height:470px;">


          <form *ngIf="step == 1" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="email" class="tx-17">Email Address</label>
              <input type="email" formControlName="email" class="form-control input-lg"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$"
                placeholder="yourname@yourmail.com" (ngModelChange)="clearError()" />
              <!-- pattern="^\w+@[a-zA-Z_0-9]+?\.com$" -->
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Please enter a valid email</div>
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex justify-content-between mg-b-5">
                <label class="mg-b-0-f tx-17">Password</label>

              </div>
              <input type="password" togglepassword formControlName="password" class="form-control input-lg"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter your password"
                (ngModelChange)="clearError()" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <!-- <div *ngIf="f.password.errors.pattern">Invalid Password</div> -->
              </div>
              <div *ngIf="isInvitedUserVerified" style="color: rgb(17, 0, 128);">
                <p class="confirm-msg">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                      cx="65.1" cy="65.1" r="62.1" />
                    <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                      stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                  </svg>
                  <span> Your email address is successfully verified ! please login to access your account!'</span>
                </p>
              </div>
              <!-- <div *ngIf="!isInvitedUserVerified">
            <span *ngIf="!hideMessage" class="mt-1" style="color: red;">Verification link has been expired!</span>
          </div> -->
              <div class="row forgot-password">
                <a (click)="next()" tabindex="-1">Forgot password?</a>
              </div>
              <br>
              <div *ngIf="show" style="color:blue;">
                <p>Sign In Successfully</p>
              </div>
              <div style="color:red;">
                <p>{{errorMsg}}</p>
              </div>


            </div >
            <div class="text-center">
              <button [disabled]="loading" class="btn btn-brand-02 btn-block login-btn" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{sign_in}} </button>

              <div class="divider-text tx-17">or</div>
              <div class="tx-13 mg-t-20 tx-center tx-18">Don't have an account? <a class="font-weight-bold"
                  routerLink="/signup">Create an
                  Account</a></div>
            </div>

          </form>
       

          <form [formGroup]="forgotpasswordForm" *ngIf="step == 2" (ngSubmit)="onSubmitForgot()">
            <h4  class="mb-4" >Forgot Password</h4>

            <div class="form-group">
              <label for="email" class="tx-17">Email Address</label>
              <input type="email" formControlName="emailid" class="form-control input-lg"
                [ngClass]="{ 'is-invalid': submitted && r.emailid.errors }"
                pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$" placeholder="yourname@yourmail.com"
                (ngModelChange)="clearError()" />
              <!-- pattern="^\w+@[a-zA-Z_0-9]+?\.com$" -->
              <div *ngIf="submitted && r.emailid.errors" class="invalid-feedback">
                <div *ngIf="r.emailid.errors.required">Email is required</div>
                <div *ngIf="r.emailid.errors.pattern">Please enter a valid email</div>
              </div>
            </div>
            <div class="text-center">
              <button [disabled]="loading" class="btn btn-brand-02 btn-block login-btn" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Send </button>

              <div class="divider-text tx-17">or</div>
              <div class="tx-13 mg-t-20 tx-center tx-18">Go back to Login? <a class="font-weight-bold" style="color: rgb(74, 127, 226);"
                  (click)="previous()">Login
                </a></div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
<div class="col-sm-5 mr-0 float-right flotingdiv" *ngIf="isOpen">
  <alert *ngIf="isOpen" [type]="alertType" [dismissible]="dismissible" dismissOnTimeout="5000" (onClosed)="onClosed(alertMsg)">{{
    alertMsg}}
  </alert>
</div>