#myChart {
  height: 100%;
  width: 100%;
  min-height: 150px;
}

.zc-ref {
  display: none;
}
.chart-one {
  margin: 10px;
}
.state-count-list{
  height: 170px;
  overflow: overlay;
}
.state-header{
  padding-top: 10px;
  padding-bottom: 9px;
}

.country-dropdown{
  height: 29px;
  padding-right: 1px;
  padding-left: 5px;
}
.div-height {
  //min-height: 475px;
}
.card-height {
  min-height: 450px;
}

.chart-height {
  min-height: 376px;
}

