#myChart {
  height: 100%;
  width: 100%;
  min-height: 150px;
}

.zc-ref {
  display: none;
}
.chart-one {
  margin: 10px;
}
.state-count-list{
  height: 170px;
  overflow: overlay;
}
.state-header{
  padding-top: 10px;
  padding-bottom: 9px;
}

.country-dropdown{
  height: 29px;
  padding-right: 1px;
  padding-left: 5px;
}
.div-height {
  //min-height: 475px;
}
.card-height {
  min-height: 450px;
}

.chart-height {
  min-height: 376px;
}

.avr-time-text {
  margin-left: -3px;
  margin-right: -5px;
}

.state-header select {
  width: 70px;
  height: 30px;
  padding: 0 10px;
  background:url('../../../assets/imgs/down-arrow.svg') no-repeat;
  background-position: 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.neg-margin {
  // margin-left: -15px;
  margin-right: 0;// -15px;
}