
<!DOCTYPE HTML>
<html>

  <head>
  <style>
     
    th, td {
      padding: 10px;
    }
    th {
      text-align: left;
    }
    </style>
</head>
  <h3>Activites</h3>
  <body>
  <table style="width: 100%;" class="table">
    <thead class="thead-light">  
      <tr>  
          <th>#</th>  
          <th>Description</th>  
          <th>Date</th>   
      </tr>  
      <tbody>  
        <tr *ngFor="let data of userdata;">  
            <td>{{data.SrNo}}</td>  
            <td>{{data.Description}}</td>  
            <td>{{data.Date}}</td>    
        </tr>  
    </tbody>
  </table>
</body>
</html>