<div class="d-sm-flex align-items-center justify-content-between ">
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
          <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
      </nav>
    </div>
  </div>
<div class="card ht-lg-100p">
    <div class="card-header height50 d-flex align-items-center justify-content-between">
        <h6 class="mg-b-0">Product settings</h6>
        Manage products for your Dashboard.
    </div><!-- card-header -->
    <div class="card-body pd-15">

        <div class="row row-xs">
            <div class="col-lg-3 col-xl-4 mg-t-10">
                <div class="card">

                    <div class="card-header d-flex pb-0 bd-b-0">
                        <i class="fas fa-cogs"></i>
                        <div class="ml-10">
                            <h6 class="mg-b-5">Global Configuration</h6>
                            <p class="tx-12 tx-color-03 mg-b-0">Configure Company Information..
                            </p>
                            <p class="link">  <a routerLink="company">Configure Company </a></p>
                        </div>
                    </div>
                    
                </div><!-- card -->
            </div>

            <div class="col-lg-3 col-xl-4 mg-t-10">
                <div class="card">

                    <div class="card-header d-flex pb-0 bd-b-0">
                        <i class="far fa-building"></i>
                        <div class="ml-10">
                            <h6 class="mg-b-5"> Organization</h6>
                            <p class="tx-12 tx-color-03 mg-b-0">Create and manage Organization, Properties and members.
                            </p>
                            <p class="link">
                                <a routerLink="organizations">Manage Organizations </a>
                            </p>
                        </div>
                    </div>
                    
                </div><!-- card -->
            </div>


            <div class="col-lg-3 col-xl-4 mg-t-10">
                <div class="card">
                    <div class="card-header d-flex pb-0 bd-b-0">
                        <i class="fas fa-dollar-sign"></i>
                        <div class="ml-10">
                            <h6 class="mg-b-5"> Billing</h6>
                            <p class="tx-12 tx-color-03 mg-b-0">Create and manage subscriptions and invoices..
                            </p>
                            <p class="link">
                                <a routerLink="billing" (click)="goto('billing')">Subscriptions </a>
                            </p>
                        </div>
                    </div><!-- card-header -->
                    
                </div><!-- card -->
            </div>

            <div class="col-lg-3 col-xl-4 mg-t-10">
                <div class="card">
                    <div class="card-header d-flex pb-0 bd-b-0">
                        <i class="fas fa-user-shield"></i>
                        <div class="ml-10">
                        <h6 class="mg-b-5">Team and Security</h6>
                        <p class="tx-12 tx-color-03 mg-b-0">Add or remove team members from your account.
                        </p>
                        <p class="link">
                            <a routerLink="company/companyteam">Add or remove team members from your account</a>
                        </p>
                        </div>
                    </div><!-- card-header -->
                    
                </div><!-- card -->
            </div>




        </div>

    </div><!-- card-body -->
</div>

<ng-template #confirmTemplate>
    <div class="modal-body text-center">
        <p>Property is not created! create property</p>
        <button type="button" class="btn btn-xs btn-primary mr-2" (click)="confirm()">OK</button>
    </div>
  </ng-template>
  