<div class="card ht-lg-100p">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h6 class="mg-b-0">Product settings</h6>
        Manage products for your Dashboard.
    </div><!-- card-header -->
    <div class="card-body pd-15">

        <div class="row row-xs">
                <div class="col-lg-3 col-xl-4 mg-t-10">
                        <div class="card">

                            <div class="card-header pd-t-20 pd-b-0 bd-b-0">
                                <h6 class="mg-b-5">Company</h6>
                                <p class="tx-12 tx-color-03 mg-b-0">Configure Company Information..
                                </p>
                            </div>
                            <div class="card-body pd-20">

                                <div class="row">
                                    <div class="col-sm">
                                        <a routerLink="company">Configure Company </a>

                                    </div><!-- col -->

                                </div><!-- row -->
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div>

            <div class="col-lg-3 col-xl-4 mg-t-10">
                <div class="card">

                    <div class="card-header pd-t-20 pd-b-0 bd-b-0">
                        <h6 class="mg-b-5">Organization</h6>
                        <p class="tx-12 tx-color-03 mg-b-0">Create and manage Organization, Properties and members.
                        </p>
                    </div>
                    <div class="card-body pd-20">

                        <div class="row">
                            <div class="col-sm">
                                <a routerLink="/settings/organizations">Manage Organizations </a>

                            </div><!-- col -->

                        </div><!-- row -->
                    </div><!-- card-body -->
                </div><!-- card -->
            </div>


            <div class="col-lg-3 col-xl-4 mg-t-10">
                <div class="card">
                    <div class="card-header pd-t-20 pd-b-0 bd-b-0">
                        <h6 class="mg-b-5">Billing</h6>
                        <p class="tx-12 tx-color-03 mg-b-0">Create and manage subscriptions and invoices..
                        </p>
                    </div><!-- card-header -->
                    <div class="card-body pd-20">

                        <div class="row">
                            <div class="col-sm">
                                <a routerLink="billing">Subscriptions </a>
                            </div><!-- col -->

                        </div><!-- row -->
                    </div><!-- card-body -->
                </div><!-- card -->
            </div>

            <div class="col-lg-3 col-xl-4 mg-t-10">
                <div class="card">
                    <div class="card-header pd-t-20 pd-b-0 bd-b-0">
                        <h6 class="mg-b-5">Team and Security</h6>
                        <p class="tx-12 tx-color-03 mg-b-0">Add or remove team members from your account.
                        </p>
                    </div><!-- card-header -->
                    <div class="card-body pd-20">

                        <div class="row">
                            <div class="col-sm">
                                <a href="page-settings-team.html">Add or Remove members from your
                                    account</a>
                            </div><!-- col -->

                        </div><!-- row -->
                    </div><!-- card-body -->
                </div><!-- card -->
            </div>




        </div>

    </div><!-- card-body -->
</div>
