<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
  <div class="d-sm-flex align-items-center justify-content-between ">
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
          <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">billing</li>
        </ol>
      </nav>
      <h4 class="mg-b-0 tx-spacing--1">Billing</h4>
    </div>
<!--    <button id="toggleplan" class="btn btn-primary">Paid/Free</button>-->
  </div>

  <div *ngIf="isSuccess" class="mb-0 mt-3 alert alert-success">
    <strong> Payment Received!</strong> Thanks for the payment - Your plan has been upgraded
  </div>

  <div *ngIf="isError" class="mb-0 mt-3 alert alert-danger">
    <strong>Error!</strong> Something went Wrong...
  </div>

  <div class="paid" style="position: relative;">
    <div class="row row-xs">
      <div class="col-sm-6 col-lg-6 mg-t-40 mg-sm-t-0 mg-md-t-40">
        <div class="card" style="min-height:200px">
          <div class="card-body">
            <h5 class="card-title">Bill Estimate</h5>

            <span class="card-text">{{billingDetails.billing_history.currency}} {{billingDetails.billing_history.amount}}
                                <span class="card-text">(tax inclusive) </span>
                            </span>
            <br>
            <span> Plan Subscribed: {{billingDetails.billing_details.plan_name}} </span>
<!--            <p>Next Charge: May 28,2020</p>-->

          </div>
          <div class="card-footer">
            <!-- <button class="btn btn-block btn-primary">Upgrade Plan</button> -->
            <a class="btn btn-block btn-primary btn-success" routerLink="/pricing"> Upgrade Now!</a>
          </div>
        </div>
      </div>





      <div class="col-sm-6 col-lg-6 mg-t-40 mg-sm-t-0 mg-md-t-40">
        <div class="card" style="min-height:200px">
          <div class="card-body">
            <h5 class="card-title">Billing details</h5>
<!--            <h6 class="card-subtitle mb-2 text-muted">Billing period</h6>-->
<!--            <p class="card-text">Monthly</p>-->
            <div class="row">
              <div class="col-sm-3">
                <i class="fab fa-cc-{{billingDetails.billing_details.brand}}" aria-hidden="true" style="font-size: 70px;"></i>
              </div>
              <div class="col-sm-9">
                <span p-0="">{{billingDetails.billing_details.card_number}}</span>
                <br>
                <span>{{billingDetails.billing_details.name}}</span>
                <br>
                <p>Expires <span [innerHTML]="billingDetails.billing_details.expiry"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-xs ">
      <div class="col-sm-6 col-lg-6 mg-t-40 mg-sm-t-0 mg-md-t-40">
        <div class="card" style="min-height:200px">
          <div class="card-body">
            <h5 class="card-title">Bill history</h5>

                                                  <span class="card-text">{{billingDetails.billing_history.currency}} {{billingDetails.billing_history.amount}}
                                <span class="card-text">(tax inclusive) </span>
                            </span>
<!--            <p>Next Charge: May 28,2020</p>-->
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-6 mg-t-40 mg-sm-t-0 mg-md-t-40">
        <div class="card" style="min-height:200px">
          <div class="card-body">
            <h5 class="card-title">Company Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{companyDetails.name}}</h6>

            <h6 class="tx-15 mg-b-10">Contact Info</h6>
            <p class="mg-b-0">{{billingDetails.company_details.address}}</p>
<!--            <p class="mg-b-0">Tel No: 324 445-4544</p>-->
            <p class="mg-b-0">Email: {{billingDetails.company_details.email}}</p>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>

