<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
      <li class="breadcrumb-item">Billing</li>
      <li class="breadcrumb-item active">Manage Subscriptions</li>

    </ol>
  </nav>
</div>
<div *ngIf="isSuccess" class="mb-0 mt-3 alert alert-success">
  <strong> Payment Received!</strong> Thanks for the payment - Your Product added on Active Products & Plans
</div>

<div *ngIf="showManageText" class="mb-0 mt-3 alert alert-info">
  <strong> Updated </strong> Your Subscription has been Successful updated
</div>

<div *ngIf="isError" class="mb-0 mt-3 alert alert-danger">
  <strong>Error!</strong> Something went Wrong...
</div>

<div class="card mt-4 manage-license">
  <div class="card-header row ml-0 mr-0">
    <div class="col-md-7 p-0 align-items">
    <h4 class="tx-14 tx-uppercase  mb-0 tx-spacing-1 tx-color-02 tx-semibold">Manage Subscriptions</h4>
    </div>
    <div class="col-md-5 text-right p-0">
      <a routerLink="/settings/billing/pricing" [queryParams]="{oid:queryOID , pid:queryPID}" class="btn btn-sm btn-outline-secondary btn-uppercase mr-2">
        <i class="fa fa-plus pr-1"  aria-hidden="true"></i>  Add Subscription</a>

      <button *ngIf="activeSubscriptionList.length > 0" (click)="onGenerateSessionID()" type="button" class="btn btn-sm btn-uppercase btn-outline-secondary" [disabled]="userRole === 'View Only'"> <i class="fa fa-cogs pr-1" aria-hidden="true"></i>
        Manage Current Subscriptions</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="cl-gray text-primary border-bottom tx-16 p-2 pl-3 mb-0">Active Products & Plans</h4>
    </div>

  </div>

  <div class="card-body border-top-0 p-1 mt-0">
    <ng-container *ngIf="!skLoading">
    <table class="table mb-0 tx-14">
      <thead>
      <tr>
        <th class="pl-2">Product Name</th>
        <th>Plan Name</th>
        <th>Available Subscription</th>
        <th>Used / Total Subscription</th>
        <th class="text-left pl-2">Valid Up to</th>
        <th>Price</th>
        <th>Pay By</th>
        <th>Action</th>
      </tr>
      </thead>
      <ng-container *ngIf="activeSubscriptionList.length > 0">
      <tbody>
      <tr *ngFor="let plan of activeSubscriptionList">
        <ng-container *ngIf="plan.active">
        <td *ngIf="plan.planDetails.level === 'property'"><a class="plan-name" [routerLink]="'/settings/billing/manage/property'"
          [queryParams]="{planid: plan.id, plan_name: plan.plan_name,
             total_licence: plan.total_licence, assigned_licence: plan.assigned_licence,
              product_name: plan.planDetails.product_name,
              type: plan.planDetails.type, oid: this.queryOID, pid: this.queryPID
            }">
           {{plan.planDetails.product_name}}</a></td>

           <td *ngIf="plan.planDetails.level !== 'property'"><a class="plan-name" [routerLink]="'/settings/billing/manage/organizations'"
            [queryParams]="{planid: plan.id, plan_name: plan.plan_name,
               total_licence: plan.total_licence, assigned_licence: plan.assigned_licence,
                product_name: plan.planDetails.product_name,
                type: plan.planDetails.type, oid: this.queryOID, pid: this.queryPID
              }">
             {{plan.planDetails.product_name}}</a></td>


           <td>{{plan.plan_name}}</td>
        <td class="text-center">{{ plan.total_licence - plan.assigned_licence}} </td>
        <td>
          <div class="row justify-content-center">
            <div class="col-md-7 p-0">
            <div class="progress mt-1">
            <!-- <div class="progress-bar" [ngStyle]="{width:  onCalculateOptValue(plan.assigned_licence, plan.total_licence)+'%'}" style=" background-color: #11188f">
            </div>
            <div class="progress-bar"  [ngStyle]="{width:  100 - onCalculateOptValue(plan.assigned_licence, plan.total_licence) +'%'}" style="background-color: #3d78d4">
            </div> -->
            <span class="txt-center-bold"> {{plan.assigned_licence}} / {{plan.total_licence}}</span>
            <div class="progress-bar" [ngStyle]="{width:  onCalculateOptValue(plan.assigned_licence, plan.total_licence)+'%'}">
            </div>
          </div>
        </div>
        </div>

        </td>
        <td class="validity"><span class="activeplan"><i class="fa fa-check-circle pr-2" aria-hidden="true"></i> Active</span>
          Renews on  {{plan.planDetails.plan_ends.slice(0, 10)}}</td>
        <td>{{plan.planDetails.price + '.00 '| currency : 'USD'}}  </td>
        <th class="d-flex">**** <span class="pr-1">{{plan.planDetails.card_number}}</span>

          <span *ngIf="plan.planDetails.brand !== 'mastercard' && plan.planDetails.brand !== 'visa' && plan.planDetails.brand !== 'amex'">{{' ' + plan.planDetails.brand}}</span>
          <img *ngIf="plan.planDetails.brand === 'mastercard'" alt="Credit Card Logos" title="Credit Card Logos" src="assets/card-logo/mc.png" width="40" height="25" border="0" />
          <img *ngIf="plan.planDetails.brand === 'visa'" alt="Credit Card Logos" title="Credit Card Logos" src="assets/card-logo/visa.gif" width="35" height="16" border="0" />
          <img *ngIf="plan.planDetails.brand === 'amex'" alt="Credit Card Logos" title="Credit Card Logos" src="/assets/card-logo/amex.gif" width="35" height="22" border="0" />

        </th>
          <td style="width: 290px" *ngIf="plan.planDetails.level === 'property'">
            <a class="plan-name" [routerLink]="'/settings/billing/manage/property'"
                                                               [queryParams]="{planid: plan.id, plan_name: plan.plan_name,
             total_licence: plan.total_licence, assigned_licence: plan.assigned_licence,
              product_name: plan.planDetails.product_name,
              type: plan.planDetails.type, oid: this.queryOID, pid: this.queryPID
            }">
              <button pButton label="Assign Property" class="w-100 p-button-secondary manage-btn"></button></a></td>

          <td style="width: 290px" *ngIf="plan.planDetails.level !== 'property'"><a class="plan-name" [routerLink]="'/settings/billing/manage/organizations'"
                                                               [queryParams]="{planid: plan.id, plan_name: plan.plan_name,
               total_licence: plan.total_licence, assigned_licence: plan.assigned_licence,
                product_name: plan.planDetails.product_name,
                type: plan.planDetails.type, oid: this.queryOID, pid: this.queryPID
              }">
            <button pButton label="Assign Organization" class="w-100 p-button-secondary manage-btn"></button></a></td>


        </ng-container>
      </tr>
    </tbody>
</ng-container>
    </table>
    <ng-container *ngIf="activeSubscriptionList.length == 0">
      <div class="alert cs-alert w-100 alert-info">You don't have any active plan</div>
      </ng-container>
      </ng-container>
      <ngx-skeleton-loader  *ngIf="skLoading" count="6" class="pt-4"></ngx-skeleton-loader>

  </div>
</div>



<div class="card mt-4 manage-license">
  <div class="card-header row ml-0 mr-0">
    <div class="col-md-7 p-0 align-items">
    <h4 class="tx-14 tx-uppercase  mb-0 tx-spacing-1 tx-color-02 tx-semibold">Expired Products & Plans</h4>
    </div>
  </div>
  <div class="card-body border-top-0 p-1 mt-0">
    <ng-container *ngIf="!skLoading">
      <table class="table mb-0 tx-14">
        <thead>
        <tr>
          <th class="pl-2">Product Name</th>
          <th>Plan Name</th>
<!--          <th>Available Licenses</th>-->
<!--          <th>Used / Total Licenses</th>-->
          <th class="text-left pl-2">Valid Up to</th>
          <th>Price</th>
          <th>Pay By</th>
        </tr>
        </thead>
        <ng-container *ngIf="inActiveplans.length > 0">
        <tbody>
        <tr *ngFor="let plan of inActiveplans">
          <td>   <b> {{plan.planDetails.product_name}}</b></td>


             <td style="width: 200px">{{plan.plan_name}}</td>
          <td style="width: 270px"><span class="inactiveplan"> <i class="fa fa-times-circle pr-2" aria-hidden="true"></i>Inactive</span> Expired on {{plan.planDetails.plan_ends.slice(0, 10)}}</td>
          <td>{{plan.planDetails.price + '.00 '| currency : 'USD'}}  </td>
          <th style="text-transform: capitalize;display: flex;">**** <span class="pr-1">{{plan.planDetails.card_number}}</span>

            <span *ngIf="plan.planDetails.brand !== 'mastercard' && plan.planDetails.brand !== 'visa' && plan.planDetails.brand !== 'amex'">{{ ' ' + plan.planDetails.brand}}</span>
            <img *ngIf="plan.planDetails.brand === 'mastercard'" alt="Credit Card Logos" title="Credit Card Logos" src="assets/card-logo/mc.png" width="40" height="25" border="0" />
            <img *ngIf="plan.planDetails.brand === 'visa'" alt="Credit Card Logos" title="Credit Card Logos" src="assets/card-logo/visa.gif" width="35" height="16" border="0" />
            <img *ngIf="plan.planDetails.brand === 'amex'" alt="Credit Card Logos" title="Credit Card Logos" src="/assets/card-logo/amex.gif" width="35" height="22" border="0" />

          </th>

        </tr>
      </tbody>
  </ng-container>
      </table>
      <ng-container *ngIf="inActiveplans.length == 0">
        <div class="alert cs-alert w-100 alert-info">There is no expired plan</div>
        </ng-container>
        </ng-container>
        <ngx-skeleton-loader  *ngIf="skLoading" count="6" class="pt-4"></ngx-skeleton-loader>
  </div>
</div>

<div class="col-sm-5 mt-3 mr-0 float-right">
  <alert *ngIf="isOpen" [type]="alertType"  dismissOnTimeout="5000">{{  alertMsg}}</alert>
</div>
