.plan-name{
  color: #3949AB;
  font-weight: 500;
  font-size: 15px;
}

.fa-check-circle {
  color: #29c429;
}
.fa-times-circle {
  color: red;
}
.add-sub-btn{
  font-size: 16px;
    font-weight: 600;
    color: #555f5e;
}
.cl-gray{
  color: #555f5e;
}


.cs-alert{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;

}





.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-success {
  background-color: #10b759;
  border-color: #10b759;
  color: #fff;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.flotingdiv{
  position: fixed;
  bottom: 0;
  top: 84%;
  right:0;
  overflow-x: hidden;
  overflow-y: auto;
}

.cursorpointer {
  cursor: pointer;
}

.colorblue {
  color: #00f;
}
