<div class="container-fluid margin-top-70" *ngIf="!publishing">
  <!-- <div class="row"> -->
    
<div class="row">
  <div class="col-6 m-auto">
    <div class="text-center mt-4">
      <button class="btn btn-primary mx-1" (click)="changeLayout('top')">Top</button>
      <button class="btn btn-primary mx-1" (click)="changeLayout('bottom')">Bottom</button>
      <button class="btn btn-primary mx-1" (click)="changeLayout('left')">Left</button>
      <button class="btn btn-primary mx-1" (click)="changeLayout('right')">Right</button>

      <div class="form-group">
        <label>URL</label>
        <input type="text" class="form-control" id="url"
        required
        [(ngModel)]="url" name="url">
      </div>
    </div>

    <button class="btn  btn-success btn-sm" (click)="onUpdate()">Update</button>

  </div>
  </div>
  <div *ngIf="position">
   
  </div>

  
</div>

<!--Loader-->


