<div [ngClass]="{'spinner': isDisabledScreen}" ></div>
<div [ngClass]="{'pano': isDisabledScreen}" ></div>
<div (click)="openDisablePopUp()"  >
<div class="mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
      <li class="breadcrumb-item">Privacy</li>
      <li class="breadcrumb-item"><a routerLink="/home/dashboard/cookie-consent" [queryParams]="{oid: queryOID, pid: queryPID}">Cookie Consent</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tracking</li>
    </ol>
  </nav>
</div>
<div class="card border-radius-lt-rt">
  <div class="card-header">
    <h4 class="mg-b-0 tx-spacing--1">Cookie Consent Tracking</h4>
  </div>
  <div class="card-body p-2">
      <div class="row">
        <div class="col-sm-3">
          <select (change)="onGetFromServer()" [(ngModel)]="filterTypes.consentType" class="form-control form-control-sm">
            <option value=""> -- Select Consent Type -- </option>
            <option *ngFor="let obj of filterTypesData.consent_type" [value]="obj.consent_type">{{obj.consent_type}}</option>
          </select>
        </div>

        <div class="col-sm-3">
          <select (change)="onGetFromServer()" [(ngModel)]="filterTypes.status" class="form-control form-control-sm">
            <option value=""> -- Select Status -- </option>
            <option *ngFor="let obj of filterTypesData.status" [value]="obj.status">{{obj.status}}</option>
          </select>
        </div>

        <div class="col-sm-2">
          <select (change)="onGetFromServer()" [(ngModel)]="filterTypes.country" class="form-control form-control-sm">
            <option value=""> -- Select Country -- </option>
            <option *ngFor="let obj of filterTypesData.country" [value]="obj.country">{{obj.country}}</option>
          </select>
        </div>

        <div class="col-sm-4">
          <div class="pr-0 d-flex row-reverse" style="margin-right: 100px;">
            <div class="input-group-prepend"  (click)="dp.show()">
              <span class="input-group-text rounded-right border-left-0" id="inputGroup-sizing-sm"><i class="fa" [ngClass]="searchbydaterange !== '' ? 'fa-caret-down':'fa-search'"></i></span>
            </div>
            <input type="text" [(ngModel)]="searchbydaterange"
             class="form-control border-left-0  border-right-0 rounded-right"
            bsDaterangepicker [bsConfig]="bsConfig"  #dp="bsDaterangepicker"  (onHidden)="onGetFromServer()">
            <div class="input-group-prepend border-left-0"  (click)="dp.show()">
              <span class="input-group-text rounded-left border-right-0" id="inputGroup-sizing-sm"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
          </div>

      </div>
    </div>
</div>
<div [ngClass]="{'container-body': isDisabledScreen}">
<p-table class="cookie-tracking-table"
  styleClass="p-datatable-sm"
  [value]="cookieConsents"
  [lazy]="true" [responsive]="true"
  [loading]="tLoading"
  [totalRecords]="totalCookieCount"
   [resizableColumns]="true"
  columnResizeMode="expand"
  [rowsPerPageOptions]="[10,20,30]"
  [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
  (onLazyLoad)="onGetCookieConsentData($event)"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"

>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 125px">ID</th>
      <th>Consent</th>
      <th>Type</th>
      <th>Status</th>
      <th>Date</th>
      <th>Device ID</th>
      <th>Auth ID</th>
      <th>IP Address</th>
      <th>OS</th>
      <th>Country</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-consent   styleClass="p-datatable-responsive-demo">
    <tr>
      <td style="width: 125px">
        <span class="ui-column-title">ID</span>
       <a (click)="onDecodeString(consent)" [routerLink]="['/cookie-consent/cookie-tracking/decode']"  [queryParams]="{tcstring: consent.consent, type: consent.consent_type, oid: queryOID, pid: queryPID}">{{consent.id}}</a>
      </td>
      <td  data-toggle="tooltip" title="{{consent.consent}}">
        <span class="ui-column-title">Consent</span>
        {{ consent.consent.length > 10 ? consent.consent.slice(0, 10) + '...' : consent.consent}}
       </td>
      <td>  <span class="ui-column-title">Type</span>{{consent.consent_type }}</td>
      <td>
        <span class="ui-column-title">Status</span>
        <span *ngIf="consent.status === 'do_not_sell'" class="product-badge status-outofstock">{{consent.status}}</span>
        <span *ngIf="consent.status === 'reject_all'" class="product-badge status-outofstock">{{consent.status}}</span>
        <span *ngIf="consent.status === 'accept_all'" class="product-badge status-instock">{{consent.status}}</span>
        <span *ngIf="consent.status === 'save_setting'" class="product-badge status-lowstock">{{consent.status}}</span>
      </td>
      <td >  <span class="ui-column-title">Date</span> {{consent.consent_date | date}} </td>
      <td data-toggle="tooltip" title="{{consent.device_id}}"><span class="ui-column-title">Device ID</span>{{consent.device_id.slice(0, 10)}} ...</td>
      <td data-toggle="tooltip" title="{{consent.auth_id ? consent.auth_id : ''}}">
        <span class="ui-column-title">Auth ID</span>
        {{consent.auth_id ? consent.auth_id.slice(0, 10): ''}} ...</td>
      <td data-toggle="tooltip" title="{{consent.ip_address}}">
        <span class="ui-column-title">IP Address</span>
        {{ consent.ip_address.length > 12 ? consent.ip_address.slice(0, 12) + '...' : consent.ip_address}}
      </td>
      <td>  <span class="ui-column-title">OS</span>{{consent.os}}</td>
      <td>  <span class="ui-column-title">Country</span>{{consent.country}}</td>
      <td>  <span class="ui-column-title">City</span>{{consent.city}}</td>
      <td> <span class="ui-column-title">State</span> {{consent.state}}</td>
    </tr>
  </ng-template>
</p-table>
</div>
</div >
