    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && !revisitedqslink && linkid == '1' && divguidetext == 'addcompanydetails'">
            <p> {{guidancetext}} revisitedqslink | {{revisitedqslink}} isactualLinkclickedbyuser ||{{isactualLinkclickedbyuser}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser  && linkid == '1' && divguidetext == 'addcompanydetails'">
            <p> {{guidancetext}} revisitedqslink | {{revisitedqslink }} isactualLinkclickedbyuser 2 ||{{isactualLinkclickedbyuser}}</p>
            
        </div>
    </div>
    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '2' && divguidetext == 'addorganization'">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '2' && divguidetext == 'addorganization'">
           <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '3' && divguidetext == 'addproperty'">
           <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '3' && divguidetext == 'addproperty'">
           <p> {{guidancetext}}</p>
            
        </div>
    </div>
    
    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '4'  && divguidetext == 'subscription' ">
            {{guidancetext}}
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '4'  && divguidetext == 'subscription'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '5'  && divguidetext == 'addcookieconsentsubscription' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '5'  && divguidetext == 'addcookieconsentsubscription'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '6'  && divguidetext == 'addcookieconsentsubscriptiontoproperty' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '6' && divguidetext == 'addcookieconsentsubscriptiontoproperty'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>


    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '7' && divguidetext == 'cookiescan-addcookies'">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '7' && divguidetext == 'cookiescan-addcookies'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '8' && divguidetext == 'configure-cookie-banner'">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '8' && divguidetext == 'configure-cookie-banner'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '9'  && divguidetext == 'consent-tracking' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '9' && divguidetext == 'consent-tracking'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '10'  && divguidetext == 'consent-dashboard' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="revisitedqslink && linkid == '10' && revisitedlinkId == '10' && divguidetext == 'consent-dashboard'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '11'  && divguidetext == 'add-dsar-subscription' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="revisitedqslink && linkid == '11' && revisitedlinkId == '11' && divguidetext == 'add-dsar-subscription'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>


    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '12'  && divguidetext == 'assign-dsar-subscription-to-organization'">
            {{guidancetext}}
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '12' && divguidetext == 'assign-dsar-subscription-to-organization'">
            {{guidancetext}}
            
        </div>
    </div>
    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '13'  && divguidetext == 'workflows' ">
           <p>{{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj" *ngIf="isactualLinkclickedbyuser && linkid == '13' && divguidetext == 'workflows'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>


    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '14'  && divguidetext == 'web-form' ">
            <p> {{guidancetext}}</p>
             
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '14' && divguidetext == 'web-form'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>


    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '15'  && divguidetext == 'dsar-requests' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '15' && divguidetext == 'dsar-requests'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '16'  && divguidetext == 'dsar-dashboard' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '16' && divguidetext == 'dsar-dashboard'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '17'  && divguidetext == 'connect-to-systems' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '17' && divguidetext == 'connect-to-systems'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '18'  && divguidetext == 'add-consent-preference-subscription' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '18' && divguidetext == 'add-consent-preference-subscription'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>


    <div *ngIf="!isactualLinkclickedbyuser">
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '19'  && divguidetext == 'assign-consent-preference-subscription-toproperty' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '19' && divguidetext == 'assign-consent-preference-subscription-toproperty'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '20'  && divguidetext == 'javascript-apisfor-implementation' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '20' && divguidetext == 'javascript-apisfor-implementation'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>


    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '21'  && divguidetext == 'manage-consent-records' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '21' && divguidetext == 'manage-consent-records'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>

    <div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isclickedbyuser && !isactualLinkclickedbyuser && linkid == '22'  && divguidetext == 'consent-preference-dashboard' ">
            <p> {{guidancetext}}</p>
            
        </div>
        <div class="guidencediv" [ngStyle]="styleobj"
            *ngIf="isactualLinkclickedbyuser && linkid == '22' && divguidetext == 'consent-preference-dashboard'">
            <p> {{guidancetext}}</p>
            
        </div>
    </div>
