<div class="heading_border">
    <h4 class="mg-b-10">Organizations</h4>
</div>
<div>
    <div class="organizationlist">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Organization</th>
                    <th>View details</th>
                    <th>Add Properties</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of orgList; let i = index">
                    <td>{{i+1}}</td>
                    <td><span *ngIf="!isEditable">{{data.orgName}}</span>
                        <input type="text" *ngIf="isEditable" [(ngModel)]="data.orgName" class="form-control"
                            id="addOrg" placeholder="Add Organization">
                    </td>
                    <td>
                        <!-- <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                            (click)="editOrganizationModalPopup(editOrgModal,data)">Edit</button> -->
                        <!-- <button (click)="edit(data)" class="btn btn-outline-primary">
                            {{!isEditable?'Edit':'Cancel'}}</button> -->
                        <!-- <button *ngIf="isEditable" (click)="saveUpdatedChanges(data.orgid,data.orgName)"
                            class="btn btn-primary">Save</button> -->
                        <!-- <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                            (click)="loadOrganizationDetails(data)">View details</button> -->
                    </td>
                    <td>

                        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                            (click)="open(mymodal,data)">Add Property</button>
                        <!-- <button class="btn btn-sm btn-outline-dark"
                            (click)="getPropertyList(data.orgid)">{{isOpen?'Hide':'Show'}}</button> -->
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="paddingzero">
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" *ngIf="showOrgDetails">
            <thead>
                <tr>
                    <th>Organization name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zipcode</th>
                    <th>Edit Organization</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let details of orgDetails">
                    <td>{{details.name}}</td>
                    <td>{{details.address1}} {{details.address2}}</td>
                    <td>{{details.city}}</td>
                    <td>{{details.state}}</td>
                    <td>{{details.zipcode}}</td>
                    <td><button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                            (click)="editOrganizationModalPopup(editOrgModal,details)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="propertylist"> <!--*ngIf="isOpen"-->
        <h5 class="mg-t-10">Property list</h5>
        
        <table class="table" *ngIf="propertyList?.length !== '0'">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Logo</th>
                    <th>Property name</th>
                    <th>Website</th>
                    <th>Edit</th>
                    <th>Manage</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7" class="txt-center"><div *ngIf="propertyList?.length == 0"> No property found </div></td>
                </tr>
                <ng-container *ngFor="let list of propertyList; let i = index">
                    <tr>
                        <td>
                            {{i+1}}
                        </td>
                        <td>
                            <img width="50" height="50" [src]="list.logo_url" width="150px" />
                        </td>
                        <td>
                            {{list.propname}}
                        </td>
                        <td>
                            {{list.website}}
                        </td>
                        <td>
                            <button class="btn btn-outline-primary" (click)="editModalPopup(mymodal,list)">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-primary">Manage</button>
                        </td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </div>
</div>
<ng-template #editOrgModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Organization</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close Clicked')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="editOrganisationForm" (ngSubmit)="updateOrganisationData(myContext)">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="organizationname">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="organizationname"
                            formControlName="organizationname" name="organizationname"
                            [ngClass]="{ 'is-invalid': submitted && editOrg.organizationname.errors }" />
                        <div *ngIf="submitted && editOrg.organizationname.errors" class="invalid-feedback">
                            <div *ngIf="editOrg.organizationname.errors.required">Organization name is required</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="taxidnumber">Tax ID</label>
                        <input type="text" class="form-control" [(ngModel)]="taxidnumber" formControlName="taxidnumber"
                        name="taxidnumber" />
                          
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="addressone">Address 1</label>
                        <input type="text" class="form-control" [(ngModel)]="addressone" formControlName="addressone"
                            name="addressone" [ngClass]="{ 'is-invalid': submitted && editOrg.addressone.errors }"/>
                            <div *ngIf="submitted && editOrg.addressone.errors" class="invalid-feedback">
                                <div *ngIf="editOrg.addressone.errors.required">Address 1 is required</div>
                            </div>
                    </div>
                   
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="addresstwo">Address 2</label>
                        <input type="text" class="form-control" [(ngModel)]="addresstwo" formControlName="addresstwo"
                        name="addresstwo" [ngClass]="{ 'is-invalid': submitted && editOrg.addresstwo.errors }"/>
                            <div *ngIf="submitted && editOrg.addresstwo.errors" class="invalid-feedback">
                                <div *ngIf="editOrg.addresstwo.errors.required">Address 2 is required</div>
                            </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" [(ngModel)]="cityname" formControlName="cityname" name="cityname"
                        [ngClass]="{ 'is-invalid': submitted && editOrg.cityname.errors }"/>
                        <div *ngIf="submitted && editOrg.cityname.errors" class="invalid-feedback">
                            <div *ngIf="editOrg.cityname.errors.required">City is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" [(ngModel)]="statename" formControlName="statename"
                        name="statename" [ngClass]="{ 'is-invalid': submitted && editOrg.statename.errors }"/>
                        <div *ngIf="submitted && editOrg.statename.errors" class="invalid-feedback">
                                <div *ngIf="editOrg.statename.errors.required">State is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="state">Zip Code</label>
                        <input type="text" class="form-control" [(ngModel)]="zipcodenum" formControlName="zipcodenum"
                        name="zipcodenum" [ngClass]="{ 'is-invalid': submitted && editOrg.zipcodenum.errors }"/>
                            <div *ngIf="submitted && editOrg.zipcodenum.errors" class="invalid-feedback">
                                <div *ngIf="editOrg.zipcodenum.errors.required">Zipcode is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" (click)="onResetEditOrganization()"
                        class="btn btn-outline-dark">Cancel</button>
                </div>
                <div class="col-sm-6">
                    <button  class="btn btn-outline-dark">Save</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!isEditProperty;else editHeading">Add Property</h4>
        <ng-template #editHeading>
            <h4 class="modal-title" id="modal-basic-title">Edit Property</h4>
        </ng-template>

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close Clicked')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <span *ngIf="myContext.pid">PID:{{pid}} {{myContext.pid}}</span> -->
        <form [formGroup]="organisationPropertyForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="propertyname" formControlName="propertyname"
                    [(ngModel)]="propertyname" [ngClass]="{ 'is-invalid': submitted && orgProp.propertyname.errors }" />
                <div *ngIf="submitted && orgProp.propertyname.errors" class="invalid-feedback">
                    <div *ngIf="orgProp.propertyname.errors.required">Property name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="website">Website</label>
                <input type="text" class="form-control" name="website" formControlName="website" [(ngModel)]="website"
                    [ngClass]="{ 'is-invalid': submitted && orgProp.website.errors }" />
                <div *ngIf="submitted && orgProp.website.errors" class="invalid-feedback">
                    <div *ngIf="orgProp.website.errors.required">Website address is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="logourl">Logo URL</label>
                <input type="text" class="form-control" name="logourl" formControlName="logourl"
                    [(ngModel)]="logourl" [ngClass]="{ 'is-invalid': submitted && orgProp.logourl.errors }" />
                <div *ngIf="submitted && orgProp.logourl.errors" class="invalid-feedback">
                    <div *ngIf="orgProp.logourl.errors.required">Logo URL is required</div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-dark">Save</button>
            </div>
        </form>
    </div>
</ng-template>