<div class="mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-0">
            <li class="breadcrumb-item"><a routerLink="/settings">Settings</a></li>
            <li class="breadcrumb-item"><a routerLink="/settings/company">Company</a></li>
            <li class="breadcrumb-item active" aria-current="page">Company Team</li>
        </ol>
    </nav>
</div>
<div class="table-responsive company-div">
    <div class="card">
        <div class="card-header tx-semibold">
            <div class="searchfield mt-3">
                <div class="col-3 input-group">
                    <input class="form-control py-2 border-right-0 border" [(ngModel)]="searchText" type="search"
                        value="search" id="example-search-input" />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                    </span>
                </div>

                <div class="ml-auto mr-3">
                    <button type="button" class="btn btn-sm btn-outline-secondary btn-uppercase mr-1" data-toggle="modal"
                        (click)="editOrganizationModalPopup(inviteuserModal, 'add')"><i class="fas fa-plus"></i> Add
                        User</button>
                </div>

            </div>
        </div>


        <div class="card-body">
            <table class="table table-bordered mb-2">
                <thead class="thead-primary">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Last Login</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let list of teamMemberList | paginate:paginationConfig | filter: searchText:'user_name':'user_email'; let i = index">
                        <td>
                            {{ (paginationConfig.currentPage - 1) * paginationConfig.itemsPerPage + i + 1 }}
                        </td>
                        <td>{{list.user_name}}</td>
                        <td>
                            {{list.user_email}}
                        </td>
                        <td>
                            {{list.role_name}}
                        </td>
                        <td>
                            <button type="button"
                            *ngIf="!isDateOrString(list.user_last_login) else LoginDate"
                            (click)="onResendInvitation(list.approver_id)" class="btn btn-xs btn-primary"><i
                                class="fas fa-envelope"></i> Resend Invitation</button>
                                <ng-template #LoginDate>
                                    {{list.user_last_login | timeago}}
                                </ng-template>
                        </td>
                        <td>
                            <a class="pd-r-5" (click)="editUserInvitation(inviteuserModal,list)">
                                <span class="d-none cursorpointer d-sm-inline mg-l-0">  <i class="fa fa-pen mr-1 colorblue" aria-hidden="true"></i></span>
                            </a>
                            <a (click)="removeTeamMember(list,'team member')" title="Remove member">
                                <span class="d-none d-sm-inline cursorpointer mg-l-0"> <i class="far fa-trash-alt tx-danger fa-sm"></i></span>
                            </a>
                        </td>

                    </tr>
                    <tr *ngIf="teamMemberList?.length == 0">
                        <td colspan="7" class="txt-center">
                            <div> No User found </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-wrapper">
            <div class="col-4 pl-0">
                <div class="form-inline">
                    <div class="form-group pr-0">
                        <label class="col-sm-5 col-form-label" for="name">View</label>
                        <select id="PerPage" class="form-control" [(ngModel)]="pageSize"
                            (change)="onChangeEvent($event)">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div class="row col-md-5"><label class="d-block">records at a time</label></div>
                </div>
            </div>
            <div class="height28">
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>
            </div>
        </div>

    </div>
</div>


<ng-template #inviteuserModal let-modal>
    <!-- <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Invite new users</h4>

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close Clicked')">
            <span aria-hidden="true">×</span>
        </button>
    </div> -->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!isUpdateUserinvitation;else editInviteUserHeading">Invite New User</h4>
        <ng-template #editInviteUserHeading>
            <h4 class="modal-title" id="modal-basic-title">Update user</h4>
        </ng-template>
        <button type="button" class="close" aria-label="Close" (click)="onCancelClick()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div>Enter the email addresses of the users you'd like to invite, and choose the role they should have.
        </div>
        <form [formGroup]="inviteUserForm" autocomplete="off" (ngSubmit)="onSubmitInviteUser()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="emailid" class="d-block">Email Id</label>
                        <input type="text" formControlName="emailid" name="emailid" [typeahead]="userList"
                        typeaheadOptionField="email" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5"
                            class="form-control" placeholder="Enter email id"
                            pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$"
                            [ngClass]="{ 'is-invalid': isInviteFormSubmitted && userInvite.emailid.errors }" />
                        <div *ngIf="isInviteFormSubmitted && userInvite.emailid.errors" class="invalid-feedback">
                            <div *ngIf="userInvite.emailid.errors.required">User email address is required</div>
                            <div *ngIf="userInvite.emailid.errors.pattern">Please enter a valid email</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="permissions" class="d-block">Select roles</label>
                    <div *ngFor="let order of roleList;" class="form-check-inline">
                        <input type="radio" id="permissions" name="permissions" formControlName="permissions"
                            [value]="order.id" /> {{order.role_name}}</div>
                    <div *ngIf="isInviteFormSubmitted && userInvite.permissions.invalid" class="invalid-radio">
                        Roles is mandatory
                    </div>
                </div>


            </div>
            <div class="float-right">
                <button class="btn btn-link tx-decoration-underline" aria-label="Close"
                (click)="modal.dismiss('Close Clicked')">Cancel</button>
            <button class="btn btn-primary btn-xs" type="submit">Submit</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #confirmTemplate let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Are you absolutely sure?</h5>
        <button type="button" class="close" (click)="cancelModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p> This will delete selected
            <span class="font-weight-bold"> {{showControlContent()}}</span>
             <!-- <span class="font-weight-bold">{{controlname === 'team member' ? selectedTeamMember : organizationName}}</span>
             <span class="font-weight-bold"> {{controlname === 'organization' ? organizationName : confirmProperty}}</span> -->
             {{controlname}}</p>
        <p>Please type <strong>'Delete'</strong> to confirm</p>

        <form [formGroup]="confirmationForm" (ngSubmit)="onSubmitConfirmation(controlname)">
            <input type="text" class="form-control" formControlName="userInput" name="userInput" required
                [ngClass]="{ 'is-invalid': isconfirmationsubmitted && confirmDelete.userInput.value !== 'Delete' }" />
            <div *ngIf="isconfirmationsubmitted && confirmDelete.userInput.value !== 'Delete'" class="invalid-feedback text-left">
                Enter appropriate text
            </div>
            <div class="mt-2 d-flex">
                    <button class="btn btn-xs btn-primary btn-block" *ngIf="controlname == 'team member'">I understand the
                        consequences, delete this
                        {{controlname}}</button>
            </div>
        </form>
    </div>
</ng-template>
<div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
    <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" [dismissible]="dismissible"
        (onClosed)="onCloseAlert(alertMsg)">{{  alertMsg}}</alert>
</div>
