<div class="container-fluid">
  <div class="row">
    <app-header class="w-100" *ngIf="hideHeaderFooter"></app-header>
    <div id="main" class="container site-content">
      <router-outlet></router-outlet>
      <!-- container -->
    </div><!-- content -->
    <ngx-ui-loader></ngx-ui-loader>
    <app-footer class="w-100" *ngIf="hideHeaderFooter"></app-footer>
  </div>
</div>
<div  class="full-back"  *ngIf="isShowingRouteLoadIndicator" >
  <div style="margin-left: 49%; margin-top: 9%; color: #040d26" class="spinner-border"></div>
</div>

<app-subscription-popup></app-subscription-popup>


<ng-template #unauth>
  <div class="modal-body text-center">
    <h4>Unauthorized Access Detected </h4>
    <p>{{unAuthMsg.error}}</p>
  </div>
</ng-template>
