<div class="container-fluid" [ngClass]="!isloginpage ? 'remove-btm-margin remove-top-margin loginbg' : ''" #pageContainer (click)="onPageClick()">
  <div class="row">
    <app-header class="w-100" [isqsmenuopen]="isquickstartopen" [isquickstartdismissed]="isQuickstartmenuDismissed" [qslinkobj]="qsmenulinkobj" (onClickEnableQuickStartMenu)="enableQuickStartMenu($event)" [isquicklinkclicked]="isquickLinkclicked" *ngIf="hideHeaderFooter"></app-header>
    <div class="center-div" [ngClass]="isBillingpageUrl ? 'blue-back' : ''">
    <div id="main" class="site-content" [ngClass]="[!isloginpage ? 'remove-btm-margin remove-top-margin' : '',!checkSidemenuVisibility ? 'site-content-rm-left-padding':'']" [@slideInOutApp]="isSidemenuClick ? true : false">
      <section class="container-fluid">
      <router-outlet></router-outlet>
      </section>
      <!-- container -->
    </div><!-- content -->
    </div> <!--to check whether billing page url to add bg -->
    <ngx-ui-loader></ngx-ui-loader>
    <app-quickstartmenu  (onClickDismiss)="onDismissQSM($event)" (onClickQuickStart)="getStyle($event)" (onClickEmitQSLinkobj)="receivedQSLinkObj($event)" [enablequickstartfromtopmenu]="isQuickstartmenuDismissed" [istopmenuclicked]="isquickstartopen" [ngStyle]="{'position':'fixed','z-index':'1200'}" *ngIf="isloginpage && !isQuickstartmenuDismissed"></app-quickstartmenu>
  </div>
</div>
<app-footer [isheadernotrequired]="!isloginpage" class="w-100"></app-footer>
<div  class="full-back"  *ngIf="isShowingRouteLoadIndicator" >
  <div style="margin-left: 49%; margin-top: 9%; color: #040d26" class="spinner-border"></div>
</div>
<app-subscription-popup></app-subscription-popup>


<ng-template #unauth>
  <div class="modal-body text-center">
    <h4>Unauthorized Access Detected </h4>
    <p>{{unAuthMsg.error}}</p>
  </div>
</ng-template>
