<div class="container-fluid">
  <div class="row">
    <app-header class="w-100" *ngIf="hideHeaderFooter"></app-header>
    <div id="main" class="container site-content">
      <router-outlet></router-outlet>
      <!-- container -->
    </div><!-- content -->
    <ngx-ui-loader></ngx-ui-loader>
    <app-footer class="w-100" *ngIf="hideHeaderFooter"></app-footer>
  </div>
</div>
<div *ngIf="isShowingRouteLoadIndicator" class="full-back">
  <div style="margin-left: 49%; margin-top: 15%; color: #040d26" class="spinner-border"></div>
</div>


<!--[config]="{backdrop: 'static'}" -->
<div bsModal #template="bs-modal" class="modal fade" style="  z-index: 9999999" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">


      <div *ngIf="type ===  'cookieConsent' " class="modal-body">
        <div class="text-center">
          <h4>Your Property License need to Upgrade </h4>
          <p>This feature is not allowed in your current plan please upgrade it </p>
        </div>

        <div class="plan-body">
          <div class="col-md-12 cycle-type">
            <input (change)="onSelectBillingCycle(subType)" #subType type="checkbox" id="lol-checkbox">

            <label id="button" for="lol-checkbox">
              <div id="knob"></div>
              <div id="subscribe">Yearly</div>
              <div id="alright">Monthly</div>
            </label>
          </div>
          <div class="row ml-2 mr-2">
            <div *ngFor="let plan of listAllPlans"
                 class=" mt-2 col ml-2 d-flex bg-white-col bt-card flex-column bd pt-0 mr-2  pd-20 ">
              <h4 class="text-center popular-text"
                  [ngStyle]="{background: plan.price ==  currentPlanData.price ? '#3968fa' : null}">
                <ng-container *ngIf="plan.price ==  currentPlanData.price">CURRENT PLAN</ng-container>
              </h4>
              <h3 [ngStyle]="{color: plan.price <=  currentPlanData.price && plan.price !== -1  ? '#999' : ''}"
                  class="mt-4 plan-type">{{plan.name}}</h3>
              <p [ngStyle]="{color: plan.price <=  currentPlanData.price ? '#999' : ''}"
                 class="tx-color-03 mg-b-50">{{plan.product_name}}</p>
              <h1 *ngIf="plan.price !== -1" class="tx-rubik tx-normal mb-3 mg-t-auto price-text">
                <sup [ngStyle]="{color: plan.price <=  currentPlanData.price ? '#999' : ''}" class="doller">$</sup>
                <span [ngStyle]="{color: plan.price <=  currentPlanData.price ? '#999' : ''}"
                      class="font-weight-bold">{{plan.price}}</span>
              </h1>
              <button (click)="onNavigate()" [disabled]="plan.price <=  currentPlanData.price && plan.price !== -1"
                      class="btn mt-4 mb-4 add-to-cart-btn btn-primary btn-block">
                Choose Plan
              </button>
            </div><!-- col -->
          </div>

          <div class="text-center">
            <a routerLink="/settings/billing/manage" (click)="template.hide()" class="btn mt-3 btn-primary"> <i
              _aria-hidden="true" class="fa fa-cogs pr-1"></i> Manage License</a>
            <p class="cancel-btn mt-2 mb-2" (click)="template.hide()">or Cancel & Go Back</p>
          </div>
        </div>

      </div>

      <div *ngIf="type ===  'org' " class="modal-body">
        <div class="text-center">
          <h4>Your Organization License need to Upgrade </h4>
          <p *ngIf="!msg">This feature is not allowed in your current plan please upgrade it </p>
          <p *ngIf="msg">{{msg}}</p>
        </div>

        <div class="plan-body">
          <div class="col-md-12 cycle-type">
            <input (change)="onSelectBillingCycle(subType)" #subType type="checkbox" id="lol-checkbox">

            <label id="button" for="lol-checkbox">
              <div id="knob"></div>
              <div id="subscribe">Yearly</div>
              <div id="alright">Monthly</div>
            </label>
          </div>
          <div class="row ml-2 mr-2">
            <div *ngFor="let plan of listAddonPlan"
                 class=" mt-2 col ml-2 d-flex bg-white-col bt-card flex-column bd pt-0 mr-2  pd-20 ">
              <div class="pl-3 pr-3" *ngIf="existingOrgPlan.stripe_plan_id !== null"
                   [ngClass]="{'highlight-activeplan' : plan.id === existingOrgPlan.stripe_plan_id}">
                <h4 class="text-center popular-text"
                    [ngStyle]="{background: plan.price ==  currentPlanData.price ? '#3968fa' : null}">
                  <ng-container *ngIf="plan.price ==  currentPlanData.price">CURRENT PLAN</ng-container>
                </h4>
                <h3 [ngStyle]="{color: plan.price <=  currentPlanData.price && plan.price !== -1 ? '#999' : ''}"
                    class="mt-4 plan-type">{{plan.name}}</h3>
                <p [ngStyle]="{color: plan.price <=  currentPlanData.price ? '#999' : ''}"
                   class="tx-color-03 " [ngStyle]="{'margin-bottom': plan.price === -1 ? '40px' : '50px'}">{{plan.product_name}}</p>
                <h1 *ngIf="plan.price !== -1" class="tx-rubik tx-normal mb-3 mg-t-auto price-text">
                  <sup [ngStyle]="{color: plan.price <=  currentPlanData.price ? '#999' : ''}" class="doller">$</sup>
                  <span [ngStyle]="{color: plan.price <=  currentPlanData.price ? '#999' : ''}"
                        class="font-weight-bold">{{plan.price}}</span>
                </h1>
                <button (click)="onNavigate()" *ngIf="plan.id !== existingOrgPlan.stripe_plan_id && plan.price !== -1"
                        [disabled]="plan.price <=  currentPlanData.price"
                        class="btn mt-4 mb-4 add-to-cart-btn btn-primary btn-block">
                  Choose Plan
                </button>
                <button (click)="onNavigate()" *ngIf="plan.price === -1"
                        class="btn mt-0 mb-4 add-to-cart-btn btn-primary btn-block">
                  Choose Plan
                </button>
                <h4 class="current-activeplan tx-primary" *ngIf="plan.id === existingOrgPlan.stripe_plan_id">
                  Current active plan
                </h4>
              </div>
            </div><!-- col -->
          </div>

          <div class="text-center">
            <a routerLink="/settings/billing/manage" (click)="template.hide()" class="btn mt-3 btn-primary"> <i
              _aria-hidden="true" class="fa fa-cogs pr-1"></i> Manage License</a>
            <p class="cancel-btn mt-2 mb-2" (click)="template.hide()">or Cancel & Go Back</p>
          </div>
        </div>

      </div>


      <div *ngIf="type !==  'cookieConsent' && type !==  'org' " class="modal-body">
        <div class="text-center">
          <h4 *ngIf="noPlanType == 'cookieConsent'">You haven't assign license to
            this property</h4>
          <h4 *ngIf="noPlanType == 'org'">You haven't assign license to
            this Organization</h4>
          <h4 *ngIf="noPlanType == 'company'">You can not add more users, Please Upgrade your existing plan </h4>
        </div>

        <div class="text-center">
          <a routerLink="/settings/billing/manage" (click)="template.hide()" class="btn mt-3 btn-primary"> <i
            _aria-hidden="true" class="fa fa-cogs pr-1"></i> Manage License</a>
          <p class="cancel-btn mt-2 mb-2" (click)="template.hide()">or Cancel & Go Back</p>
        </div>


      </div>

    </div>
  </div>
</div>


<ng-template #unauth>
  <div class="modal-body text-center">
    <h4>Unauthorized Access Detected </h4>
    <p>{{unAuthMsg.error}}</p>
  </div>
</ng-template>
