.navbar {
    padding: 5px;
    border-color: #e7e7e7;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-radius: 4px;
    width: 100%;
    height: 60px;
}

.navbar h3 {
    margin: 10px 20px 10px 10px;
}

.navbar-nav {
    padding-left: 25px;
    padding-right: 25px;
}

i.dropdown-submenu {
    float: right;
    margin-top: 5px;
    margin-right: -5px;
}

.dropdown-submenu-left {
    //margin-top: 5px;
    margin-left: -5px;
    margin-right: 10px;
}

.nav-item {
    padding: 6px;
    color: rgba(255, 255, 255, 0.7);    
}

i {
    margin-right: 0;
}

.nav-link {
    color: #777;
}

.navbar-expand-sm .navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-sm {
    justify-content: flex-start !important;
    padding: 0 15px !important;
}

.dropdown-menu{
    font-size: 0.9rem;
    padding: 0;
}

.dropdown-menu ul li {
    display: inline-flex;
}

.dropdown-item{
    padding: 0.25rem 0;
    cursor: pointer;
    // justify-content: space-between;
    // display: flex;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }

.loggedin-user {
    padding: 10px 0; 
    font-weight: bold;
}

.active {
    color: #0148ae !important;
}

.dropdown-item.active, .dropdown-item:active {
    background: none !important;
}

.activeFirstIndex {
    background-color: #333;
    color: #ffffff !important;   
}

a.dropdown-item.activeFirstIndex:hover {
    color: #001737!important;
}

.avatar-lg {
    border: 2px solid #808080 !important;
    border-radius: 50px;
}

.avatar img {
    opacity: 0.5;
}

.avatar-sm {
    border-radius: 50px;
    border: 2px solid #808080;
}

.fa-sitemap {
    margin-right: 12px !important;
}

.userInitials {
    border: 2px solid #666;
    border-radius: 75px;
    font-size: 15px;
    padding: 6px 5px;
    color: #666;
    height: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

a.nav-link.dropdown-link .userInitials:hover {
    border: 2px solid #0148ae;
    color: #0148ae;
}

.width100 {
    width: 100%;
}

.navbar-brand .df-logo {
    color: #fff;
    font-size: 22px;
}

.iconwrapper {
    display: flex;
    align-items: center;
}

.iconwrapper .searchicon {
    margin:0 20px 0 0;
    color: #fff;
    font-size: 16px; 
}

.line-height {
    line-height: 3rem;
}

.feather-16{
    width: 16px;
    height: 16px;
    margin: 0 15px 0 0;
}

.line-partition {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.displayflex {
    display: flex;
}

.displayflex span {
    font-size: 12px; 
    color: #8392a5;
    text-transform: uppercase;
    display: block;
    margin: 10px 0;
    font-weight: 600;
}