<nav class="navbar navbar-expand-sm">


  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed"
    aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <h3><a style="color:#0168fa">Adzapier <span style="color: #000;">Solutions</span></a></h3> -->


  <div class="navbar-brand line-height col-sm-1">
    <a class="df-logo" routerLink="/">
      Ad<span>Zapier</span>
    </a>
  </div>
  <div id="navbarNavDropdown" class="col-sm-9" *ngIf="!currentUser">
    <ul class="navbar-nav">
      <li *ngFor="let menu of publicNavigationMenu" class="nav-item">
        <div *ngIf="menu.showlink" dropdown container="body">
          <div *ngIf="!menu.subcategory">
            <a class="nav-link" (click)="true">
              {{ menu.showlink }}</a></div>
          <div *ngIf="menu.subcategory">
            <a class="nav-link dropdown-toggle" *ngIf="menu.subcategory" dropdownToggle (click)="true">
              {{ menu.showlink }}</a></div>
          <div *ngIf="menu.subcategory">
            <ul *dropdownMenu class="dropdown-menu">
              <ng-container *ngFor="let item of menu.subcategory;">
                <li role="menuitem">
                  <a class="dropdown-item" routerLink="{{item.routerLink}}">
                    {{item.showlink}}
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="currentUser" class="navbar-collapse collapse" container="body" [collapse]="isCollapsed"
    id="navbarNavDropdown">
    <ul class="navbar-nav" *ngIf="currentUser">
      <li *ngFor="let menu of leftItems" class="nav-item">
        <div *ngIf="menu.orgName" class="navbar-collapse collapse" dropdown container="body" [collapse]="isCollapsed">
          <a class="nav-link dropdown-toggle" dropdownToggle (click)="true">
            <span *ngIf="!currentOrganization">{{menu.orgName}}</span>
            <span>{{currentOrganization}}</span>
          </a>
          <ul *dropdownMenu class="dropdown-menu">
            <ng-container *ngFor="let item of menu.property;let first = first; trackBy: trackByMethod">
              <li *ngIf="!item.items" role="menuitem" (click)="isCurrentPropertySelected(item)">
                <a class="dropdown-item" [ngClass]="[isPropSelected(item) ? 'active' : '']">
                  <span>{{item.propName}}</span> <span class="ml-2"
                    *ngIf="(first && !activeProp) || (item.propName === activeProp)">
                    <i class="fa fa-check"></i></span>
                </a>
              </li>
              <li *ngIf="item.items" role="menuitem" dropdown triggers="mouseover" placement="top right"
                container="body">
                <a class="dropdown-item" (click)="false">{{ item.label }}
                  <i class="fas fa-caret-right dropdown-submenu"></i></a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <ng-container *ngFor="let submenu of item.items">
                    <li role="menuitem">
                      <a class="dropdown-item">
                        {{ submenu.propName }}
                      </a>
                    </li>
                    <li *ngIf="submenu.divider" class="divider dropdown-divider"></li>
                  </ng-container>
                </ul>
              </li>
              <li *ngIf="item.divider" class="divider dropdown-divider"></li>
            </ng-container>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="currentUser">
      <li *ngFor="let menu of navigationMenu" class="nav-item">
        <div *ngIf="menu.showlink" dropdown container="body">
          <div *ngIf="!menu.subcategory">
            <a class="nav-link" (click)="true" routerLink="{{menu.routerLink}}">
              {{ menu.showlink }}</a></div>
          <div *ngIf="menu.subcategory">
            <a class="nav-link dropdown-toggle" *ngIf="menu.subcategory" dropdownToggle (click)="true">
              {{ menu.showlink }}</a></div>
          <ul *dropdownMenu class="dropdown-menu">
            <ng-container *ngFor="let item of menu.subcategory;let q = index;">
              <li *ngIf="menu.showlink == 'Privacy' && q===0" class="displayflex"><span>DSAR</span></li>
              <li role="menuitem">
                <a class="dropdown-item" routerLink="{{item.routerLink}}">
                  <span *ngIf="item.icon.indexOf('fa')===-1">
                    <i-feather name="{{item.icon}}" class="feather-16"></i-feather>{{item.showlink}}
                  </span>
                  <span *ngIf="item.icon.indexOf('fa')===0"><i class="{{item.icon}}"></i>{{item.showlink}}</span>
                </a>
              </li>
              <li *ngIf="q===3" class="displayflex"><span>Cookie Consent</span></li>
            </ng-container>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="currentUser">
      <li *ngFor="let menu of rightItems" class="nav-item">
        <div *ngIf="!menu.items" container="body">
          <a *ngIf="!menu.items" class="nav-link" routerLink="{{menu.routerLink}}">
            <i *ngIf="menu.icon" class="{{ menu.icon }}"></i>{{ menu.label }}
          </a>
        </div>
        <div class="iconwrapper">
          <div class="searchicon">
            <i-feather name="search"></i-feather>
          </div>
          <div *ngIf="menu.items" dropdown container="body" placement="bottom right">
            <a class="nav-link dropdown-link" dropdownToggle (click)="false">
              <i
                class="bd bd-primary bg-primary rounded-circle pd-10 tx-white">{{nameInitials(currentLoggedInUser)}}</i>
            </a>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <ng-container *ngFor="let item of menu.items; first as isFirst; let i = index;">
                <div *ngIf="isFirst" class="loggedin-user">
                  <!-- <div class="avatar avatar-lg mg-b-15"><img src="assets/imgs/user.png" width="32" height="32" class="rounded-circle" alt=""></div> -->
                  {{currentLoggedInUser}}</div>
                <li *ngIf="!item.items" role="menuitem">
                  <a class="dropdown-item" *ngIf="item.label !== 'Signout'" routerLink="{{item.routerLink}}">
                    <i-feather *ngIf="item.icon" name="{{item.icon}}" class="feather-16"></i-feather>{{item.label}}
                  </a>
                  <a class="dropdown-item" *ngIf="item.label === 'Signout'" (click)="logout()"
                    routerLink="{{item.routerLink}}">
                    <i-feather *ngIf="item.icon" name="{{item.icon}}" class="feather-16"></i-feather>{{item.label}}
                  </a>
                </li>
                <li *ngIf="i == 1">
                  <div class="line-partition"></div>
                </li>
                <li *ngIf="item.items" role="menuitem" dropdown triggers="mouseover" placement="top left"
                  container="body">
                  <a class="dropdown-item" (click)="false"><i
                      class="fas fa-caret-left dropdown-submenu-left"></i>{{ item.label }}</a>
                  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                    <ng-container *ngFor="let submenu of item.items">
                      <li role="menuitem">
                        <a class="dropdown-item" href="#">
                          <i-feather *ngIf="submenu.icon" name="{{submenu.icon}}" class="feather-16"></i-feather>
                          {{ submenu.label }}

                        </a>
                      </li>
                      <li *ngIf="submenu.divider" class="divider dropdown-divider"></li>
                    </ng-container>
                  </ul>
                </li>
                <li *ngIf="item.divider" class="divider dropdown-divider"></li>
              </ng-container>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="navbar-right" *ngIf="!currentUser">
    <a class="btn btn-sm btn-secondary type--uppercase" routerLink="/login">Sign In</a>
    <a class="btn btn-sm btn-primary type-uppercase mg-l-10" routerLink="/signup">Try for Free</a>
  </div>
</nav>