// .table > tbody > tr > td> img.img-fluid {
//     max-width: 15% !important;
// }

.table > tbody > tr:hover {
    background-color:#e9ecf1;
}

.container {
    margin-bottom: 50px;
}

.alink {
    color: #0168fa !important;
    cursor: pointer;
}

.alink:hover {
    color: #0168fa !important;
}

.nav-link > div {
    color: rgba(255, 255, 255, 0.7) !important;
}

.fa-edit {
  color: #0168fa;
}
.fa-edit:hover {
  color: #0148ae;
}
.cursor {
  cursor: pointer;
}
.invalid-radio {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.user-roles .form-check-inline > input[type='radio'] {
    margin: 0 5px 0 0;
    opacity: 1;
    display: block;
}


.searchfield {
    display: flex;
}

.table-responsive.property-div > .card > .card-header, .table-responsive.member-div > .card > .card-header  {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.searchfield .input-group {
    align-items: center;
}

.searchfield > div > span.input-group-append {
    height: 38px;
    display: flex;
}

.searchfield > div > span > div.input-group-text {
    align-items: center;
}

.searchfield.mt-3 .form-inline {
    font-weight: normal;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-success {
	background-color: #10b759;
    border-color: #10b759;
    color: #fff;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.flotingdiv{
	position: fixed;
	bottom: 0;
	top: 84%;
	right:0;
	overflow-x: hidden;
    overflow-y: auto;
}

.cursorpointer {
    cursor: pointer;
}

.colorblue {
    color: #00f;
}

.hide {
    display: none;
}

table > tbody > tr > td:nth-child(2) > div > img.img-fluid {
    max-width: 100px;
    max-height: 50px;
    display: block;
}

.img-wrapper {
    float: left;
}

.borderzero {
    border: 0;
}

.card-body .table > .tbody > tr > td > a {
    cursor: pointer;
}

::ng-deep .modal-dialog .modal-sm {
    width: 380px !important;
}

.pagination-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    align-items: center;
}

.height28 {
    height: 28px;
}

// .modal-body > form > .form-check-inline {
//     opacity: 1;
//     display: block;
// }