// .table > tbody > tr > td> img.img-fluid {
//     max-width: 15% !important;
// }

.table > tbody > tr:hover {
    background-color:#e9ecf1;
}

.container {
    margin-bottom: 50px;
}

.alink {
    color: #0168fa !important;
    cursor: pointer;
}

.alink:hover {
    color: #0168fa !important;
}

.nav-link > div {
    color: rgba(255, 255, 255, 0.7) !important;
}

.fa-edit {
  color: #0168fa;
}
.fa-edit:hover {
  color: #0148ae;
}
.cursor {
  cursor: pointer;
}
.invalid-radio {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.user-roles .form-check-inline > input[type='radio'] {
    margin: 0 5px 0 0;
    opacity: 1;
    display: block;
}


.searchfield {
    display: flex;
}

.table-responsive.property-div > .card > .card-body, .table-responsive.member-div > .card > .card-body {
    padding: 15px !important;
}

.table-responsive.property-div > .card > .card-header, .table-responsive.member-div > .card > .card-header  {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.searchfield .input-group {
    align-items: center;
}

.searchfield > div > span.input-group-append {
    height: 38px;
    display: flex;
}

.searchfield > div > span > div.input-group-text {
    align-items: center;
}

.searchfield.mt-3 .form-inline {
    font-weight: normal;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-success {
	background-color: #10b759;
    border-color: #10b759;
    color: #fff;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.flotingdiv{
	position: fixed;
	bottom: 0;
	top: 84%;
	right:0;
	overflow-x: hidden;
    overflow-y: auto;
}

.cursorpointer {
    cursor: pointer;
}

.colorblue {
    color: #00f;
}

.hide {
    display: none;
}

.showdiv {
    display: flex;
}
  

.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    align-content: center;
    align-items: center;
    margin-left: 10px;

}

.tab [type="radio"] {
    opacity: 0;
    width: 120px;
    height: 40px;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
  }

  .tab label {
    text-transform: uppercase;
    font-weight: 500;
    background: white;
    border-bottom: 0px !important;
    z-index: 2;
    text-transform: uppercase;
    margin-bottom: -1px;
    margin: 0 0 0 -10px;
    padding: 10px;
    
  }

 .tab [type="radio"]:checked ~ label {
    border-bottom: 0px !important;
    z-index: 2;
    text-transform: uppercase;
    margin-bottom: -1px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  
  

table > tbody > tr > td:nth-child(2) > div > img.img-fluid {
    max-width: 100px;
    max-height: 50px;
    display: block;
}

.img-wrapper {
    float: left;
}

.borderzero {
    border: 0;
}

.card-body .table > .tbody > tr > td > a {
    cursor: pointer;
}

::ng-deep .modal-dialog .modal-sm {
    width: 380px !important;
}

.pagination-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    align-items: center;
}

.height28 {
    height: 28px;
}

.input-group-append .form-control {
    border-radius: 0 5px 5px 0;
}

.flex-column {
    flex-direction: column !important;
}
.invite-user-btn {
    margin-left:28px;
}
.btn-border-radius {
    border-radius:8px;
}
.pull-right-btn{
    float: right;
    margin-right: 1px;
}
.tx-decoration-underline:hover {
    text-decoration: underline;
   }
// .modal-body > form > .form-check-inline {
//     opacity: 1;
//     display: block;
// }
span:not(:last-of-type)::after {
    content: ","
 }
 
 .pagination-wrapper .form-inline .form-group select {
    width: 50%;
    background: url('../../../assets/imgs/down-arrow.svg') no-repeat;
    background-position: 85% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.tr-graybg {
    background: #f3f3f3;
}

::ng-deep .dropdown.open.bottom {
    z-index: 1200;
}