<div class="container">
  <form [formGroup]="cookieBannerForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="w-100">
        <h2 class="mat-h2">
          Configure your Banner
        </h2>
        <div class="card">
          <div class="card-header">
            <h6 style="float: left">Configure your theme </h6>
              <button style="float: right"
                      class="pull-right btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5" id="printReport"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                Publish</button>
            <button style="float: right" class="pull-right btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5" id="printReport"><i class="fas fa-save"></i> Save</button>

          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="dropdown-width" appearance="fill">
                  <mat-label>CCPA Target</mat-label>
                  <mat-select formControlName="ccpaTarget" [disabled]="isGdprGlobal"  [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let ccpaCountry of bannerConstant.ccpaTargetCountry"
                                [value]="ccpaCountry.value">{{ccpaCountry.title}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="f.ccpaTarget.hasError('required')">
                    CCPA Target is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="dropdown-width" appearance="fill">
                  <mat-label>GDPR Target</mat-label>
                  <mat-select [disabled]="currentPlan !== 'GDPR'" (ngModelChange)="onCheckCountry($event)" formControlName="gdprTarget"
                              [errorStateMatcher]="matcher" multiple>
                    <mat-option
                      *ngFor="let gdprCountry of bannerConstant.gdprTargetCountry"
                      [value]="gdprCountry.value">{{gdprCountry.title}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="f.gdprTarget.hasError('required')">
                    GDPR Target is <strong>required</strong>
                  </mat-error>
                </mat-form-field>


                <section class="example-section">
                  <mat-checkbox [disabled]="isFieldDisabled"
                                formControlName="logo"
                                class="example-margin">Show Adzapier Logo?</mat-checkbox>
                </section>

                <section class="example-section">
                  <mat-checkbox [disabled]="isFieldDisabled"   formControlName="showOpenBtn"
                                class="example-margin">Show Open PopUp Button?</mat-checkbox>
                </section>

              </div>
              <div class="col-md-8 switch-btn">
                <mat-slide-toggle formControlName="cookieBlocking" color="primary" class="cookie-allow">COOKIE BLOCKING
                </mat-slide-toggle>
                <br>
                <mat-slide-toggle [disabled]="isGdprGlobal" [checked]="isGdprGlobal" formControlName="enableIab" color="primary" class="cookie-allow">ENABLE IAB
                </mat-slide-toggle>
                <br>
                <mat-slide-toggle formControlName="email" color="primary" class="cookie-allow">EMAIL</mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
        <!--      End Configure your theme -->

        <div class="card">
          <div class="card-header">Banner Customize UI
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="lang-select" appearance="fill">
                  <mat-label>Language</mat-label>
                  <mat-select  [disabled]="isFieldDisabled" formControlName="Bannerlanguage" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let gdprLang of bannerConstant.GDPR.BANNER.Bannerlanguage"
                                [value]="gdprLang.value"
                    >
                      {{gdprLang.title}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="f.Bannerlanguage.hasError('required')">
                    Language is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 mt-2">
                <h6>Position</h6>
                <mat-radio-group formControlName="BannerPosition" aria-label="Select an option">
                  <mat-radio-button *ngFor="let gdprPosition of bannerConstant.GDPR.BANNER.BannerPosition"
                                    class="mr-2"  [disabled]="isFieldDisabled" [value]="gdprPosition.value">{{gdprPosition.title}}</mat-radio-button>
                </mat-radio-group>
              </div>

              <div class="col-md-12 mt-2">
                <input type="text" [attr.disabled]="isFieldDisabled" formControlName="BannerTitle"
                       class="form-control w-50" [placeholder]="bannerConstant.GDPR.BANNER.BannerTitle">
              </div>

              <div class="col-md-12 mt-2">
                <textarea [attr.disabled]="isFieldDisabled" class="form-control w-50" rows="3"
                          formControlName="BannerDescription"
                          [placeholder]="bannerConstant.GDPR.BANNER.BannerDescription"></textarea>
              </div>

              <div class="col-md-12 mt-4">
                <h6>Banner Styles</h6>
                <div class="row mt-2">
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4">textColor</div>
                      <div class="col-md-3"><input
                        #bannerTextColor [attr.disabled]="isFieldDisabled"
                        formControlName="BannerGlobalStyleTextColor"
                        type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-5">
                        <input matInput disabled
                               [value]="bannerTextColor.value">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">BackGroundColor</div>
                      <div class="col-md-3"><input #bannerBackGroundColor [attr.disabled]="isFieldDisabled"
                                                   formControlName="BannerGlobalStyleBackgroundColor"
                                                   type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-4">
                        <input matInput disabled
                               [value]="bannerBackGroundColor.value">
                      </div>
                    </div>
                  </div>

                </div>
              </div>


              <div class="col-md-12 mt-5">
                <h6>PreferenceButton Styles</h6>
                <div class="row mt-2">

                  <div class="col-md-3 mt-2">
                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"
                           formControlName="BannerPreferenceButtonTextContent"
                           [placeholder]="bannerConstant.GDPR.BANNER.BannerPreferenceButtonTextContent">

                  </div>

                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4">textColor</div>
                      <div class="col-md-3"><input
                        #bannerCustomizeButtonTextColor
                        formControlName="BannerPreferenceButtonTextColor"
                        type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-5">
                        <input matInput disabled readonly
                               [value]="bannerCustomizeButtonTextColor.value">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">BackGround Color</div>
                      <div class="col-md-3"><input
                        formControlName="BannerPreferenceButtonBackgroundColor"
                        #bannerCustomizeButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-4">
                        <input matInput disabled readonly
                               [value]="bannerCustomizeButtonBackGroundColor.value">
                      </div>
                    </div>
                  </div>
                </div>
              </div>








              <div class="col-md-12 mt-4">
                <h6>Allow Required Button Styles</h6>
                <div class="row mt-2">
                  <div class="col-md-3 mt-2">
                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"
                           formControlName="BannerAllowRequiredTextContent"
                           [placeholder]="bannerConstant.GDPR.BANNER.BannerAllowRequiredButtonTextContent">

                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4">textColor</div>
                      <div class="col-md-3"><input
                        formControlName="BannerAllowRequiredButtonTextColor"
                        #bannerAllowReqButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-5">
                        <input matInput disabled
                               readonly
                               [value]="bannerAllowReqButtonTextColor.value">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">BackGround Color</div>
                      <div class="col-md-3"><input
                        formControlName="BannerAllowRequiredButtonBackgroundColor"
                        #bannerAllowReqButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-4">
                        <input matInput disabled readonly [value]="bannerAllowReqButtonBackGroundColor.value">
                      </div>
                    </div>
                  </div>
                </div>
              </div>






              <div class="col-md-12 mt-4">
                <h6>Allow All Button Styles</h6>
                <div class="row mt-2">


                  <div class="col-md-3 mt-2">
                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"
                           formControlName="BannerAllowAllButtonTextContent"
                           [placeholder]="bannerConstant.GDPR.BANNER.BannerAllowAllButtonTextContent">

                  </div>


                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4">textColor</div>
                      <div class="col-md-3"><input
                        formControlName="BannerAllowAllButtonTextColor"
                        #bannerAllowButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-5">
                        <input matInput disabled
                               readonly
                               [value]="bannerAllowButtonTextColor.value">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">BackGround Color</div>
                      <div class="col-md-3"><input
                        formControlName="BannerAllowAllButtonBackgroundColor"
                        #bannerAllowButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-4">
                        <input matInput disabled readonly [value]="bannerAllowButtonBackGroundColor.value">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-12 mt-4">
                <h6>DisableButton Styles</h6>
                <div class="row mt-2">

                  <div class="col-md-3 mt-2">
                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"
                           formControlName="BannerDisableAllButtonTextContent"
                           [placeholder]="bannerConstant.GDPR.BANNER.BannerDisableAllButtonTextContent">
                  </div>


                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4">textColor</div>
                      <div class="col-md-3"><input
                        formControlName="BannerDisableAllButtonTextColor"
                        #bannerDisableButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-5">
                        <input matInput disabled [value]="bannerDisableButtonTextColor.value">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">BackGround Color</div>
                      <div class="col-md-3"><input
                        formControlName="BannerDisableAllButtonBackgroundColor"
                        #bannerDisableButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-4">
                        <input matInput disabled [value]="bannerDisableButtonBackGroundColor.value">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>


        <div class="card">
          <div class="card-header">PopUp Customize UI
          </div>
          <div class="card-body">
            <div class="row">


              <div class="col-md-12">
                <h6>Purpose Body Description</h6>
                <textarea [attr.disabled]="isFieldDisabled" class="form-control w-50" rows="3"
                          formControlName="PopUpPurposeBodyDescription"
                          [placeholder]="bannerConstant.GDPR.POPUP.PopUpPurposeBodyDescription"></textarea>
              </div>


              <div class="col-md-12 mt-3">
                <h6>Vendor Body Description</h6>
                <textarea [attr.disabled]="isFieldDisabled" class="form-control w-50" rows="3"
                          formControlName="PopUpVendorBodyDescription"
                          [placeholder]="bannerConstant.GDPR.POPUP.PopUpVendorBodyDescription"></textarea>
              </div>


              <div class="col-md-12 mt-4">
                <h6>PopUp Styles</h6>
                <div class="row mt-2">

<!--                  <div class="col-md-3">-->
<!--                    <div class="row">-->
<!--                      <div class="col-md-4">textColor</div>-->
<!--                      <div class="col-md-3"><input-->
<!--                        formControlName="PopUpGlobalTextColor"-->
<!--                        #popUpTextColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                      <div class="col-md-5">-->
<!--                        <input matInput disabled [value]="popUpTextColor.value">-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->



                  <div class="col-md-5">
                    <div class="row">
                      <div class="col-md-4">Switch Button Color</div>
                      <div class="col-md-3"><input
                        formControlName="PopUpSwitchButton"
                        #PopUpSwitchButton type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-5">
                        <input matInput disabled [value]="PopUpSwitchButton.value">
                      </div>
                    </div>
                  </div>




                </div>
              </div>


              <div class="col-md-12 mt-4">
                <h6>PurposeButton Styles</h6>
                <div class="row mt-2">

                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4">textColor</div>
                      <div class="col-md-3"><input
                        formControlName="PopUpPurposeButtonTextColor"
                        #popUpPurposeButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-5">
                        <input matInput disabled [value]="popUpPurposeButtonTextColor.value">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">BackGround Color</div>
                      <div class="col-md-3"><input
                        formControlName="PopUpPurposeButtonBackgroundColor"
                        #popUpPurposeButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-4">
                        <input matInput disabled [value]="popUpPurposeButtonBackGroundColor.value">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">

                  </div>

                </div>
              </div>


              <div class="col-md-12 mt-5">
                <h6>DisableAllButton Styles</h6>
                <div class="row mt-2">

                  <div class="col-md-3 mt-2">
                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"
                           formControlName="PopUpDisableAllButtonTextContent"
                           [placeholder]="bannerConstant.GDPR.POPUP.PopUpDisableAllButtonTextContent">
                  </div>

                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4">textColor</div>
                      <div class="col-md-3"><input
                        formControlName="PopUpDisableAllButtonTextColor"
                        #popUpDisableAllButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-5">
                        <input matInput disabled
                               [value]="popUpDisableAllButtonTextColor.value">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">BackGround Color</div>
                      <div class="col-md-3"><input
                        formControlName="PopUpDisableAllButtonBackgroundColor"
                        #popUpDisableAllButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-4">
                        <input matInput disabled [value]="popUpDisableAllButtonBackGroundColor.value">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-12 mt-4">
                <h6>SaveMyChoice Button Styles</h6>
                <div class="row mt-2">

                  <div class="col-md-3 mt-2">
                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"
                           formControlName="PopUpSaveMyChoiceButtonContentText"
                           [placeholder]="bannerConstant.GDPR.POPUP.PopUpSaveMyChoiceButtonContentText">

                  </div>

                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4">textColor</div>
                      <div class="col-md-3"><input
                        formControlName="PopUpSaveMyChoiceButtonTextColor"
                        #popUpSaveMyChoiseButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-5">
                        <input matInput disabled [value]="popUpSaveMyChoiseButtonTextColor.value">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">BackGround Color</div>
                      <div class="col-md-3"><input
                        formControlName="PopUpSaveMyChoiceButtonBackgroundColor"
                        #popUpSaveMyChoiseButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-4">
                        <input matInput disabled [value]="popUpSaveMyChoiseButtonBackGroundColor.value">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-4">
                <h6>Allow All Button Styles</h6>
                <div class="row mt-2">


                  <div class="col-md-3 mt-2">

                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"
                           formControlName="PopUpAllowAllButtonTextContent"
                           [placeholder]="bannerConstant.GDPR.POPUP.PopUpAllowAllButtonTextContent">
                  </div>


                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4">textColor</div>
                      <div class="col-md-3"><input
                        formControlName="PopUpAllowAllButtonTextColor"
                        #popUPAllowButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-5">
                        <input matInput disabled [value]="popUPAllowButtonTextColor.value">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">BackGround Color</div>
                      <div class="col-md-3"><input
                        formControlName="PopUpAllowAllButtonBackgroundColor"
                        #popUPAllowButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>
                      <div class="col-md-4">
                        <input matInput disabled [value]="popUPAllowButtonBackGroundColor.value">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-5 mb-3">
                <h6 class="mb-4"> PopUp Body Content</h6>
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          <h6> {{bannerConstant.CCPA.POPUP.AdvertisingText}}</h6>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h6>Title</h6>
                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control w-50"
                           formControlName="PopUpSocialMediaHeading"
                           [placeholder]="bannerConstant.CCPA.POPUP.PopUpAdvertisingHead">
                    <br>
                    <h6>Description</h6>
                    <textarea [attr.disabled]="isFieldDisabled" class="form-control w-50" rows="3"
                              formControlName="PopUpSocialMediaDescription"
                              [placeholder]="bannerConstant.CCPA.POPUP.PopUpAdvertisingDescription"></textarea>


                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div class="col-md-12 mb-3">
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h6> {{bannerConstant.CCPA.POPUP.SocialMediaText}}</h6>

                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h6>Title</h6>
                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control w-50"
                           formControlName="PopUpNecessaryHeading"
                           [placeholder]="bannerConstant.CCPA.POPUP.PopUpSocialMediaHead">
                    <br>
                    <h6>Description</h6>
                    <textarea [attr.disabled]="isFieldDisabled" class="form-control w-50" rows="3"
                              formControlName="PopUpNecessaryDescription"
                              [placeholder]="bannerConstant.CCPA.POPUP.PopUpSocialMediaDescription"></textarea>

                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="col-md-12 mb-3">
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h6> {{bannerConstant.CCPA.POPUP.AnalyticsText}}</h6>

                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h6>Title</h6>
                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control w-50"
                           formControlName="PopUpAnalyticsHeading"
                           [placeholder]="bannerConstant.CCPA.POPUP.PopUpAnalyticsHead">
                    <br>
                    <h6>Description</h6>
                    <textarea [attr.disabled]="isFieldDisabled" class="form-control w-50" rows="3"
                              formControlName="PopUpAnalyticsDescription"
                              [placeholder]="bannerConstant.CCPA.POPUP.PopUpAnalyticsDescription"></textarea>

                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div class="col-md-12 mb-3">
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h6> {{bannerConstant.CCPA.POPUP.NecessaryText}}</h6>

                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h6>Title</h6>
                    <input type="text" [attr.disabled]="isFieldDisabled" class="form-control w-50"
                           formControlName="PopUpAdvertisingHeading"
                           [placeholder]="bannerConstant.CCPA.POPUP.PopUpNecessaryHead">
                    <br>

                    <h6>Description</h6>
                    <textarea [attr.disabled]="isFieldDisabled" class="form-control w-50" rows="3"
                              formControlName="PopUpAdvertisingDescription"
                              [placeholder]="bannerConstant.CCPA.POPUP.PopUpNecessaryDescription"></textarea>

                  </mat-expansion-panel>
                </mat-accordion>
              </div>


            </div>
          </div>
        </div>
      </div>


<!--      <div class="card">-->
<!--        <div class="card-header">Banner Customize UI - CCPA-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <div class="row">-->
<!--            <div class="col-md-12 mt-2">-->
<!--              <h6>Position</h6>-->
<!--              <mat-radio-group-->
<!--                formControlName="ccpaBannerPosition"-->
<!--                aria-label="Select an option">-->
<!--                <mat-radio-button *ngFor="let ccpaPosition of bannerConstant.CCPA.BANNER.BannerPosition"-->
<!--                                  class="mr-2"  [disabled]="isFieldDisabled" [value]="ccpaPosition.value">{{ccpaPosition.title}}</mat-radio-button>-->
<!--              </mat-radio-group>-->
<!--              <mat-error *ngIf="f.ccpaBannerPosition.hasError('required')">-->
<!--                Banner Position is <strong>required</strong>-->
<!--              </mat-error>-->
<!--            </div>-->

<!--            <div class="col-md-12 mt-2">-->
<!--              <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"-->
<!--                     formControlName="ccpaBannerTitle" [placeholder]="bannerConstant.CCPA.BANNER.BannerTitle">-->

<!--            </div>-->

<!--            <div class="col-md-12 mt-2">-->
<!--              <textarea [attr.disabled]="isFieldDisabled" class="form-control w-50" rows="3"-->
<!--                        formControlName="ccpaBannerDescription"-->
<!--                        [placeholder]="bannerConstant.CCPA.BANNER.BannerDescription"></textarea>-->
<!--            </div>-->

<!--            <div class="col-md-12 mt-4">-->
<!--              <h6>Banner Styles</h6>-->
<!--              <div class="row mt-2">-->

<!--                <div class="col-md-3">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-4">textColor</div>-->
<!--                    <div class="col-md-3"><input formControlName="ccpaBannerGlobalStyleTextColor" #ccpabannerTextColor-->
<!--                                                 type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-5">-->
<!--                      <input matInput disabled [value]="ccpabannerTextColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-5">BackGroundColor</div>-->
<!--                    <div class="col-md-3"><input formControlName="ccpaBannerGlobalStyleBackgroundColor"-->
<!--                                                 #ccpabannerBackGroundColor type="color"-->
<!--                                                 [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-4">-->
<!--                      <input matInput disabled [value]="ccpabannerBackGroundColor.value">-->
<!--                    </div>-->
<!--                  </div>-->

<!--                </div>-->

<!--              </div>-->
<!--            </div>-->


<!--            <div class="col-md-12 mt-5">-->
<!--              <h6>PreferenceButton Styles</h6>-->
<!--              <div class="row mt-2">-->

<!--                <div class="col-md-3 mt-2">-->
<!--                  <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"-->
<!--                         formControlName="ccpaBannerPreferenceButtonTextContent" [placeholder]="bannerConstant.CCPA.BANNER.BannerPreferenceButtonTextContent">-->
<!--                </div>-->

<!--                <div class="col-md-3">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-4">textColor</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaBannerPreferenceButtonTextColor" #ccpabannerCustomizeButtonTextColor-->
<!--                      type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-5">-->
<!--                      <input matInput disabled [value]="ccpabannerCustomizeButtonTextColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-5">BackGround Color</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaBannerPreferenceButtonBackgroundColor"-->
<!--                      #ccpabannerCustomizeButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-4">-->
<!--                      <input matInput disabled [value]="ccpabannerCustomizeButtonBackGroundColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->


<!--            <div class="col-md-12 mt-4">-->
<!--              <h6>Allow All Button Styles</h6>-->
<!--              <div class="row mt-2">-->


<!--                <div class="col-md-3 mt-2">-->
<!--                  <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"-->
<!--                         formControlName="ccpaBannerAllowAllButtonTextContent"-->
<!--                         [placeholder]="bannerConstant.CCPA.BANNER.BannerAllowAllButtonTextContent">-->
<!--                </div>-->


<!--                <div class="col-md-3">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-4">textColor</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaBannerAllowAllButtonTextColor"-->
<!--                      #ccpabannerAllowButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-5">-->
<!--                      <input matInput disabled [value]="ccpabannerAllowButtonTextColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-5">BackGround Color</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaBannerAllowAllButtonBackgroundColor"-->
<!--                      #ccpabannerAllowButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-4">-->
<!--                      <input matInput disabled [value]="ccpabannerAllowButtonBackGroundColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->


<!--            <div class="col-md-12 mt-4">-->
<!--              <h6>DisableButton Styles</h6>-->
<!--              <div class="row mt-2">-->

<!--                <div class="col-md-3 mt-2">-->
<!--                  <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"-->
<!--                         formControlName="ccpaBannerDisableAllButtonTextContent"-->
<!--                         [placeholder]="bannerConstant.CCPA.BANNER.BannerDisableAllButtonTextContent">-->
<!--                </div>-->


<!--                <div class="col-md-3">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-4">textColor</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaBannerDisableAllButtonTextColor"-->
<!--                      #ccpabannerDisableButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-5">-->
<!--                      <input matInput disabled [value]="ccpabannerDisableButtonTextColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-5">BackGround Color</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaBannerDisableAllButtonBackgroundColor"-->
<!--                      #ccpabannerDisableButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-4">-->
<!--                      <input matInput disabled [value]="ccpabannerDisableButtonBackGroundColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="card">-->
<!--        <div class="card-header">PopUp Customize UI - CCPA-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <div class="row">-->
<!--            <div class="col-md-12 mt-4">-->
<!--              <h6>PopUp Styles</h6>-->
<!--              <div class="row mt-2">-->

<!--                <div class="col-md-3">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-4">textColor</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaPopUpGlobalTextColor"-->
<!--                      #ccpapopUpTextColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-5">-->
<!--                      <input matInput disabled [value]="ccpapopUpTextColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->
<!--            </div>-->


<!--            <div class="col-md-12 mt-5">-->
<!--              <h6>DisableAllButton Styles</h6>-->
<!--              <div class="row mt-2">-->

<!--                <div class="col-md-3 mt-2">-->
<!--                  <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"-->
<!--                         formControlName="ccpaPopUpDisableAllButtonTextContent"-->
<!--                         [placeholder]="bannerConstant.CCPA.POPUP.PopUpDisableAllButtonTextContent">-->
<!--                </div>-->

<!--                <div class="col-md-3">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-4">textColor</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaPopUpDisableAllButtonTextColor"-->
<!--                      #ccpapopUpDisableAllButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-5">-->
<!--                      <input matInput disabled [value]="ccpapopUpDisableAllButtonTextColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-5">BackGround Color</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaPopUpDisableAllButtonBackgroundColor"-->
<!--                      #ccpapopUpDisableAllButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-4">-->
<!--                      <input matInput disabled [value]="ccpapopUpDisableAllButtonBackGroundColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->


<!--            <div class="col-md-12 mt-4">-->
<!--              <h6>Allow All Button Styles</h6>-->
<!--              <div class="row mt-2">-->


<!--                <div class="col-md-3 mt-2">-->
<!--                  <input type="text" [attr.disabled]="isFieldDisabled" class="form-control"-->
<!--                         formControlName="ccpaPopUpAllowAllButtonTextContent"-->
<!--                         [placeholder]="bannerConstant.CCPA.POPUP.PopUpAllowAllButtonTextContent">-->
<!--                </div>-->


<!--                <div class="col-md-3">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-4">textColor</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaPopUpAllowAllButtonTextColor"-->
<!--                      #ccpapopUPAllowButtonTextColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-5">-->
<!--                      <input matInput disabled [value]="ccpapopUPAllowButtonTextColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-4">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-5">BackGround Color</div>-->
<!--                    <div class="col-md-3"><input-->
<!--                      formControlName="ccpaPopUpAllowAllButtonBackGroundColor"-->
<!--                      #ccpapopUPAllowButtonBackGroundColor type="color" [attr.disabled]="isFieldDisabled"></div>-->
<!--                    <div class="col-md-4">-->
<!--                      <input matInput disabled [value]="ccpapopUPAllowButtonBackGroundColor.value">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->




<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


      <div class="col-md-12">
          <div class="text-center">
            <button (click)="backClicked()" class="btn btn-default btn-xs mr-4" type="button">Back</button>
            <button
              class="btn btn-primary btn-xs" type="submit">Next
            </button>
          </div>
        </div>
    </div>
  </form>
</div>
<div class="col-sm-5 mt-3 mr-0 float-right">
  <alert *ngIf="isOpen" [type]="alertType" [dismissible]="dismissible" (onClosed)="onClosed(alertMsg)">{{  alertMsg}}</alert>
</div>
