<!-- <div class="media align-items-stretch justify-content-center ht-100p">
    <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
        <div class="pd-t-20 wd-100p">
            <h4 class="tx-color-01 mg-b-5">Forgot Password</h4>
            <p class="tx-color-03 tx-16 mg-b-40">Please enter your email address</p>
            <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
                
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" formControlName="emailid" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }"
                        placeholder="Enter your email address" 
                        pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$"/>
                    <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
                        <div *ngIf="f.emailid.errors.required">Email address is required</div>
                        <div *ngIf="f.emailid.errors.pattern">Please enter a valid email</div> 
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-2">Send</button>
                </div>   
                <br>        
                  <div *ngIf="showMessage" style="color: red;" class="tx-13"><p>Link sent to your Email, please Reset Your Password..!</p></div>         
            
        </form>
            <div class="divider-text">or</div>
         
            <div class="tx-13 mg-t-20 tx-center">Already have an account? 
                <a routerLink="/login" class="btn btn-link">Sign In</a>
            </div>
        </div>
    </div>sign-wrapper
    <div class="media-body pd-y-30 pd-lg-x-50 pd-xl-x-60 align-items-center d-none d-lg-flex pos-relative">
        <div class="mx-lg-wd-500 mx-xl-wd-550">
            <img src="assets/imgs/marvin.jpg" class="img-fluid" alt="">
        </div>
        
    </div>
</div>media -->
<div class="container-fluid login-background ">
    <div class="row justify-content-center">
      <div class="">
        <div class="logo-group">
          <img src="assets/imgs/az-logo.png" class="az-logo mb-2" alt="adzapier logo" />
          <h4 class="tx-white">Trusted Data Privacy Solutions</h4>
        </div>
        <div class="inputs-key login-form bg-white">
            <h4  class="mb-4" >Forgot Password</h4>
        <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
           
          <div class="form-group">
            <label for="email" class="tx-17">Email Address</label>
            <input type="email" formControlName="emailid" class="form-control input-lg"
                   [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }"
                   pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$" placeholder="yourname@yourmail.com"
                   (ngModelChange)="clearError()"/>
            <!-- pattern="^\w+@[a-zA-Z_0-9]+?\.com$" -->
            <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
              <div *ngIf="f.emailid.errors.required">Email is required</div>
              <div *ngIf="f.emailid.errors.pattern">Please enter a valid email</div>
            </div>
          </div>
  
          <!-- <div class="form-group">
            <div class="d-flex justify-content-between mg-b-5">
              <label class="mg-b-0-f tx-17" >Password</label>
  
            </div>
            <input type="password" togglepassword formControlName="password" class="form-control input-lg"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter your password"
                   (ngModelChange)="clearError()"/>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.pattern">Invalid Password</div>
            </div>
            <div *ngIf="isInvitedUserVerified" style="color: rgb(17, 0, 128);">
              <p class="confirm-msg">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                  <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1"
                    cy="65.1" r="62.1" />
                  <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                    stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                </svg>
                <span> Your email address is successfully verified ! please login to access your account!'</span>
              </p>
            </div> -->
            <!-- <div *ngIf="!isInvitedUserVerified">
              <span *ngIf="!hideMessage" class="mt-1" style="color: red;">Verification link has been expired!</span>
            </div> -->
            <!-- <div class="row forgot-password" >
              <a routerLink="/forgot-password" tabindex="-1">Forgot password?</a>
            </div>
            <br>
            <div *ngIf="show" style="color:blue;">
              <p>Sign In Successfully</p>
            </div>
            <div style="color:red;">
              <p>{{errorMsg}}</p>
            </div> -->
  
  
          <!-- </div> -->
          <div class="text-center">
            <button [disabled]="loading" class="btn btn-brand-02 btn-block login-btn" type="submit">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Send </button>
  
                            <div class="divider-text tx-17">or</div>
                            <div class="tx-13 mg-t-20 tx-center tx-18">Already have an account?  <a class="font-weight-bold" routerLink="/login">Login
                                </a></div>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  </div>

<div class="col-sm-5 mt-3 mr-0 float-right flotingdiv">
    <alert *ngIf="isOpen" [type]="alertType"  [dismissible]="dismissible" dismissOnTimeout="5000" (onClosed)="onClosed(alertMsg)">{{alertMsg}}</alert>
</div>

