<div>
  <nav aria-label="breadcrumb" style="margin-left: -14px">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
      <li class="breadcrumb-item">Billing</li>
      <li class="breadcrumb-item active">Manage Licenses</li>

    </ol>
  </nav>
   <h4 class="mg-b-0 tx-spacing--1">Manage Licenses</h4>
</div>
<div class="card mt-4">
  <h4 class="mt-4 pl-4">Active Plans</h4>
  <div class="card-body mt-2">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Available Licenses</th>
        <th>Total Licenses</th>
        <th>Valid Up to</th>
        <th>Price</th>
        <th>Pay By</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let plan of activeSubscriptionList">
        <ng-container *ngIf="plan.active">
        <td><a class="plan-name" [routerLink]="'/settings/billing/manage-product'"
          [queryParams]="{planid: plan.id, plan_name: plan.plan_name, total_licence: plan.total_licence, assigned_licence: plan.assigned_licence}"> {{plan.plan_name}}</a></td>
        <td>{{ plan.total_licence - plan.assigned_licence}} </td>
        <td style="width: 200px">
          <div class="row">
            <div class="col-md-8">
            <div class="progress mt-1" style="height:8px">
            <div class="progress-bar" [ngStyle]="{width:  onCalculateOptValue(plan.assigned_licence, plan.total_licence)+'%'}" style=" background-color: #11188f">
            </div>
            <div class="progress-bar"  [ngStyle]="{width:  100 - onCalculateOptValue(plan.assigned_licence, plan.total_licence) +'%'}" style="background-color: #3d78d4">
            </div>
          </div>
        </div>
        <div class="col-md-4">
         <span style="font-weight: 600"> {{plan.assigned_licence}} / {{plan.total_licence}}</span>
        </div>
        </div>

        </td>
        <td> <i class="fa fa-check-circle pr-2" aria-hidden="true"></i> Active: Renews on  {{plan.planDetails.plan_ends | date}}</td>
        <td>{{plan.planDetails.price + '.00 ' + plan.currency | uppercase}}  </td>
        <th style="    text-transform: capitalize;">**** {{plan.planDetails.card_number + ' ' + plan.planDetails.brand}}</th>
        </ng-container>
      </tr>


      </tbody>
    </table>
  </div>
</div>



<div class="card mt-4">
  <h4 class="mt-4 pl-4">Expired Plans</h4>
  <div class="card-body mt-2">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Assigned Licenses</th>
        <th>Total Licenses</th>
        <th>Type</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let plan of activeSubscriptionList">
        <ng-container *ngIf="!plan.active">
        <td><a [routerLink]="'/settings/billing/manage-product/' + plan.id" [queryParams]="{planid: plan.stripe_plan_id, plan_name: plan.name}">
          {{plan.plan_name}}</a></td>
        <td>{{plan.assigned_licence}} </td>
        <td>{{plan.total_licence}}</td>
        <td>{{plan.email}}</td>
        <td>{{plan.amount + ' ' + plan.currency | uppercase}}</td>
      </ng-container>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="col-sm-5 mt-3 mr-0 float-right">
  <alert *ngIf="isOpen" [type]="alertType"  dismissOnTimeout="5000">{{  alertMsg}}</alert>
</div>
