<div>
  <nav aria-label="breadcrumb" style="margin-left: -14px">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
      <li class="breadcrumb-item">Billing</li>
      <li class="breadcrumb-item active">Manage Subscription</li>

    </ol>
  </nav>
   <h4 class="mg-b-0 tx-spacing--1">Manage Subscription</h4>
</div>
<div class="card mt-4">
  <h4 class="mt-4 pl-4">Available Licenses</h4>
  <div class="card-body mt-2">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Available Licenses</th>
        <th>Type</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let plan of activeSubscriptionList">
        <td><a [routerLink]="'/settings/billing/manage-product/' + plan.id"> {{plan.plan_name}}</a></td>
        <td>0 Property Available </td>
        <td>{{plan.email}}</td>
        <td>{{plan.amount}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>


<div class="col-sm-5 mt-3 mr-0 float-right">
  <alert *ngIf="isOpen" [type]="alertType"  dismissOnTimeout="5000" (onClosed)="onClosed(alertMsg)">{{  alertMsg}}</alert>
</div>
