<div style="margin-top: 2rem">

  <form [formGroup]="mySqlForm" class="mt-3" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="col-md-6">
        <div class="form-group w-75">
          <label><span class="text-danger">*</span> Connection  Name</label>
          <input type="text" formControlName="connection_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.connection_name.errors }" />
          <div *ngIf="submitted && f.connection_name.errors" class="invalid-feedback">
            <div *ngIf="f.connection_name.errors.required">This Field is required</div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group w-75">
          <label><span class="text-danger">*</span> Connection Description</label>
          <textarea formControlName="connection_desc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.connection_desc.errors }"></textarea>
          <div *ngIf="submitted && f.connection_desc.errors" class="invalid-feedback">
            <div *ngIf="f.connection_desc.errors.required">This Field is required</div>
          </div>
        </div>
      </div>



      <div class="col-md-6">
        <div class="form-group w-75">
          <label><span class="text-danger">*</span> Connector  Type</label>
          <input type="text" formControlName="connector_type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.connector_type.errors }" />
          <div *ngIf="submitted && f.connector_type.errors" class="invalid-feedback">
            <div *ngIf="f.connector_type.errors.required">This Field is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 divider-text">{{systemName}} Credential</div>

      <ng-container formArrayName="credential">
        <div class="col-md-6" *ngFor="let credential of mySqlForm.controls.credential['controls']; let i=index"  [formGroupName]="i">
          <div class="form-group w-75" *ngIf="onFindCredentialType(mySqlForm.value.credential[i].key) === 'text'">
            <label class="text-capitalize"><span class="text-danger">*</span> {{mySqlForm.value.credential[i].key.replaceAll('_', ' ')}}</label>
            <input type="hidden" formControlName="key" [value]="credential.key" />
            <input type="text" formControlName="secret_1" class="form-control" [ngClass]="{ 'is-invalid': submitted && credential.get('secret_1').errors }" />
            <div *ngIf="submitted && credential.get('secret_1').errors" class="invalid-feedback">
              <div *ngIf="credential.get('secret_1').errors.required">This Field is required</div>
            </div>
          </div>

          <div class="form-group w-75" *ngIf="onFindCredentialType(mySqlForm.value.credential[i].key)  === 'textarea'">
            <label class="text-capitalize"><span class="text-danger">*</span> {{mySqlForm.value.credential[i].key.replaceAll('_', ' ')}}</label>
            <input type="hidden" formControlName="key" [value]="credential.key" />
            <textarea class="form-control" formControlName="secret_1" id="exampleFormControlTextarea1" [ngClass]="{ 'is-invalid': submitted && credential.get('secret_1').errors }" rows="3"></textarea>
            <div *ngIf="submitted && credential.get('secret_1').errors" class="invalid-feedback">
              <div *ngIf="credential.get('secret_1').errors.required">This Field is required</div>
            </div>
          </div>


          <div class="form-group w-75" *ngIf="onFindCredentialType(mySqlForm.value.credential[i].key)  === 'password'">
            <label class="text-capitalize"><span class="text-danger">*</span> {{mySqlForm.value.credential[i].key.replaceAll('_', ' ')}}</label>
            <input type="hidden" formControlName="key" [value]="credential.key" />
            <input type="password" formControlName="secret_1" class="form-control" [ngClass]="{ 'is-invalid': submitted && credential.get('secret_1').errors }" />
            <div *ngIf="submitted && credential.get('secret_1').errors" class="invalid-feedback">
              <div *ngIf="credential.get('secret_1').errors.required">This Field is required</div>
            </div>
          </div>

          <div class="form-group w-75" *ngIf="onFindCredentialType(mySqlForm.value.credential[i].key) === 'number'">
            <label class="text-capitalize"><span class="text-danger">*</span> {{mySqlForm.value.credential[i].key.replaceAll('_', ' ')}}</label>
            <input type="hidden" formControlName="key" [value]="credential.key" />
            <input type="text" formControlName="secret_1" class="form-control" [ngClass]="{ 'is-invalid': submitted && credential.get('secret_1').errors }" />
            <div *ngIf="submitted && credential.get('secret_1').errors" class="invalid-feedback">
              <div *ngIf="credential.get('secret_1').errors.required">This Field is required</div>
            </div>
          </div>

          <div class="form-group w-75" *ngIf="onFindCredentialType(mySqlForm.value.credential[i].key) === 'select'">
            <label class="text-capitalize"><span class="text-danger">*</span> {{mySqlForm.value.credential[i].key.replaceAll('_', ' ')}}</label>
            <input type="hidden" formControlName="key" [value]="credential.key" />
            <select formControlName="secret_1" class="form-control" [ngClass]="{ 'is-invalid': submitted && credential.get('secret_1').errors }" >
              <option *ngFor="let optionText of credForm[systemName][i].options" [value]="optionText">{{optionText}}</option>
            </select>
            <!--              <input type="number" formControlName="secret_1" class="form-control" [ngClass]="{ 'is-invalid': submitted && credential.get('secret_1').errors }" />-->
            <div *ngIf="submitted && credential.get('secret_1').errors" class="invalid-feedback">
              <div *ngIf="credential.get('secret_1').errors.required">This Field is required</div>
            </div>
          </div>

        </div>
      </ng-container>

      <div class="col-md-6" *ngIf="systemName === 'mailchimp'
          || systemName === 'activecampaign'
          || systemName === 'sendinblue'
          || systemName === 'sendgrid'
           || systemName === 'hubspot'
          || systemName === 'moosend'">
        <div class="form-group w-75">
          <label>Test Email (Only For Test Connection)</label>
          <input type="email" formControlName="testEmail"  [ngClass]="{ 'is-invalid': submitted && f.testEmail.errors }" class="form-control" />
          <div *ngIf="submitted && f.testEmail.errors" class="text-danger" >
            <div *ngIf="f.testEmail.errors.email">Email is not valid </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <button type="submit" (click)="submitType = 'test'" [disabled]="isTesting"  class="btn btn-outline-secondary">
          <div *ngIf="isTesting" class="spinner-border"></div>
          Test Connection</button>
        <div *ngIf="isTesting" class="progress mt-4 w-75">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:  100%"></div>
        </div>
        <p *ngIf="!testingSuccess && alertMsg" class="text-danger mt-2"><i class="fas fa-exclamation-circle"></i> {{alertMsg}}</p>
        <p *ngIf="testingSuccess" class="text-success mt-2"><i class="fas fa-check"></i> {{testingSuccess}}.!</p>
      </div>

      <div class="col-md-12">
        <div class="divider-text"></div>
        <div class="text-center">
          <button type="button" (click)="close.emit(true)" [disabled]="isTesting"  class="btn btn-secondary">Close</button>
          <button type="submit" (click)="submitType = 'submit'" [disabled]="isTesting"  class="btn btn-primary ml-4">Update</button>
        </div>
      </div>

    </div>
  </form>
</div>


