.addslide-width{
    width: 220px !important;// 100%;
}

.removeslide-width{
    width: 30px !important;// 100%;
}

.menuwrapper {
    position: relative;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 10px;
    // overflow: hidden;
}

.submenu{
    margin: 0;
}

.submenu div a {
    line-height: 30px;
    cursor: pointer;
    color:#333;
}

.submenu div a span {
    padding: 10px 0;
    margin: 10px 0;
    line-height: 30px;
}

.submenu div a span:hover {
    color:#0168fa !important;
}

.submenu div a span > i-feather,.submenu div a span > i {
    margin: 0 10px 0 0;
}

.menu-arrow {
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 5px #000;
    width: 23px;
    height: 23px;
    position: fixed;
    background: #fff;
    top: 90px;
    left: 15px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    z-index: 9999;
    transition: left 200ms linear; 
}

.menu-arrow:hover {
    background: #0168fa;
    color: #fff;
    border: 1px solid #0168fa;
}

.menu-arrow-padding {
    padding: 1px 2px 2px 3px;
}

.menu-arrow-padding-left {
    padding: 0px 2px 2px 0;
}

.rotate-menu-arrow {
    transform: rotate(-180deg);
    transition: transform .1s ease-in-out;
}

.sidemenu {
    height: 100%;
    width: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 60px;
    padding: 70px 10px 0 10px;
    background-color: #fff;
    box-shadow: inset 0px 4px 5px #8d8d8d;
    border-right: 1px solid #f5f6fa;
}

.hidecontent{
    visibility: hidden;
    -webkit-transition: opacity 0ms linear,visibility 0ms linear;
    transition: opacity 0ms linear,visibility 0ms linear;
    opacity: 0;
    overflow: hidden;
    // height: 100%;
    -webkit-transition-delay: 0.3s linear;
    transition-delay: 0.3s linear;
    //width: 220px;
}

.showcontent{
    visibility: visible;
    transition: none 0s ease 0s;
    opacity: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    // overflow: hidden auto;
    // height: 100%;
}

.org-property{
    display: flex;
    flex-direction: column;
    line-height: 24px;
    border-bottom: 1px solid #cccc;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom:5px;
}

.add-footerheight {
    height: 100%;
}

.remove-footerheight {
    height: 100% !important;
}

.movearrowright {
    left:205px;
}

.backtospace {
    left:8px;
}

.current-menu {
    display: inline-block;
    width: 100%;
}