<div class="menuwrapper">
    <div class="sidemenu" (mouseenter)="onMouseover()" (mouseleave)="onMouseout()" [@slideInOutSideMenu]="slideSideMenu ? true : false">
<!--  [ngClass]="[slideSideMenu ? 'addslide-width':'removeslide-width']" [@slideInOut]="slideSideMenu ? true : false"-->
        <p class="org-property" [ngClass]="slideSideMenu ? 'showcontent' : 'hidecontent' ">
            <span>{{organization}} </span>
            <span>{{property}}</span>
        </p>
        <span class="menu-arrow"  [ngClass]="[isSideMenuArrowClicked ? 'menu-arrow-padding-left':'menu-arrow-padding',slideSideMenu ? 'movearrowright':'backtospace']" (click)="onClickonMenuArrow()" (mouseenter)="onMouseoveronArrow($event)" (mouseleave)="onMouseoutonArrow($event)"> <!--(mouseenter)="onMouseoveronArrow($event)" (mouseleave)="onMouseoutonArrow($event)" (mouseenter)="onMouseoveronArrow($event)" (mouseleave)="onMouseoutonArrow($event)"-->
            <i class="fas fa-chevron-right" [ngClass]="isSideMenuArrowClicked ? 'rotate-menu-arrow':''"></i>
        </span>
        <div class="wrapper" [ngClass]="slideSideMenu ? 'showcontent' : 'hidecontent' ">
            <div class="submenu" *ngIf="currentmenu" >
                <p class="mb-0">{{menulink}}</p>
                <div *ngFor="let menuitem of submenu">
                    <a draggable="false" [routerLink]="menuitem.routerLink" [queryParams]="{oid:queryOID , pid:queryPID}">
                        <span *ngIf="menuitem.icon.indexOf('fa')===-1">
                            <i-feather name="{{menuitem.icon}}" class="feather-16"></i-feather>{{menuitem.showlink}}
                        </span>
                        <span *ngIf="menuitem.icon.indexOf('fa')===0"><i class="{{menuitem.icon}}"></i>{{menuitem.showlink}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>