.progress {
  //width: 82%;
  margin-bottom: 15px;
  //margin-left: 13px;
  height: 16px;
}
.progress .progress-bar{
  font-size: 14px;
  font-weight: 600;
}

.scan-btn {
  height: 34px;
  margin-left: 10px;
}

.flotingdiv{
  position: fixed;
  bottom: 0;
  top: 84%;
  right:0;
  overflow-x: hidden;
  overflow-y: auto;
}
// .scan-details ::ng-deep .p-datatable .p-paginator-bottom {
//   border-bottom: 0;
//   display: flex;
//   justify-content: center;

// }

.scan-details ::ng-deep .p-paginator-bottom .p-paginator {
  display: flex;
  position: relative;
}

.scan-details ::ng-deep .p-paginator-current {
  position: absolute;
  right: 0;
}

.scan-details ::ng-deep .p-inputwrapper-filled {
  position: absolute;
  left: 0;
}

.scan-details::ng-deep .p-datatable .p-paginator-bottom {
  display: flex;
  border-top: 1px solid #ccc;
  border-radius: 0px 0px 10px 10px;
  border-bottom: 0;
  justify-content: center;
}
