.progress {
  //width: 82%;
  margin-bottom: 15px;
  //margin-left: 13px;
  height: 16px;
}
.progress .progress-bar{
  font-size: 14px;
  font-weight: 600;
}

.scan-btn {
  height: 34px;
  margin-left: 10px;
}
