.display-list-of-numbers {
    height: 25px;
    width: 25%;
    border: 1px solid dodgerblue;
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  .pop{
    height: 50px;
    margin-left: 20px;
    border: 1px solid saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cdk-drag {
  margin: 10px;
}

  .form-group .cdk-drag {
    margin: 5px !important;
  }

  .col-sm-12 .cdk-drag {
    margin: 0px 5px;
  }

  .formfield-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    // border: 1px solid #ccc;
    // padding: 20px;
    margin: 10px;
  }
  
  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-boundary {
    border: 1px solid #000;
  }

  .container .row > form {
    width: 100%;
  }

  // .card {
  //   padding: 10px;
  //   margin: 0;
  // }
 
  .collapse .card-body {
    padding: 5px 2px;
  }

  // .card-body {
  //   padding: 5px 2px !important;
  //   background-color: blueviolet;
  // }

  .drag-list {
    background: #f1f1f1;
    padding: 3px 4px;
    margin: 10px 0;
    border: 1px solid #ccc;
    cursor: move;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .drag-list span{
    padding: 5px 3px 0 3px;
  }

  .drag-list span.control-label{
    width: 100%;
    text-align: left;
  }

  // .active {
  //   background: #f90 !important;
  // }

  .drag-list:focus {
    background: rgb(126, 15, 15);
  }

  .card > div:first-child{
    font-size: 14px;
    font-weight: bold;
  }

  #selectControl {
    margin-top: 10px;
  }

  #selectControl label {
    font-weight: bold;
  }

  .addoption {
    position: relative;
  }

  // .add-icon {
  //   position: absolute;
  //   bottom: 0px;
  //   right: 0;
  // }

  .add-icon {
    font-size: 11px;
    line-height: 0;
    border-radius: 60px;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    padding: 0px 0px 1px 0px;
  }


  .addoption ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .addoption ul li {
    margin: 0px 0px 8px 0;
    padding: 0;
  }

  .custom-controls {
    margin: 10px auto;
  }

  .custom-controls h5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .custom-controls h5 button {
    padding: 5px 7px 0 7px;
    font-size: 14px;
    line-height: 15px;
  }

  .custom-controls h5 button:hover {
    text-decoration: underline;
  }

  .custom-controls label {
    display: inline;
  }

  .smallbtn{
    padding: 7px 10px;
  }

  .editbtn{
      display: flex;
      width: auto;
      justify-content: space-between;
      padding: 4px 6px 4px 6px; /*3px 5px 5px 5px;*/
      line-height: 0px;
      font-size: 11px;
      align-items: center;
      margin: 0px 5px 0px 0px;
  }

  .editbtn .fa {
    font-size: 14px;
  }

  .rotateEditicon {
    transform: rotate(130deg);
  }

  .demo-btn-group .btn {
    margin: 5px 0;
  }


  .form-check-label {
    display: inherit;
  }

  .displayflex {
    display: flex;
  }

  /*test*/

  .example-container {
    // width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .formfield-list {
    max-width: 100%;
   /* border: solid 1px #ccc;*/
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }

  .example-list {
    max-width: 100%;
    border: solid 1px #ccc;
    border-top:0;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .example-box {
    padding: 8px 10px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .dsarform-box {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    width: 50%;
    margin: 10px auto 0 auto !important;
  }

  .dsarform-box div > label {
    font-weight: bold;
    margin: 0 0px 0px 0;
    display: flex;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: lightblue;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    /*border: none;*/
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .borderzero{
    border:0;
  }

  .example-box label {
    margin-bottom: 0;
  }

  .example-box h3 {
    font-size: 14px;
    font-weight: bold;
  }

  .example-box label {
    font-weight: bold;
  }

  .loader-spinner {
    color: black;
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
  }

  .loader-spinner span {
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
  }

  .loader-spinner .spinner-border {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .dsar-formwrapper {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #d0d0d0;
  }

  .dsar-formwrapper > ul.nav-tabs > li > a {
    border-bottom-width: 1px;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid green;;
  }

  .dsar-formwrapper > ul.nav-tabs > li a.nav-link.active {
    background-color: #fff;
    z-index: 5;
    color: #0168fa;
    border-bottom: 2px solid #0168fa;
  }
  
  .shadowdiv {
    border: 1px solid rgba(72, 94, 144, 0.16);
    border-radius: 4px;
    box-shadow: 0rem 0.1rem 0.2rem #ccc;
  }

  .shadowdiv > .nav-tabs .nav-link.active {
    background-color: #fff;
    z-index: 5;
    color: #0168fa;
    border: 0px;
    border-bottom: 2px solid blue;
}

.shadowdiv > .nav-tabs .nav-link {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 2px solid #5cb85c;
}

  .shadowdiv ul.nav-tabs.nav {
    position: relative;
    background: #fff;
    // border: 1px solid rgba(72, 94, 144, 0.16);
    border-bottom: 0;
    border-radius: 4px 4px 0px 0px;
  }

  .dsar-formwrapper > ul.nav-tabs > li  a.nav-item {
    margin-bottom: 0;
    width: 115px;
  }
  
  .shadowdiv ul.nav-tabs.nav > li:last-child {
    position: absolute !important;
    right: 0px !important;
  }

  .shadowdiv ul.nav-tabs.nav > li:last-child > a.btn-sm {
    padding: 5px 10px !important;
    margin: 5px 5px 0 0 !important;
  }

  .shadowdiv .tab-content {
    padding: 5px;
    background: #fff;
  }

.displayblock {
  display: block;
}

.accordion > .card .card-header {
  padding: 0px !important;
  border-bottom: 0px !important;
}

.form-tl {
  font-size: 15px;
}

.logowidth {
  width: 80px;
  height: auto;
}

.headerwrapper {
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 0;
  border-bottom: 0px;
}

.logocontainer {
  border-radius: 0;
  background-color: #3968fa;
  color:#fff;
  height: 50px;
}

.img-container {
  height: auto !important;
}

#cdk-drop-list-0 .dsarform-box:first-child, #cdk-drop-list-0 .dsarform-box:nth-child(2) {
  display: none;
}

.quilleditor-wrapper {
  display: block;
  padding: 0px 20px;
}

.quilleditor-wrapper > .quilleditor .ql-align-right {
  text-align: right !important;
}

.quilleditor-wrapper > .quilleditor .ql-align-center {
  text-align: center !important;
}

.quilleditor p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-weight: 500;
}

.border-top {
  border-top:1px solid #ccc;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
  width: 24px;
  padding: 0;
  outline: none;
  border-radius: 5px;
  margin: 0;
  height: 24px;
}

.form-field-section {

}

.form-field-section .card {
  padding: 0;
  border-radius: 5px;
  margin: 0 -15px -1px -5px;
  border: 0;
}

.bordermargin {
  border-right: 1px solid #ccc !important;
  margin-top: 0 !important;
}

.rotateicon {
  transform: rotate(90deg);
  transition: transform .1s ease-in-out;
}

.resumeiconstate {
  transform: rotate(0deg);
  transition: transform .1s ease-in-out;
}

.form-field-section .card .card-header {
  padding: 5px !important;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-radius: 0;
}

.formtab-one{
  border-radius: 0;
  background-color: brown;
}

.panel-heading.card-header.panel-enabled :last-child{
  border-bottom: 0 !important;
}

.icon-label-wrapper span {
  margin: 0 10px 0 10px;
}

.controls-with-options {
  display: flex;
  flex-direction: column;
}

.list-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.list-wrapper .btn-primary {
  border-radius: 70px;
  padding: 3px 4px;
  height: 18px;
  line-height: 0;
  font-size: 10px;
  margin: 0 0 0 5px;
}

.list-wrapper .control-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.control-wrapper  .form-control.is-invalid {
  padding-right: 10px !important;
}

.controls-with-options > .list-wrapper ul {
  margin: 0;
  padding: 0 20px 0 0;  
}

.list-wrapper ul {
  
}

.controls-with-options ul li {
  list-style-type: none;
}

.controls-with-options .btn-link {
  border-radius: 20px;
  font-size: 11px;
  border: 1px solid #3968fa;
  width: 20px;
  height: 20px;
  padding: 0px 0px;
}

.shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.card-body .align-items-center {
  margin: 5px;
}

.editorwrapper {
  border-bottom: 1px solid #ccc;
  margin: 0 -2px;
  padding: 8px 15px;
}

.editorwrapper > div > h6 {
  font-weight: bold;
}

.form-inline .btn-danger, .addoption .btn-danger {
  border-radius: 10px;
  height: 18px;
  padding: 0px 3px;
}

.list-wrapper .btn-link {
  margin-bottom: 10px !important;
}

.dispalyflex-column {
  display: flex;
  flex-direction: column;
}

.dispalyflex-column .form-control.is-invalid {
  padding-right: 0 !important;
}

.red {
  color: red;
  font-size: 12px;
}

.previewbtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

span.previewbtn a {
  color: #fff !important;
}


.alert-success {
 	  background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    padding: 12px 32px 12px 12px !important;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.flotingdiv {
	position: fixed;
	bottom: 40px;
	right:10px;
	overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;
}

.form-check {
  padding-left: 0 !important;
}

.txt-capitalize {
  text-transform: capitalize;
}

.flex-align-item {
  display: flex;
  align-items: center;
}

.align-form {
  display:flex;
  flex-direction:row;
  align-items:center;
}

.displaynone {
  display: none;
}

.center-div {
  margin: 10px auto;
}

.form-check-input {
  margin: 0;
}

.pad-right-20 {
  padding: 0 0 0 20px;
}

.color-red {
  color: red;
}

.collapse-btn {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 12px !important;
}

::ng-deep .form-control .is-invalid {
  padding-right: 0 !important;
}

.container .shadowdiv .nav-tabs {
  border-bottom: 1px solid #cdd4e0 !important;
}

.form-tl {
  font-size: 14px;
  color: #0168fa;
  font-weight: normal !important;
}

.draftspan {
  position: absolute;
  right: 610px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 6px 12px 3px;
  background: #e6e6e6;
  top: 11px;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.margin-padding-zero {
  margin: 0 !important;
  padding: 0 !important;
}
 
.required-check input[type='checkbox'] {
  margin: 2px 4px;
}

.required-check label {
  margin-left: 20px;
}

.publishbg {
  background-color: #f7f7f7;
  margin: 0 0 30px 20px;
  border: 1px solid #dfdfe8;
  overflow-y: auto;
  height: 300px;
}

.sharelinkbg {
  background-color: #fbfbff;
  margin: 0 0px 30px 20px;
  border: 1px solid #dfdfe8;
}

.publish {
  margin: 0;
  width: 100%;
  white-space: pre-wrap;
  max-height: 18rem;
  overflow-y: auto;
  padding: 0 10px 0 20px;
}

.bluecolor {
  color: #4f9fcf;
}

.greencolor {
  color: green;
}

.redcolor {
  color: red;
}

.script-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-bottom-width: 0;
  margin-bottom: 0;
  margin-left: 20px;
  padding: 10px !important;
}

.fontsize22 {
  font-size: 22px;
}

.publishwrapper {
  width: 22%;
  margin: 20px 0 10px 25px;
}

.publish-content {
  // border: 1px solid #ccc;
}

.active .publishwrapper ul.nav-tabs {
  border: 0 !important;
}

.publishwrapper ul > li.nav-item .nav-tabs .nav-link {
  background: #fff !important;
}

.publishwrapper ul > li.nav-item > a.nav-link {
  background: #fff;
  color: #09f !important;
  border-bottom-width: 1px;
  border-radius: 5px;
  height: 32px;
}

.publishwrapper ul > li.nav-item a.active {
  background: #09f;
  color: #fff !important;
}

.publishwrapper ul > li.nav-item > a.nav-link:focus {
  border: 1px solid #ccc !important;
}

.publishwrapper ul .nav-tabs .nav-link {
  border-radius: 5px;
}

.publishwrapper ul .nav-tabs .nav-link:hover {
  border: 1px solid #09f;
}

.code-link-wrapper {
  width: 50%;
}

.shadowdiv > .nav-tabs .nav-link.active {
  height: 50px;
}

.shadowdiv > .nav-tabs .nav-link {
  height: 50px;
}

.publishbtn {
  position: absolute;
  right: 100px;
  top: 10px;
}

.hide {
  display: none;
}

.show {
   
}

/*Logo upload*/

.image-wrap {
  padding: 10px;
  border: solid 1px #e0e0e0;
  display: inline-block;
}

.img-space {
  border: solid 1px #737373;
  border-radius: 8px;
  background-image: linear-gradient(45deg, #8a8a8a 25%, transparent 25%), linear-gradient(-45deg, #8a8a8a 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #8a8a8a 75%), linear-gradient(-45deg, transparent 75%, #8a8a8a 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  height: auto;
  width: 100%;
  padding: 10px;
}

.img-space img {
  display: block;
  margin: auto;
  cursor: pointer;
}

.favicon-img-space {
  border: solid 1px #737373;
  border-radius: 8px;
  background: #f1f1f1;
  height: auto;
  width: 100%;
  padding: 10px;
}

.favicon-img-space img {
  display: block;
  margin: auto;
  cursor: pointer;
}

.fileInputProfileWrap {
  width: 100%;
  height: auto;
}

.fileInputProfile {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
}
.fileInputProfile[disabled] + .img-space{
  pointer-events: none;
  cursor: not-allowed!important;
}

 .input-group .custom-file .custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  top: 0;
  height: auto !important;
  left: 110px;
  margin: 0;
  opacity: 0;
}

.input-group input[type="file"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.input-group .custom-file-upload {
  margin: 0 auto;
}

.filedetails {
  border: 1px solid #ccc;
  margin: 5px 0;
  border-radius: 10px;
  padding: 10px;
  color: #666;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  position: relative;
}

.margin-left26 {
  margin-left: 26px
}

.logodelete {
  background: transparent;
  position: absolute;
  right: 10px;
  color: #666;
  border: 0;
  outline: 0;
  top: 16px;
}

.logodelete:focus {
  outline: 0;
  border: 0
}

.upload-wrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.upload-wrapper p {
  text-align: center;
  font-size: 12px;
  text-transform: capitalize;
}

.feathericon {
  width:18px;
  height: 18px;
}

.uploaded-logo-width {
    width: 150px;
    height: auto;
}

.uploaded-favicon-width {
  width: auto;
  height: auto;
}

.color-controlwrapper input[type=color] {
  width: 36px;
  height: 30px;
  min-width: 30px;
  cursor: pointer;
}

.color-controlwrapper .form-control-sm {
  height: 30px !important;
}

.reset-link {
  position: absolute;
  right: 480px;
  border-radius: 20px;
  padding: 6px 12px 3px;
  top: 11px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.justify-content {
  justify-content: flex-start;
}

.disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.ql-container .ql-snow .ql-disabled {
  background-color: #ccc;
}

/*convert radio look to button look */
 
.control-box .form-check-inline:not(:first-child) {
  display: inline-block;
  /* margin: 0 2px 0 10px; */
  position: relative;
}



.form-check-inline input[type='radio'] {
  margin: 3px 5px 0 0;
}

.form-check-inline input[type='checkbox'] {
  margin: 3px;
}


.dsarform-box .form-check-inline input[type="radio"], .dsarform-box .form-check-inline input[type="checkbox"] {
  margin: 3px 5px 0 0;
  opacity: 0;
  display: none;
  /* position: absolute;
  width: 20px;
  top: 7px;
  left: 5px; */
}

.dsarform-box .form-check-inline label {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 5px 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    border: 2px solid #ced4da;
    border-radius: 4px;
    font-weight: normal !important;
}

.dsarform-box .form-check-inline label:hover {
  background-color: #f5f5f5;
  color:#0168fa;
  border-color: #0168fa;
  cursor: pointer;
}

.dsarform-box .form-check-inline input[type="radio"]:focus + label, .dsarform-box .form-check-inline input[type="checkbox"]:focus + label {
    border: 1px solid #0168fa;
}

.dsarform-box .form-check-inline input[type="radio"]:checked + label, .dsarform-box .form-check-inline input[type="checkbox"]:checked + label {
    background-color: #4994fe;
    border-color: #0168fa;
    color: #fff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.custom-control-label::before {
  position: absolute;
  top: 0.15625rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #97a3b9 solid 1px;
}

.light-black {
  color: #596882;
  font-weight: 500;
  font-size: 14px;
}

.template-blue {
  color: #0168fa;
  font-weight: 500;
  font-size: 14px;
}

@media(min-width:767px) and (max-width:1024px) {

  .draftspan {
    right:180px;
  }

  .reset-link {
    right: 250px;
  }
}

@media(max-width:1024px) {
  .publishwrapper {
    width: 36% !important;
  }

  .publishwrapper .nav-tabs {
    width: 75% !important;
  }
}

@media(max-width:768px) {
  .publishwrapper .nav-tabs {
    width: 100% !important;
  }

  .nav-tabs .nav-link {
    padding: 0 15px;
  }

}