<div class="container">
    <div class="mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-0">
              <li class="breadcrumb-item"><a routerLink="/settings">Settings</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a routerLink="/organizations">Organizations</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a (click)="backToOrganizationDetail()">Organizations Details</a></li>
              <li class="breadcrumb-item active" aria-current="page">Organization Team Members</li>
            </ol>
          </nav>
    </div>

    <div class="divider-text mg-y-10">MEMBERS</div>
    <div class="table-responsive">
        <div class="card">
            <div card-header tx-semibold>
                <div class="mt-3 mb-3" style="display: flex;">
                <div class="col-sm-3">
                    <input type="text" placeholder="Search" class="form-control" />
                </div>
                <div class="col-sm-4">
                <div class="row">
                <div class="col-sm-3">
                    <div class="mt-2">
                        <label class="d-block">View</label>
                    </div> 
                </div>
                <div class="col-sm-3">
                    <select id="PerPage" class="form-control">
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                    </select> 
                </div>
                <div class="col-sm-6">
                    <div class="mt-2 float-left">
                        <label class="d-block">records at a time</label>
                    </div>  
                </div>
            </div>
                </div>
                <div class="col-sm-2 ml-auto">
                    <button type="button" class="btn btn-primary btn-xs float-right" data-toggle="modal"
                        (click)="open(inviteuserModal)"><i class="fas fa-plus"></i> Add User</button>
                </div>
            </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead-primary">
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Last Login</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody> 
                            <tr *ngFor="let list of organizationTeamMemberList; let i = index">
                                <td>
                                    {{i+1}} 
                                </td>
                                <td>
                                    {{list.tm_email}}
                                </td> 
                                <td>
                                    {{list.tm_role}}
                                </td>
                                <td>
                                    {{list.tm_last_login | date:'medium'}}
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-primary">Remove</button>
                                </td>
                            
                            </tr>
                            <tr *ngIf="organizationTeamMemberList?.length == 0">
                                <td colspan="7" class="txt-center">
                                    <div> No User found </div>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-right">
                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>
         
        </div>
    </div>
</div>

<ng-template #inviteuserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Invite new users</h4>
      
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close Clicked')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div>Enter the email addresses of the users you'd like to invite, and choose the role they should have.
        </div>
        <form [formGroup]="inviteUserOrgForm" (ngSubmit)="onSubmitInviteUserOrganization()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="emailid" class="d-block">Email Id</label>
                        <input type="text" formControlName="emailid" name="emailid" [(ngModel)]="emailid"
                            class="form-control" placeholder="Enter email id"
                            [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" />
                        <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
                            <div *ngIf="f.emailid.errors.required">Company Name is required</div>
                            <div *ngIf="f.emailid.errors.pattern">Company Name Allow Only Alphabets</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div *ngFor="let opt of roleList" class="form-check-inline">
                        <input class="form-check-input" type="radio" name="chkpermissions"
                            [value]='opt.id' (change)="onCheckChange($event)"/>{{opt.role_name}}
                    </div>
                </div>
            </div>
            <button class="btn btn-xs btn-primary" type="submit">Submit</button>
        </form>
    </div>
</ng-template>