<div class="card">
  <div class="card-body">
    <p (click)="onConnectionListPage()">Go Back</p>
    <div class="row">
      <div class="form-group col-md-5">
        <label for="exampleFormControlSelect1">Email Address</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="emailAddress">
          <ng-container  *ngFor="let option of formObject.request_form">
          <option [value]="option.controlId" *ngIf="option.controlId === 'email'">form.{{option.controllabel}}</option>
          <option [value]="option.controlId" *ngIf="option.controlId.slice(0, 11) === 'CustomInput'">form.{{option.controllabel}}</option>
          </ng-container>
        </select>
        <p class="mt-3 text-danger" *ngIf="emailAddress === ''">Email is Required</p>
      </div>
      <div class="col-md-2">
        <button type="button" (click)="onSubmit()" class="mt-2 btn btn-primary mt-4 ml-4">Save</button>
      </div>
    </div>
  </div>
</div>



<div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
  <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000"
  ><span [innerHTML]="alertMsg"></span></alert>
</div>
