<div>
  <nav aria-label="breadcrumb" style="margin-left: -14px">
    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
      <li class="breadcrumb-item">Billing</li>
      <li class="breadcrumb-item"><a routerLink="/settings/billing/manage">Manage Licenses</a></li>
      <li class="breadcrumb-item active">Properties</li>

    </ol>
  </nav>
  <h4 class="mg-b-0 tx-spacing--1">Manage Properties</h4>

<div class="card mt-4">
  <div class="row">
    <h5 class=" col-md-12 mt-4 plan-name cl-gray" style="font-weight: bold;">{{productName + ' - ' +planName}}</h5>
    <div class=" col-md-12">
      <h4 class="assign-text cl-gray">{{assigneLicence}}/{{totalLicence}} Assigned</h4>
      <div class="col-md-4">
        <div class="progress" style="height:16px">
          <div class="progress-bar" [ngStyle]="{width: percents.assigneLicence +'%'}" style=" background-color: #11188f">
          </div>
          <div class="progress-bar"  [ngStyle]="{width: percents.totalLicence +'%'}" style="background-color: #3d78d4">
          </div>
        </div>
      </div>

      <div class="row pl-3 mt-3">
        <div class="col-md-5">
          <div class="row">
          <div class="col-md-3 cl-gray type-text">
            <i class="fa fa-square" style="color:#11188f" aria-hidden="true"></i>
            Assigned
          </div>
          <div class="col-md-3 cl-gray type-text pl-0">
            <i class="fa fa-square" style="color:#3d78d4" aria-hidden="true"></i>
            Available
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-4">
      <div class="btn-group">
        <button type="button" (click)="openModal(template)" class="btn cl-gray btn-default action-btn">
          <i class="fa icon-text pr-2 fa-plus" aria-hidden="true"></i>
           Assign New Property</button>
        <button type="button" (click)="onGetAssingedProperty()" class="btn cl-gray btn-default action-btn">
          <i class="fa icon-text fa-retweet pr-2" aria-hidden="true"></i>
          Refresh</button>
      </div>
    </div>
  </div>


  <div class="card-body">
    <ng-container  *ngIf="!skLoading">
    <table class="table">
      <thead>
      <tr>
        <th>Property Name</th>
        <th></th>
        <th>Domain Name</th>
        <th>Organization</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let obj of propertyList">
        <td>{{obj.name}}</td>
        <td>



          <div class="btn-group" dropdown>
            <button  id="button-basic" dropdownToggle type="button" class="btn btn-default"
                    aria-controls="dropdown-basic">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item"   (click)="delPropID = obj.id; openModal(delConfirm)" href="javascript:void(0)">Remove</a></li>

            </ul>
          </div>

        </td>
        <td>{{obj.website }}</td>
        <td> {{obj.orgname}} </td>
        <td><i class="fa fa-check" aria-hidden="true"></i>
        </td>

      </tr>

      </tbody>
    </table>
    <ng-container *ngIf="propertyList.length == 0">
      <div class="alert cs-alert w-100 alert-info">There is no property assign to this plan</div>
      </ng-container>
      </ng-container>
    <ngx-skeleton-loader  *ngIf="skLoading" count="6" class="pt-4"></ngx-skeleton-loader>

  </div>
</div>



<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Assign New Property</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="usr">Find Organization:</label>
        <select (change)="onGetAllPropertyList($event)" class="form-control" id="sel1">
          <option [value]="">-- Select Organization --</option>
          <option *ngFor="let obj of orgList" [value]="obj.id">{{obj.orgname}}</option>
        </select>
      </div>

    <label for="typeahead-basic">Find Property:</label>

    <p-multiSelect class="gdprSelect" [disabled]="totalLicence - assigneLicence === 0" [selectionLimit]="totalLicence - assigneLicence " (onChange)="onCheckAvailableLic($event)"
    formControlName="propID" [style]="{'width':'100%'}" [options]="allUnSignPropertyList" ></p-multiSelect>
    <!-- <input formControlName="title"  id="typeahead-basic" type="text" class="form-control" [(ngModel)]="propertyName" [ngbTypeahead]="search"/> -->

    <div *ngIf="submitted && f.propID.errors" class="invalid-feedback">
      <div *ngIf="f.propID.errors.required">This Field is required</div>
  </div>
  <div class="text-danger" *ngIf="propertyNameError">Property is not Valid</div>
    <div class="mt-4 text-center">
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">Cancel</button>
      <button type="submit" class="btn ml-3 btn-primary">Assign</button>
    </div>
    </form>
  </div>
</ng-template>
<div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
  <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" >{{  alertMsg}}</alert>
</div>


<ng-template #delConfirm>
  <div class="modal-body text-center">
    <p>Do you want to remove license from this property?</p>
    <button type="button" class="btn btn-default" (click)="onRemoveProperty(delPropID)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
