

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="">
        <div class="logo-group">
          <img src="assets/imgs/az-logo.png" class="az-logo mb-2" alt="adzapier logo" />
          <h4 class="tx-white">Trusted Data Privacy Solutions</h4>
        </div>
        <div class="inputs-key login-form bg-white">
        <form [formGroup]="ConfirmPasswordForm"  (ngSubmit)="onSubmit()">
          <h4>Set Password</h4>
            <div class="form-group">
                <input type="hidden" formControlName="token" class="form-control" value="{{userid}}"/>
                <!-- <div *ngIf="submitted && f.token.errors" class="invalid-feedback">

                </div> -->

            </div>
  
          <div class="form-group">
            <label for="password">New Password</label>
           <input toggle type="password" name="password" formControlName="password" class="form-control input-lg"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            placeholder="Enter your password"
            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.pattern">Enter Valid Password (Ex: Aa@2aa) and minimum 6 charcters </div>
             </div>
          </div>
  
          <div class="form-group">
            <div class="d-flex justify-content-between mg-b-5">
              <label class="mg-b-0-f tx-17" >Confirm New Password</label>
  
            </div>
            <input toggle type="password" formControlName="confirmpassword" class="form-control input-lg"
            [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
            placeholder="Enter your Confirm password"
               name="confirmpassword"
            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
        <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmpassword.errors.pattern">Enter Valid Confirm Password (Ex: Aa@2aa) and minimum 6 charcters </div>
            <div *ngIf="f.confirmpassword.errors.mustMatch">The password and confirmation password do not match</div>
        </div>
            <br>
            <div *ngIf="show" style="color:blue;">
              <p>Password updated Successfully</p>
            </div>
            <div style="color:red;">
              <p>{{errorMsg}}</p>
            </div>
  
  
          </div>
          <div class="text-center">
            <button [disabled]="loading" class="btn btn-brand-02 btn-block login-btn mb-5" type="submit">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              {{sign_in}} </button>
  
                        
          </div>
  
        </form>
      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-5 mr-0 float-right flotingdiv" *ngIf="isOpen">
    <alert *ngIf="isOpen" [type]="alertType" [dismissible]="dismissible" (onClosed)="onClosed(alertMsg)">{{
      alertMsg}}
    </alert>
  </div>
  
