.errordiv{
    width: 250px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
}

.errordiv p{
    text-transform: uppercase;
}

.errordiv h3{
    text-align: center;
}