.dropdown-width {
  width: 90% !important;
}

.cookie-allow {
  margin-bottom: 18px;
}

.card {
  margin-bottom: 30px;
}

// ::ng-deep .p-multiselect {
//   width: 100%;
//   padding: 2px;
//   position: static;
//   padding-left: 5px;
// }
// ::ng-deep  .p-accordion .p-accordion-header .p-accordion-header-link {
//   background: #ffffff !important;
// }
// .checkbox ::ng-deep {

// }
.white-back {
  background: #fff;
  padding-top: 25px;
  padding-bottom: 55px;
}

.lang-select {
  width: 50%;
}

.w-60 {
  width: 50% !important;
}

.p-accordion p-accordiontab .p-accordion-tab {
  margin-bottom: 13px;
  border-top: 1px solid lightgray;
}

.text-left {
  margin-left: 69px !important;
}

input[type=color] {
  border: 0px;
}

.tx-12 {
  font-size: 11px;
}

.tx-uppercase {
  text-transform: uppercase;
}

.tx-spacing-1 {
  letter-spacing: 0.5px;
}

.tx-medium {
  font-weight: 500;
}

.tx-color-03 {
  color: #8392a5;
}

.tx-middle {
  padding-top: 8px;
}


.banner-body {
  height: 445px;
  overflow: auto;
}

.banner-row {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 12px;
}

.popup-body {
  max-height: 520px;
  overflow: auto;
}

.divider-text {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #8392a5;
  font-size: 10px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
  letter-spacing: .5px;
  margin: 15px 0;
}

.divider-text::before {
  margin-right: 10px;
}


.tx-13 {
  font-size: 11px;
}

.border-right {
  border-right: 1px solid #dddddd;
}

.switch {
  position: relative;
  display: inline-block;
  // width: 52px;
  // height: 28px;
  width: 45px;
  height: 21px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

// .form-check-label::before,
// .form-check-label::after {
//     top: .8rem;
//     width: 1.25rem;
//     height: 1.25rem;
// }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}


.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-success {
  background-color: #10b759;
  border-color: #10b759;
  color: #fff;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.flotingdiv {
  position: fixed;
  bottom: 0;
  top: 84%;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.cursorpointer {
  cursor: pointer;
}

.colorblue {
  color: #00f;
}

.hide {
  display: none;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}

.colorpicker-wrapper input[type=color] {
  width: 42px;
  height: 36px;
  min-width: 30px;
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
}

.colorpicker-wrapper {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.vendors-list-table {
  max-height: 430px;
  overflow: auto;
}

.cell-width {
  width: 200px !important;
}

.cs-banner {
  font-size: 14px;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}


.global-text {
  margin-left: 30px !important;
}

.lang-title {
  margin: 0px;
}

.lang-table-box {
  height: 300px;
  overflow: auto;
}

.setting-icon {
  cursor: pointer;
  font-size: 30px;
  padding-top: 3px;
  color: #8392a5;
}


.border-gray {
  border: 1px solid #ccc;
}

.banner-config-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  padding: 10px;
  /* color: #333; */
  font-weight: 600;
  background: #fbfbfb;
  margin: 0 -15px;
}

.banner-config-title-display {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
  padding: 10px;
  /* color: #333; */
  font-weight: 600;
  background: #fbfbfb;
  margin: 0 -15px;
}

.banner-desc{
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0 -15px;

}

.common-action {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: baseline;
}

.hide-banner-config {
  display: none;
}

.showbanner-config {
  display: block;
}

.show-controls {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.hide-controls {
  display: none;
}

.regulation-div .form-group label {
  margin-bottom: 0;
}


.feather-16 {
  width: 16px;
  height: 16px;
  margin: 0 15px 0 0;
}

h6 ::ng-deep .tooltip {
  top: 6px !important;
}

h6 ::ng-deep .tooltip .arrow {
  display: block;
}

h6 ::ng-deep .tooltip-inner {
  font-size: 11px;
  padding: 2px 4px;
  width: 220px;
}

h6 ::ng-deep .tooltip-arrow .arrow {
  display: block;
}

.manage-vendor-btn {
  margin-top: 20px;
  margin-left: 4px;
}

.border-divider {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.config-pd {
  padding-bottom: 37px !important;
}


.config-group {
  margin-left: 0px;
  margin-right: 0px;
}
.config-group{
  margin-left: 0px;
  margin-right: 0px;
}
.mobile-action{
  display: none;
}

.column-alignleft{
  flex-direction: row;
  text-align: left;
}

.tl-heading {
  text-align: left;
  margin-bottom: 10px;
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
}

.height-relative {
  height: 100%;
  position: relative;
}

.height-100 {
  height: 100%;
}

.config-pd .form-group select, .show-controls select, .border-gray select, .card-header select {
  background:url('../../../../assets/imgs/down-arrow.svg') no-repeat;
  background-position: 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@media only screen and (max-width: 600px) {
  .bredcrub-row {
    margin-left: 0px !important;
  }
  .m-p-0 {
    padding: 0px !important;
  }
  .m-m-b-15 {
    margin-bottom: 15px
  }
  .m-m-t-12 {
    margin-top: 12px;
  }
  .mobile-action{
    display: block;
    float: right;
    margin-top: -33px;
  }
  #dropdown-basic{
    left: -113px !important;
    padding: 7px !important;
  }
}

@media screen and (max-width:1024px) {
  .column-alignleft {
    flex-direction: row;
  }
  .white-back {
    padding-bottom: 75px;
  }
}


@media screen and (max-width:768px) {
  .column-alignleft {
    flex-direction: column;
  }
  .switch {
    width: 40px;
  }
  input:checked + .slider:before {
    transform: translateX(18px);
  }

  .show-controls {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
  }

  .btn-grr {
    width: auto !important;
  }
}

