<!--<app-mysql-form></app-mysql-form>-->


<div class="card">
  <div class="card-header">
    <h4 class="float-left pt-2">Connections List</h4>
    <button class="btn btn-primary float-right" (click)="openModal(template)"><i class="fas fa-plus"></i> Create Connection</button>
  </div>
  <div class="card-body">
    <p-table [columns]="cols" [value]="credList" [scrollable]="true" [rows]="100" scrollHeight="450px"
             [virtualScroll]="true" [virtualRowHeight]="40" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>ID</th>
          <th>Connection Name</th>
          <th>Description</th>
          <th>Connector Type</th>
          <th>System Type</th>
          <th>Created</th>
          <th>Test Connection</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="height:40px">
          <td>{{rowData.id}}</td>
          <td>{{rowData.cred_name}}</td>
          <td>{{rowData.description}}</td>
          <td>{{rowData.connector_type}}</td>
          <td>{{onFindSystemName(rowData.system_id)}}</td>
          <td>{{rowData.created_at | date}}</td>
          <td>
            <button type="button" (click)="onTestConnection(rowData)" class="btn btn-secondary btn-sm">
              <span *ngIf="isTesting && currentScanId === rowData.id; else test"><div  class="spinner-border"></div> Testing... </span>
              <ng-template #test><i class="fas fa-play pr-2"></i> Test </ng-template>

            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:40px">
          <td *ngFor="let col of columns">
            <div class="loading-text"></div>
            <p-skeleton [ngStyle]="{'width': '100%'}"></p-skeleton>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>








<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title text-center margin-auto">Create Connection</h4>
    <button type="button" class="close pull-right ml-0" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="step-1" *ngIf="step === 1">
      <div class="list-group">
        <div class="row">
            <ng-container *ngFor="let obj of systemList">
              <div class="col-md-4 mb-3">
              <a href="javascript:;" (click)="onSelectSystem(obj, 2)" class="list-group-item list-group-item-action">
                <span *ngIf="obj.name ==='mysql'"><img style="width:  90px" src="assets/imgs/db/mysql.png" alt="mysql" /></span>
                <span *ngIf="obj.name ==='mailchimp'"><img style="width:  180px" src="assets/imgs/db/mailchimp.png" alt="mailchimp" /></span>
                <span *ngIf="obj.name ==='postgresql'"><img style="width:  210px; height: 47px" src="assets/imgs/db/postgresql.svg" alt="postgresql" /></span>
                <span *ngIf="obj.name ==='http'"><img style="width:  210px; height: 47px" src="assets/imgs/db/http.png" alt="http" /></span>
<!--                <span *ngIf="obj.name !=='mailchimp'" class="tx-18 pl-3">{{obj.name}} </span>-->
              </a>
              </div>
            </ng-container>
          </div>


      </div>
    </div>
    <ng-container *ngIf="step === 2">
      <h6><span class="back-to-list-btn" (click)="step = 1"><i class="fas fa-chevron-left"></i>  Back To System </span></h6>
      <app-mysql-form (refreshConnectionList)="onRefreshList()" [systemID]="currentSystem.id" [systemName]="currentSystem.name" ></app-mysql-form>
    </ng-container>
  </div>
</ng-template>
<div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
  <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" [dismissible]="dismissible"
      ><span [innerHTML]="alertMsg"></span></alert>
</div>
