<!--<app-mysql-form></app-mysql-form>-->


<div class="card">
  <div class="card-header">
    <h4 class="float-left pt-2">Connections List</h4>
    <button class="btn btn-primary float-right" (click)="openModal(template)"><i class="fas fa-plus"></i> Create Connection</button>
  </div>
  <div class="card-body" [ngStyle]="{display: credList.length > 0 && !skLoading ? 'block': 'none'}">
    <p-table   [value]="credList"
               [lazy]="true" [responsive]="true"
               [totalRecords]="credCount"
               [resizableColumns]="true"
               columnResizeMode="expand"
               [rowsPerPageOptions]="[10,20,30]"
               [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
               (onLazyLoad)="loadLazyData($event)">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>ID</th>
          <th>Connection Name</th>
          <th>Description</th>
          <th>Connector Type</th>
          <th>System Type</th>
          <th>Created</th>
          <th>Test Connection</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="height:40px">
          <td>{{rowData.id}}</td>
          <td>{{rowData.cred_name}}</td>
          <td>{{rowData.description}}</td>
          <td>{{rowData.connector_type}}</td>
          <td>{{onFindSystemName(rowData.system_id)}}</td>
          <td>{{rowData.created_at | date}}</td>
          <td>
            <button type="button" (click)="onTestConnection(rowData, rowData.system_id)" class="btn btn-secondary btn-sm" style="font-size: 12px">
              <span *ngIf="isTesting && currentScanId === rowData.id; else test"><div  class="spinner-border"></div> Testing... </span>
              <ng-template #test><i class="fas fa-play pr-2"></i> Test </ng-template>

            </button>
          </td>
          <td><span class="text-success pr-2" (click)="openModalUpdateConnection(updateConnection, rowData)"><i class="fas fa-edit cursorpointer"></i></span>
            <span class="text-danger"><i class="fas fa-trash-alt cursorpointer"></i></span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:40px">
          <td *ngFor="let col of columns">
            <div class="loading-text"></div>
            <p-skeleton [ngStyle]="{'width': '100%'}"></p-skeleton>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="credList.length === 0 && !skLoading" class="card-body">
    <div class="alert-info alert text-center"> <i class="fas fa-plug pr-2"></i> No Connection Available </div>
  </div>

  <div class="card-body" *ngIf="skLoading">
    <div class="row mb-2">
      <div class="col-md-12">
      <ngx-skeleton-loader [theme]="{width: '100%', height: '70px'}"></ngx-skeleton-loader>
      </div>
    </div>
    <div class="row mb-2" *ngFor="let obj of skLoadingArray">
      <div class="col-md-2">
        <ngx-skeleton-loader   [theme]="{width: '150px'}"></ngx-skeleton-loader>
      </div>
      <div class="col-md-3">
        <ngx-skeleton-loader   [theme]="{width: '200px'}"></ngx-skeleton-loader>
      </div>
      <div class="col-md-3">
        <ngx-skeleton-loader   [theme]="{width: '200px'}"></ngx-skeleton-loader>
      </div>
      <div class="col-md-2">
        <ngx-skeleton-loader   [theme]="{width: '150px'}"></ngx-skeleton-loader>
      </div>
      <div class="col-md-2">
        <ngx-skeleton-loader   [theme]="{width: '150px'}"></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>








<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title text-center margin-auto">Create Connection</h4>
    <button type="button" class="close pull-right ml-0" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="step-1" *ngIf="step === 1">
      <div class="list-group">
        <div class="row">
            <ng-container *ngFor="let obj of systemList">
              <div class="col-md-4 mb-3">
              <a href="javascript:;" (click)="onSelectSystem(obj, 2)" class="list-group-item list-group-item-action">
                <span *ngIf="obj.name ==='mysql'"><img style="width:  90px" src="assets/imgs/db/mysql.png" alt="mysql" /></span>
                <span *ngIf="obj.name ==='mailchimp'"><img style="width:  180px" src="assets/imgs/db/mailchimp.png" alt="mailchimp" /></span>
                <span *ngIf="obj.name ==='postgresql'"><img style="width:  210px; height: 47px" src="assets/imgs/db/postgresql.svg" alt="postgresql" /></span>
                <span *ngIf="obj.name ==='http'"><img style="width:  210px; height: 47px" src="assets/imgs/db/http.png" alt="http" /></span>
<!--                <span *ngIf="obj.name !=='mailchimp'" class="tx-18 pl-3">{{obj.name}} </span>-->
              </a>
              </div>
            </ng-container>
          </div>


      </div>
    </div>
    <ng-container *ngIf="step === 2">
      <h6><span class="back-to-list-btn" (click)="step = 1"><i class="fas fa-chevron-left"></i>  Back To System </span></h6>
      <app-mysql-form (refreshConnectionList)="onRefreshList()" [systemID]="currentSystem.id" [systemName]="currentSystem.name" ></app-mysql-form>
    </ng-container>
  </div>
</ng-template>



<ng-template #updateConnection>
  <div class="modal-header">
    <h4 class="modal-title text-center margin-auto">Update Connection</h4>
    <button type="button" class="close pull-right ml-0" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <app-update-connection-form (refreshConnectionList)="onRefreshList()" [updateConnectionData]="updateConnectionData" [systemName]="updateSystemName" ></app-update-connection-form>
  </div>
</ng-template>




<ng-template #mailChimpConnection>
  <div class="modal-header">
    <h4 class="modal-title text-center margin-auto">Test MailChimp Connection</h4>
    <button type="button" class="close pull-right ml-0" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="mailChimpForm" (ngSubmit)="onTestMailChimp()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" formControlName="email"  class="form-control" id="exampleInputEmail1"
           [ngClass]="{'is-invalid': submitted && f.email.errors}"  aria-describedby="emailHelp" placeholder="Enter email">

      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email Address is Required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-secondary">Cancel</button>
      <button type="button" (click)="onTestMailChimp()" class="ml-2 btn btn-primary">Submit</button>
    </div>
    </form>
  </div>
</ng-template>
<div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
  <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" [dismissible]="dismissible"
      ><span [innerHTML]="alertMsg"></span></alert>
</div>
