.cc-banner-preview {
  background-image: url('../../../../../assets/imgs/banner-back.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner-shadow{
  position: relative;
  top: 30px;
  width: 600px;
  margin: auto;
}
.purpose-btn {
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}
.desc {
  font-size: 9px;
}

.no-gutter {
  margin-right: 0 !important;
  margin-left: 0 !important;
}


.switch {
  position: relative;
  display: inline-block;
  // width: 52px;
  // height: 28px;
  width: 45px;
    height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 0px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}



input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.purpose-text {
  font-size: 12px;
  font-weight: 600;
}
.purpose-list{
  max-height: 250px;
  overflow: auto;
}
.purpose-div{
  margin-right: 0px;
    margin-left: 0px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}


*::-webkit-scrollbar {
  width: 12px;
  min-height: 10px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  min-height: 60px;
}
*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 20px;
  min-height: 60px;
  border: 3px solid #f1f1f1;
}

.purpose-desc {
  border-top: 1px solid lightgray;
    padding-top: 13px;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
  box-shadow: none !important;
}
.p-tabview .p-tabview-nav {
  align-items: center !important;
  justify-content: center !important;
  padding-left: 0% !important;

}
@media only screen and (max-width: 600px) {
#onetrust-preference-sdk{
  width: 371px;
  left: -12px;
}
  .gdpr-btn-padding{
    padding: 0 !important;
  }
  .mobile-btn{
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: 93% !important;
  }
}

@media only screen and (min-width: 1024px) {
.banner-shadow{
  width: auto;
}
}