.center {text-align:center;width:100%;}
.card card-title{
    margin-top:100px;
}
.fas fa-balance-scale {
    margin-top:40px;
}
.margin-15{
    margin-top: 15px;
}
.margin-30{
    margin-top: 30px;
}

