@import "../../scss/variables";

.center {text-align:center;width:100%;}
.card card-title{
    margin-top:100px;
}
.fas fa-balance-scale {
    margin-top:40px;
}
.margin-15{
    margin-top: 15px;
}
.margin-30{
    margin-top: 30px;
}

.text-divider{margin: 1em 0; line-height: 0; text-align: center;}
.text-divider span{background-color: #f5f5f5; padding: 0.5em;opacity: 0.6;font-weight: bold;}
.text-divider:before{ content: " "; display: block; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #f7f7f7;}

.hidetooltip {
    display: none;
}

.temp-blue {
    color: $bg-templ-blue-primary;
}

.bg-templ-blue {
    background-color: $bg-templ-blue-primary;
    border: 0;
}


.dashboard-div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
}

.dashboard-div .card-body {
    box-sizing:border-box;
    border: 1px solid #cdcfd7 !important;
    box-shadow: -1px -1px 20px #afafaf !important;
}

.dashboard-div ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dashboard-div ul li {
    padding: 0;
    // margin: 0 0 36px 0;
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content:space-between;
    // width: 300px;
}


.dashboard-no-license-div {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
}
  

.hide-dashboard-div {
    display: none !important;
    visibility: hidden;
}

.add-bottom-margin {
    margin: 0 0 36px 0;
}

.remove-bottom-margin {
    margin: 0 0 36px 0;
}