<div class="container-fluid">
  <div class="row mt-2">
      <div class="col-sm-1">
        <i class="pi pi-desktop desk_img" style="font-size: 3.2rem;opacity: 0.5;"></i>
      </div>
      <div class="col-sm-11">
        <div class=" ml-1 mt-3 d-flex" style="justify-content: space-between;">
          <h2 style="opacity: 0.8;">My website</h2>
          <button type="button" class="btn btn-primary pbut">Edit</button>
        </div>

      <hr class="mt-0">
        <div class="row">
          <div class="col-sm-7 d-flex">
           <div>
               <input type="radio" name="Ultra"><b class="ml-3" style="opacity: 0.6;">Ultra</b>
           </div>
          <h6 class="ml-4" style="opacity: 0.6;">Type: Site</h6>
          <h6 class="ml-4" style="opacity: 0.6;">Owner: Adzapier</h6>
          </div>

          <div class="col-sm-5 d-flex documents" >
              <h6 class="ml-5" style="opacity: 0.6;" >Document Languages:</h6>
              <div class="d-flex">
                <div class="droped">
                <select class="sel" name="languages" id="cars">
                  <option value="volvo">English</option>
                  <option value="saab">French</option>
                  <option value="mercedes">german</option>
                  <option value="audi">Spanish</option>
                </select>
                </div> 
              <a href="#"><i class="pi pi-trash" style="font-size: 1.1rem"></i></a>
              </div>
          </div>
        </div>
  </div>
     
</div>

    

    <div style="margin-top: 100px;">
        <h4 class="headings mb-4">CONSENT SOLUTION DASHBOARD</h4>
       

     
      
<tabset #tabset >
<tab customClass="customClass" 
  heading="CONSENTS">
  <div style="overflow:auto;height:50vh;margin-top: 20px;">
  <table class="table borderless">
      <thead>
          <tr>
              <th><b>Creation Date</b></th>
              <th><b>Subject</b></th>
              <th><b>Source</b></th>
              <th></th>
          </tr>
      </thead>
      <tbody style="overflow-x:scroll;height:50vh;margin-top: 20px;">
          <tr *ngFor="let consen of data" >
              <td>{{consen.creation}}</td>
              <td>{{consen.subject}}</td>
              <td>{{consen.source}}</td>
              <td style="text-align-last:right;">
                  <a href="#"><i class="pi pi-user mr-3" style="font-size: 1.1rem;"></i></a>
                  <a href="#"><i class="pi pi-eye" style="font-size: 1.1rem"></i></a>
              </td>
          </tr>
      </tbody>
  </table>
  </div>

</tab>

<tab class="tbs" customClass="customClass"
  heading="SUBJECTS">
  <div style="overflow:auto;height:50vh;margin-top: 20px;">
  <table class="table borderless" >
      <thead>
          <tr>
              <th><b>Creation Date</b></th>
              <th><b>Subject</b></th>
              <th style="text-align-last:center;"><b>Verified</b></th>
              <th><b>Preferences</b></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let consen of data">
              <td>{{consen.creation}}</td>
              <td>{{consen.subject}}</td>
              <td style="text-align-last:center;"><a href="#"><i class="pi pi-times" style="font-size: 1.1rem; color: black;"></i></a>
              </td>
              <td><button pButton type="button" label="newsletter" style="margin-right: 5px; height: 30px;"></button>
                  <button pButton type="button" style="height: 30px;width:100px;" label="generic"></button>
              </td>
              <td  style="text-align-last:right;">
                  <a href="#"><i class="pi pi-eye" style="font-size: 1.1rem"></i></a>
              </td>
          </tr>
      </tbody>
  </table>
  </div>
 
</tab>

    <tab class="tbs" customClass="customClass"
  heading="LEGAL NOTICES">
  <div style="overflow:auto;height:50vh;margin-top: 20px;">
  <table class="table borderless" >
      <thead>
          <tr>
              <th><b>Creation Date</b></th>
              <th><b>Identifier</b></th>
              <th><b>Version</b></th>
              <th></th>
             
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let consen of data">
              <td>{{consen.creation}}</td>
              <td>{{consen.identifier}}</td>
              <td>{{consen.version}}
              </td>
              <td  style="text-align-last:right;">
                  <a href="#"><i class="pi pi-eye" style="font-size: 1.1rem"></i></a>
              </td>
          </tr>
      </tbody>
  </table>
</div>

</tab>


  
</tabset>
    </div>
    


</div>


