<ng-template #editdetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Consent Details </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group d-flex">
        <div>
        <label for="first_name">Firstname</label>
        <div class="input-group">
          <input value="{{consentDatafirstname}}"  class="form-control">
        </div>
      </div>
      <div class="ml-5">
        <label for="last_name" >Lastname</label>
        <div class="input-group">
          <input value="{{consentDatalastname}}" class="form-control">
        </div>
      </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input value="{{consentDataemail}}" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="data_source">Data Source</label>
        <div class="input-group">
          <input value="{{consentDatads}}" class="form-control">
        </div>
      </div>
      <div class="form-group d-flex">
        <div>
        <label for="country">Country</label>
        <div class="input-group">
          <input value="{{consentDatacountry}}" class="form-control">
        </div>
      </div>
      <div class="ml-5">
        <label for="owner_id">Owner Id</label>
        <div class="input-group">
          <input value="{{consentDataowner}}" class="form-control" disabled>
        </div>
      </div>
      </div>
      <div class="form-group">
        <label for="ip_address">Ip Address</label>
        <div class="input-group">
          <input value="{{consentDataip}}" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div style="text-align: right;">
      <button type="button" class="btn btn-primary btn-sm">Update</button> 
    </div>
    <button type="button" class="btn btn-danger btn-sm pull-right "  (click)="modalRef.hide()">Cancel</button>
  </div>
</ng-template>


<div class="ml-2 bb-crum d-sm-flex align-items-center justify-content-between">
  <div>
    <nav aria-label="breadcrumb" style="margin-left: 2px">
      <ol class="breadcrumb breadcrumb-style1 mg-b-10">
        <li class="breadcrumb-item">Privacy</li>
        <li class="breadcrumb-item"><a routerLink="/consent-solutions/consent-records">Consent Solution</a></li>
        <li class="breadcrumb-item"><a routerLink="/consent-solutions/consent-records"> Consent Records</a></li>
        <li class="breadcrumb-item active">Consent Details</li>

      </ol>

    </nav>
  </div>

</div>
<div class="container-fluid">
<div class="row row-sm">
  <div class="col-lg-6 col-xl-12 ">
      <div class="card w-100">
          <div class="card-header  d-flex align-items-center justify-content-between pd-13">
              <span class="tx-12 tx-color-03 mg-b-0">
                  <h6 class="mg-b-0">Consent Details</h6>
                  Current Status of Consent
              </span>
              <button type="button" (click)="editDetails(editdetails,consentData)"  class="btn btn-primary btn-sm">Edit</button>
          </div>
          <div class="card-body pd-10">
              <div class="row row-sm pd-t-5">
                  <!-- <ngx-skeleton-loader  *ngIf="skeletonLoading && respCDID"   count="3"></ngx-skeleton-loader> -->

                  <div class="col-sm">
                      <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">Consent
                          ID</label>

                      <p class="mg-b-0" style="font-size:small;">{{consentData.id}}</p>
                  </div>
                  <div class="col-sm">
                      <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">First Name

                      </label>

                      <p class="mg-b-0" style="font-size:small;">{{consentData.first_name}}</p>
                  </div>

                  <div class="col-sm">
                      <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">Last Name

                      </label>

                      <p class="mg-b-0" style="font-size:small;">{{consentData.last_name}}</p>
                  </div>

                  <div class="col-sm">
                    <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">Email

                    </label>

                    <p class="mg-b-0" style="font-size:small;">{{consentData.email}}</p>
                </div>


                  <div class="col-sm ">
                      <label
                          class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">Data Source</label>

                      <p class="mg-b-0" style="font-size:small;">{{consentData.data_source}}</p>
                  </div>
                  <div class="col-sm ">
                    <label
                        class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">Country</label>

                    <p class="mg-b-0" style="font-size:small;">{{consentData.country}}</p>
                </div>
              </div>
              <div class="row row-sm pd-t-10 bd-t">
                  <div class="col-sm ">
                    <label
                        class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">Owner ID</label>

                    <p class="mg-b-0" style="font-size:small;">{{consentData.owner_id}}</p>
                </div>
                  <div class="col-sm">
                      <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">IP Address

                      </label>

                      <p class="mg-b-0" style="font-size:small;">{{consentData.ip_address}}</p>
                  </div>

                  <div class="col-sm">
                                          <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">Created At

                      </label>

                      <p class="mg-b-0" style="font-size:small;">{{consentData.created_at | date}}</p>
                  </div>

                  <div class="col-sm">
                    <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">Updated At

                    </label>

                    <p class="mg-b-0" style="font-size:small;">{{consentData.updated_at | date}}</p>
                </div>



                  <div class="col-sm">
                    <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">Preference

                    </label>

                      <div class="d-flex mg-b-0" style="justify-content:start;">
                      <label style="font-size: small;">Newsletter </label>
                      <!-- <span  class="product-badge ml-2" style="height: 30px;"
                             [ngClass]="{'status-instock': consentData.preferences.newsletter, 'status-outofstock' : !consentData.preferences.newsletter }" >{{consentData.preferences.newsletter}}</span> -->
                             <ng-container *ngIf="consentData.preferences.newsletter;else elseblock" >
                              <i class="pi pi-check ml-2" style="font-size: 1.0rem; color:#5cb85c;"></i>
                            </ng-container>
                            <ng-template #elseblock>
                              <i class="pi pi-times ml-2" style="font-size: 1.0rem; color: #d9534f;"></i>
                            </ng-template>
                  </div>
                  </div>

                  <div class="col-sm">
                    <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-y-0">Preference

                    </label>

                      <div class="d-flex mg-b-0" style="justify-content:start;">
                      <label style="font-size: small;">Privacy Policy</label>
                      <!-- <span  class="product-badge ml-2" style="height: 30px;"
                             [ngClass]="{'status-instock': consentData.preferences.newsletter, 'status-outofstock' : !consentData.preferences.newsletter }" >{{consentData.preferences.newsletter}}</span> -->
                             <ng-container *ngIf="consentData.preferences.privacy_policy;else elseblock" >
                              <i class="pi pi-check ml-2" style="font-size: 1.0rem; color:#5cb85c;"></i>
                            </ng-container>
                            <ng-template #elseblock>
                              <i class="pi pi-times ml-2" style="font-size: 1.0rem; color: #d9534f;"></i>
                            </ng-template>
                  </div>
                  </div>



                      <!-- <div class="d-flex mg-b-0" style="justify-content:start;">
                      <label style="font-size:small;">Privacy Policy</label> -->
                      <!-- <span  class="product-badge ml-2" style="height: 30px;"
                             [ngClass]="{'status-instock': consentData.preferences.privacy_policy, 'status-outofstock' : !consentData.preferences.privacy_policy }" >{{consentData.preferences.privacy_policy}}</span> -->
                             <!-- <ng-container *ngIf="consentData.preferences.privacy_policy;else elseBlock" >
                              <i class="pi pi-check ml-2" style="font-size: 1.0rem; color:#5cb85c;"></i>
                            </ng-container>
                            <ng-template #elseBlock><i class="pi pi-times ml-2" style="font-size: 1.0rem; color: #d9534f;"></i>
                            </ng-template>
                  </div> -->









              </div>
              </div>
              </div>
              </div>
              </div>





<!-- <div class="">
  <div class="card-body mb-3">
    <h4 class="mb-4 "><span class="head-iab mb-4">Consent Details</span></h4>


    <div class="row mt-3">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-4"><h6>Consent ID</h6>
          </div>
          <div class="col-md-8"><p>{{consentData.id}}</p></div>
        </div>
        <div class="row">
          <div class="col-md-4"><h6>First Name</h6>
          </div>
          <div class="col-md-8"><p>{{consentData.first_name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"><h6>Last Name</h6></div>
          <div class="col-md-8"><p>{{consentData.last_name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"><h6>Email</h6></div>
          <div class="col-md-8"><p>
           {{consentData.email}}
          </p></div>
        </div>
        <div class="row">
          <div class="col-md-4"><h6>Data Source</h6></div>
          <div class="col-md-8">
            <p>{{consentData.data_source}}</p>
          </div>
        </div>
        <div  class="row" >
          <div  class="col-md-4" ><h6 >Owner ID</h6>
          </div>
          <div  class="col-md-8 " ><p >
            {{consentData.owner_id}}</p></div>
        </div>
      </div>


      <div  class="col-md-7" >
        <div  class="row" >
          <div  class="col-md-3" ><h6 >IP Address</h6></div>
          <div  class="col-md-9" ><p >{{consentData.ip_address}}</p></div>
        </div>
        <div  class="row" >
          <div  class="col-md-3" ><h6 >Owner ID</h6>
          </div>
          <div  class="col-md-9" ><p >
            {{consentData.owner_id}}</p></div>
        </div>
        <div  class="row" >
          <div  class="col-md-3" ><h6 >Created Date</h6>
          </div>
          <div  class="col-md-9" ><p >{{consentData.created_at}}</p>
          </div>
        </div>
        <div class="divider-text text-line mt-0">Preferences</div>

                <div  class="row" >
          <div  class="col-md-3" ><h6 >Newsletter</h6></div>
          <div  class="col-md-9" ><p >
            <span  class="product-badge "
                   [ngClass]="{'status-instock': consentData.preferences.newsletter, 'status-outofstock' : !consentData.preferences.newsletter }" >{{consentData.preferences.newsletter}}</span>
          </p></div>
        </div>
        <div  class="row" >
          <div  class="col-md-3" ><h6 >Privacy Policy</h6></div>
          <div  class="col-md-9" ><p >
            <span  class="product-badge "
                   [ngClass]="{'status-instock': consentData.preferences.privacy_policy, 'status-outofstock' : !consentData.preferences.privacy_policy }" >{{consentData.preferences.privacy_policy}}</span>
          </p></div>
        </div>
      </div>
    </div>
  </div> -->
<div class="card mt-3">
  <div class="card-body">
  <p-tabView customClass="customClass">
    <p-tabPanel header="Proofs" class="hello">
      <p-table [value]="consentData.proofs"
                 [scrollable]="true" scrollHeight="185px"
                 styleClass="p-datatable-sm">
                 <!-- <ng-template pTemplate="caption">
                  Proofs
              </ng-template> -->
          <ng-template pTemplate="header">
            <tr style="text-align:center;">
              <th>Proof</th>
              <th>Form</th>
              <th>Created Date</th>
              <!-- <th style="width:40px"></th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-proofs>
            <tr >
              <td class="tabledata">{{proofs.content}}</td>
              <td class="tabledata"><i (click)="editUser(edit, proofs)" class="pi pi-eye" style="font-size: 0.9rem"></i></td>
              <!-- <td>{{proofs.form}}</td> -->
              <td class="tabledata">{{proofs.created_at | date}}</td>
              <!-- <td style="text-align-last:right;width:40px"> <a href="#"><i class="pi pi-eye" style="font-size: 0.9rem"></i></a></td> -->
            </tr>
          </ng-template>
          </p-table>
    </p-tabPanel>
    <p-tabPanel header="Legal Notice" class="customs">


      <p-table [value]="consentData.legal_notices"
      [scrollable]="true" scrollHeight="185px"
      styleClass="p-datatable-sm ">
      <!-- <ng-template pTemplate="caption">
       Legal Notice
   </ng-template> -->
<ng-template pTemplate="header">
 <tr style="text-align:center;">
   <th >Version</th>
   <th >Identifier</th>
   <th >Created Date</th>
   <th style="width:40px"></th>
 </tr>
</ng-template>
<ng-template pTemplate="body" let-legalRecord>
 <tr>
   <td class="tabledatas">{{legalRecord.version}}</td>
   <td class="tabledatas">{{legalRecord.identifier}}</td>
   <td class="tabledatas">{{legalRecord.created_at | date}}</td>
   <td class="tabledatas" style="text-align-last:right;width:40px;"><a href="#"><i class="pi pi-eye" style="font-size: 0.9rem;"></i></a></td>
 </tr>
</ng-template>
</p-table>


    </p-tabPanel>
</p-tabView>
</div>

</div>
</div>



<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Form Consent : </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {{proofFormConsent}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link pull-right"  (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>

  <!-- <tabset #tabset>
    <tab customClass="customClass"
      heading="Proofs">
        <p-table [value]="consentData.proofs"
                 [scrollable]="true" scrollHeight="185px"
                 styleClass="p-datatable-sm"> -->
                 <!-- <ng-template pTemplate="caption">
                  Proofs
              </ng-template> -->
          <!-- <ng-template pTemplate="header">
            <tr style="text-align:center;">
              <th >Proof</th>
              <th >Form</th>
              <th >Created Date</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-proofs>
            <tr>
              <td>{{proofs.content}}</td>
              <td>{{proofs.form}}</td>
              <td>{{proofs.created_at | date}}</td>
              <td style="text-align-last:right;"> <a href="#"><i class="pi pi-eye" style="font-size: 0.9rem"></i></a></td>
            </tr>
          </ng-template>
        </p-table>
        </tab>

        <tab class="tbs" customClass="customClass"
        heading="Legal Notice">
        <p-table [value]="consentData.legal_notices"
                 [scrollable]="true" scrollHeight="185px"
                 styleClass="p-datatable-sm "> -->
                 <!-- <ng-template pTemplate="caption">
                  Legal Notice
              </ng-template> -->
          <!-- <ng-template pTemplate="header">
            <tr style="text-align:center;">
              <th >Identifier</th>
              <th >Version</th>
              <th >Created Date</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-legalRecord>
            <tr>
              <td >{{legalRecord.version}}</td>
              <td >{{legalRecord.version}}</td>
              <td>{{legalRecord.created_at | date}}</td>
              <td style="text-align-last:right;"><a href="#"><i class="pi pi-eye" style="font-size: 0.9rem;"></i></a></td>
            </tr>
          </ng-template>
        </p-table>

    </tab>
    </tabset> -->


