$guidancediv-bgcolor: #385a8e;
$guidancediv-bgcolor-two: #385a8e;


.quickclosebtn {
  float: right;
  top: -29px;
  position: absolute;
  z-index: 1200;
  line-height: 23px;
  height: 26px;
  width: 27px;
  font-size: 24px;
  background: #ffffff;
  border: 1px solid #1b365d;
  right: -1px;
  border-radius: 26px;
}

.quickclosebtn:focus {
  outline: none;
}

.quickstart-wrapper {
    width: 300px;
    border: 1px solid #ccc;
    background: #ffffff;
    position: fixed;
    bottom: 40px;
    flex-direction: column;
    display: flex;
    right: 0;
    
}

.quickstart-btn {
    z-index: 1200;
    right: 10px;
    position: fixed;
    bottom: 5px;
    top: auto;
}

// .quickstart-wrapper > .panel-group > .panel  > .panel-heading{
//     padding: 0;
// }

// .quickstart-wrapper > .panel-group > .panel > .card-header  {
//     padding: 0 !important;
//     background: #ccc;
// }

.customClass {
    padding: 0 !important;
    background: #770 !important;
}

.checkedlink {
    color:green;
}

.uncheckedlink {
    color:gray
}

.guidencediv{
  width: 250px;
  border: 1px solid $guidancediv-bgcolor;
  border-radius: 6px;
  box-shadow: 0px 0px 7px #000000;
  position: fixed;
  background-color: $guidancediv-bgcolor;
  box-sizing: content-box;
  /* height: 70px; */
  padding: 10px;
  top: 20px;
  color: #ffffff;
  z-index: 1200;
}

accordion-group {
    ::ng-deep {
      div {
        & > ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
        }  li {
           padding: 0;
           margin: 0;
        }  a {
          display: flex;
          flex-direction: row;
          padding: 2px 0;
        }
        &>div.panel-heading.card-header.panel-enabled {
            padding: 0;
            background-color: rgba(255, 255, 255, 0.15); // change the background of every accordion heading
  
          .btn-link {
            color: rgb(6, 10, 9); // change the accordion heading buttons style
          }
        }
  
        &>div.panel-collapse.collapse.in.show>div {
          background-color: hsla(210, 10%, 83%, 0.10); // change the expanded content style
        }

        
      }
    }
}