.nav-tabs .nav-link.active {
    background-color: #ddd;
}

.nav-tabs .nav-item + .nav-item {
    margin-left: 0 !important;
}

.nav-tabs .nav-item  > a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #ddd;
    position: absolute;
    top: 0;
    margin-top: 0;
    margin-left: 0;
    left: 100%;
    z-index: 1;
}

.nav-tabs .nav-item > a:after {
    border-left: 30px solid #5cb85c !important;
}

// .sw-theme-arrows > ul.step-anchor > li.active > a {
//     border-color: #b1dfbb !important;
//     color: #fff !important;
//     background: #b1dfbb !important;
// }


.nav-tabs .nav-item.active > a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #8ff;
    position: absolute;
    top: 0;
    margin-top: 0;
    margin-left: 0;
    left: 100%;
    z-index: 1;
}

/*progress arrow tab css*/
/* Global CSS, you probably don't need that */

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.container {
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
}

.wrapper {
	display: inline;
	/*height: 400px;*/
	vertical-align: middle;
}

.pull-right {
	float: right;
}

a, a:active {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #999;
}

/* Breadcrups CSS */

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 8px 10px 7px 30px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: #d9e3f7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #d9e3f7;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #23468c;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #23468c;	
}
/*progress arrow tab css end*/

.active-tab {
    display: flex;
}

.deactive-tab {
    display: none;
}

.workflowcontainer .card .card-body {
	padding: 0;
}

.small-btn {
	border-radius: 10px;
    height: 18px;
	padding: 0px 3px;
	margin: 0px 5px;
}

.stages {
display: inline-flex;
flex-direction: column;
}

.stages ul {
	margin: 0;
	padding: 0;
}

.displayflex {
	display: flex;
	flex-direction: row;
}

.stages ul li {
	display: inline-flex;
	flex-direction: row;
}

.wrapper #tab-content {
	padding: 10px 0 0 0;
}

.red {
	color: red;
}

.workflowname {
	border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 11px;
    color: #596882;
    text-transform: uppercase;
    background: aliceblue;
    margin: 3px 10px;
    padding: 5px 10px 3px 10px;
}

.txt-caps {
	text-transform: capitalize;
}

.disabled {
    cursor: not-allowed;
}

.alert-success {
	background-color: #10b759;
    border-color: #10b759;
    color: #fff;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.flotingdiv{
	position: fixed;
	bottom: 0;
	top: 84%;
	right:0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
}

.hide {
	display: none;
}

.hideEditSave-btn {
	display: none !important;
}

.loader-margin {
	margin:4px auto 0 auto;
	width: auto;
	padding: 4px 4px 0 4px;
	height: auto;	
}

.quilleditor-invalid {
    border: 1px solid #f00;
    border-radius: 5px;
}

.nodatafound{
	top: 8px;
    position: relative;
    margin: 0 20px;
}

.showerror {
	display: block;
}

.quill-disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.ql-disabled {
	background-color: #ccc !important;
}