<div class="container mb-0">
    <div class="mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                <li class="breadcrumb-item"> Privacy</li>
                <li class="breadcrumb-item"> DSAR </li>
                <li class="breadcrumb-item"> <a routerLink="/privacy/dsar/workflows">Workflow</a> </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{workflowName? workflowName : 'Create Workflow'}}</li>
            </ol>
        </nav>
    </div>
</div>
<div>
    <div class="col-lg-6 col-xl-12 workflowcontainer">
        <div class="card">
            <div class="card-header  d-flex align-items-center justify-content-between pd-y-10">
                <span class="tx-12 tx-color-03 mg-b-0">
                    <h6 class="mg-b-0 txt-caps">{{workflowName? workflowName : 'Create workflow'}}<span
                            [class.workflowname]="workflowName !== ''">{{workflowStatus?workflowStatus:''}}</span></h6>
                </span>
                <div class="d-flex">
                    <button class="btn btn-xs btn-primary d-flex align-items-center mg-r-5"
                        (click)="activateWorkflow(workflowStatus)">
                        <span class="d-none d-sm-inline">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            {{workflowStatus == 'active' ? 'Edit' : 'Activate'}}</span></button>
                    <button class="btn btn-xs btn-white d-flex align-items-center mg-r-5" type="submit"
                        (click)="saveWorkflow()">
                        <span class="d-none d-sm-inline">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Save</span></button>
                </div>
            </div>

            <div class="card-body">
                <div class="wrapper">
                    <div *ngIf="workflowStages.length === 0" class="m-2">No data found</div>
                    <ng-container *ngIf="workflowStages?.length > 0">
                        <app-customtabs [flowStatus]="workflowStatus" [inputData]="workflowStages" [currentTab]="order"
                            (currentStageEvent)="clickOnWorkflowStages($event)">
                        </app-customtabs>
                    </ng-container>
                    <div class="col-sm-6 mb-3" *ngIf="workflowStages?.length !== 0">
                        <form [formGroup]="quillEditorGuidanceText">
                            <label class="tx-10 tx-uppercase tx-medium"> <span class="red">*</span>
                                Stage</label>
                            <input type="text" formControlName="stage_title" (keyup)="update($event)"
                                class="form-control mb-1" [class.disabled]="isControlDisabled"
                                [ngClass]="{ 'is-invalid': submitted && cwf.stage_title.errors }" required />
                            <div *ngIf="submitted && cwf.stage_title.errors" class="invalid-feedback">
                                <div *ngIf="cwf.stage_title.errors.required">Stage is required</div>
                            </div>
                            <label class="tx-10 tx-uppercase tx-medium"> <span class="red">*</span>
                                Guidance Text</label>
                            <quill-editor formControlName="guidancetext" [modules]="quillConfig"
                                [class.disabled]="isControlDisabled" [styles]="{height: '200px'}"
                                [ngClass]="{ 'is-invalid': submitted && cwf.guidancetext.errors }" required>
                            </quill-editor>
                            <div *ngIf="submitted && cwf.guidancetext.errors" class="invalid-feedback">
                                <div *ngIf="cwf.guidancetext.errors.required">Guidance text is required</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-5 mr-0 float-right flotingdiv">
<alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" [dismissible]="dismissible" (onClosed)="onClosed(alert)">{{  alertMsg}}</alert>
</div>