.step-number {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    color: #8392a5;
    border: 2px solid #8392a5;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.shadowdiv > ul > li.nav-item > a.nav-link {
    padding: 10px 0px;
    margin: 0 0px;
    // border: 0;
    // width: 200px;
    background-color: transparent;
}

.shadowdiv > ul.nav-tabs {
    margin: 0;
    padding: 0;
}

.nav-tabs .nav-link {
    border: 0;
}

.nav-tabs > li {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.nav-tabs .nav-item + .nav-item {
    margin: 0;
    // padding: 0 25px !important;
}

.nav-tabs .nav-link.active {
    border:0;
    border-bottom: 2px solid;
    box-sizing: content-box;
}

.activitytab .nav-tabs > li {
    width: auto;
}

li.nav-item {
    margin: 0;
}
// .shadowdiv > ul > li + li:before {
//     background-image: url(../../../../assets/imgs/next.png) no-repeat;
//     display: inline-block;
//     vertical-align: middle;
//     margin: 0 30px;
//  }

.nav-link.active > span.step-number {
    background-color: #0168fa;
    border: 2px solid #0168fa;
    color:#fff;
}

.shadowdiv > ul > li.nav-item::after{
     display: inline-block;
     content: '\2192';
     font-size: 33px;
     margin: 5px 20px;
     line-height: 33px;
     color: #ccc;
    // background: url(../../../../assets/imgs/right.png) no-repeat 0px 55%  !important;   
 }

 .shadowdiv > ul > li.nav-item:last-child:after{
    content: '';
 }

 ul.nav-tabs > li > div > a > span {
     text-transform: capitalize;
 }

 .previousTabcolor {
    //  color: green;
    //  background-color: green;
    background-color: green;
    color:green;
     align-items:inherit;
     display: flex;
 }

 .previousTabcolor > span.step-number {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    color: #8392a5;
    
 }

 .completedStage {
    // background-color: green;
    color: #fff;
    font-weight: 500;
     align-items:inherit;
     display: flex;
 }

 .completedStage > a {
    color: #3968fa !important;
    display: inline-flex;
    padding: 0 10px;
    margin: 10px 0;
 }

 .completedStage a span.step-number {
     background-color: #3968fa;
     color: #fff;
     border: 0;
 }

 .completedStage a span.step-number.current {
    background-color: #0168fa;
    color: #fff;
 }

 .completedStage > .active {
     background-color: green;
 }

 .previousStage {
    background-color: #fff;
 }

 
 .previousStage > a {
    color: green !important;
    display: inline-flex;
    padding: 0 10px;
    margin: 10px 0;
    line-height: 30px;
 }

 .previousStage a span.step-number {
     background-color: green;
     color: #fff;
 }

 .previousStage a span.step-number.current {
    background-color: blue !important;
 }

 .previousStage > .active {
     background-color: green;
 }

 .verify-request-content > ul.nav-tabs > li.nav-item > a.nav-link.active {
     border-bottom: 1px solid #0168fa;
 }

 .verify-request-content > ul.nav-tabs > li.nav-item > a.nav-link {
    // border-bottom: 2px solid rgba(72, 94, 144, 0.16);
    background-color: transparent;
 }

 .verify-request-content > ul.nav-tabs {
    // border-bottom: 2px solid rgba(72, 94, 144, 0.16);
 }
 
 .customdata {
    display: inline-block;
    float: left;
    margin: 0 0 10px 0;
    width: 17%;
 }

 .divwrapper {
    overflow: hidden;
    padding: 10px;
    margin: 0 -10px;
    border-top: 1px solid #ccc;
 }

 .customdata label {
     font-size: 10px;
     margin: 0;
     color: #8392a5;
     font-weight: normal;
     text-transform: uppercase;
 }

 .active {
    color:blue;
 }

//  ul.nav-tabs > li > div > a span  {
//     border: 2px solid #8392a5;
//     border-radius: 30px;
//     padding: 3px 10px;
//     color: #8392a5;
//     align-items: center;
//     justify-content: flex-start;
//     float: left;

//  }

ul.nav-tabs > li > div > a {
    color: #596882;
    font-weight: 500;
    display: inline-flex;
    padding: 0 10px;
    margin: 10px 0;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
}

ul.nav-tabs > li > div > a::after{
    display: inline-block;
    content: '\2192';
    font-size: 33px;
    margin: 0px 10px;
    line-height: 33px;
    font-weight: normal;
    color: #ccc;
   // background: url(../../../../assets/imgs/right.png) no-repeat 0px 55%  !important;   
}

ul.nav-tabs > li:last-child > div > a::after {
    content: '' !important;
}

 
 .current {
    //  background-color: #0168fa;
     border: 2px solid #0168fa;
     color: #596882;
     background-color:#0168fa;
 }

 .currentText {
     color: #0168fa;
     text-transform: capitalize;
 }

 .ql-editor {
     padding: 5px !important;
 }

 .activity {
     margin: 0;
     padding: 0;
 }

 .activity ul {
     margin: 0;
     padding: 0;
 }

 .activity ul li {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
 }

 .activitystage {
    border: 1px solid #bfbfbf;
    border-radius: 30px;
    padding: 2px 10px;
    background: #e7f3ff;
    height: auto;
    width: auto;
    align-items: center;
 }

 .activity-log {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    width: 100%;
    align-items: baseline;
    justify-items: baseline;
    padding: 10px 10px 0 10px;
    background: #f8f9fc;
 }

 .activity-log p {
    margin: 0; 
    width: 50%;
 }
 

 .userfeedback {    
    margin-left: 0px;
    font-style: italic;
    font-size: 13px;
 }

 ::ng-deep .userfeedback  p {
    margin: 0;
 } 

 .userfeedback > p.ql-align-justify {
    margin: 0 !important;
 }

.chat-stage-wrapper {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: space-between;
    padding: 5px 10px;
}

 .margin-0 {
     margin: 0;
 }

 .feedback {
     margin: 0;
     width: 100% !important;
 }

 .stagediv{

 }
 
 .stagediv ul {
     margin: 0;
     padding: 0;
 }

 .stagediv ul.nav-tabs {
     border: 0;
     display: flex;
 }

.flotingdiv{
	position: fixed;
	bottom: 0;
	top: 84%;
	right:0;
	overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

.chat-group-divider {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #8392a5;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.chat-group-divider::before, .chat-group-divider::after {
    content: '';
    display: block;
    flex: 1;
    height: 1px;
    background-color: #e5e9f2;
}

.media .media-body {
    margin-left: 20px;
}

.card.mt-2.activitytab ul li a {
    background: transparent;
}

.userfeedback p {
    padding-right: 20px;
}

.card.mt-2.activitytab ul.nav-tabs.nav {
    // margin-bottom: -10px;
}

.extenddays .dropdown-menu  {
    margin: 0 !important;
    padding: 0 !important;
}

.dropdown-menu ul {
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.aligncenter  {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 3px 0;
}

.dropdown-menu > ul > li > .dropdown-item:hover {
    background: #ccc !important;
}

ul.ngx-pagination {
   margin: 10px;
   float: right;
}

.btnSubtask {
    position: absolute;
    right: 10px;
    top: 5px;
}

.form-check-label .form-check-input {
    margin-top: 0 !important;
    width: 16px;
    height: 16px;
}

.form-check {
    padding-left: 15px !important;
}

.form-check-label span {
    margin-left: 5px;
    text-transform: uppercase;
}

.form-check .is-invalid {
    color: #f00;
    font-size: 11px;
    padding-left: 5px !important;
}
// .nav-item + .nav-item::before {
//     display: block;
// }

// .nav-item {
//         content: '\f287';
//         font-family: 'Ionicons';
//         font-size: 16px;
//         font-weight: 400;
//         color: #c0ccda;
//         position: absolute;
//         top: 50%;
//         left: -26px;
//         line-height: 0;
//         display: none;
// }

.status-text {
    text-transform: capitalize;
}

.tasklink {
    font-weight: bold;
    text-transform: capitalize;
}

.tasklink a{
    color: #3968fa;
    cursor: pointer;
    text-decoration: none;
    margin-left: 3px;
}

.tasklink a:hover {
    text-decoration: underline;
}

.color-red {
    color: #f00;;
}

.cursor {
    cursor: pointer;
}

.divflex-column {
    display: flex;
    flex-direction: column;;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
  }
  .file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height: 40px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }
  .file-upload-wrapper:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
  }
  .file-upload-wrapper:hover:before {
    background: #3d8c63;
  }
  .file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
  
  .downloadFile {
      position: absolute;
      right: 0px;
  }

  .feather-file {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .lightgray {
    color: #8392a5;
  }

  .custom-file-input {
    color: transparent;
    opacity: 0;
    margin: 8px 0px;
    cursor: pointer;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    color: #fff;
    display: inline-block;
    background: #0168fa;
    border: 1px solid #0062cc;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;    
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: #014ebb;
    background-color: #0153c7;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: #0168fa;
  }
  .email-attachment-wrapper {
    display: flex;
    float: right;
    align-items: flex-end;
    width: 400px;
  }
  .email-attachment-wrapper .input-group {
      margin: 0 10px;
  }

  .email-attachment-wrapper .input-group .custom-file .custom-file-label {
    height: 30px !important;
    border-radius: 0.35rem;
    border: 1px solid #3968fa !important;
  }

  .email-attachment-wrapper .input-group .custom-file .custom-file-label::after {
    background-color: #3968fa;
    height: 28px !important;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
  }

  .email-attachment-wrapper label {
    font-weight: bold;
  }

  ::ng-deep .input-group > .custom-file {
      overflow: hidden;
  }

  ::ng-deep .theme-green .bs-datepicker-head {
    background-color: #0168fa !important;
  }

  ::ng-deep .theme-green .bs-datepicker-body table td.week span {
    color: #0168fa !important;
  }
  
  .email-lbl {
    width: 110px;
    margin: 10px 0 10px 0px;
  }

  .show {
      display:inline-flex;
  }

  .hide {
      display: none;
  }

  .badge-danger {
      cursor: pointer;
      text-transform: capitalize;
      font-size: 11px;
  }

  .feather-tick {
    height: 16px;
    margin-right: 5px;
    width: 16px;
  }

  .customdata > label > .badge-success {
      display:inline-flex;
      text-transform: capitalize;
      align-items: center;
      padding: 0px 5px 0px 3px;
      border: 1px solid #58b85b;
  }

  .show > a:hover {
    color: #00f !important;
  }

  .divflex {
    display: flex;
    margin: 20px 0;
    position: relative;
}

.customtab {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0 0 0 45px;
    min-width: 1000px;
}

.customtab ul {
    margin: 0;
    padding: 0;
}

.customtab ul li {
    display: inline;
    margin: 0 3px;
}

.customtab ul li:last-child {
    margin-left: 0px !important;
}

.arrowbtn {
    height: 30px;
    background: none;
    font-size: 24px;
    border: 0;
    outline: none;
    margin: 2px 0 0 0;
    position: absolute;
}

.small-btn {
    border-radius: 30px;
    height: 26px;
    padding: 4px 0px;
    margin: 4px 0 0 20px;
    width: 26px;
}

.leftarrow {
    left:10px
}

.rightarrow {
    right: 0;
}

.word-wrap {
    white-space: normal;
}