<!--<div class="media align-items-stretch justify-content-center ht-100p">-->
<!--    <div class="col-lg-5">-->
<!--        <div class="pd-t-20 wd-100p">-->
<!--            <h4 class="tx-color-01 mg-b-5">Create New Account</h4>-->
<!--            <p class="tx-color-03 tx-16 mg-b-40">It's free to signup and only takes a minute.</p>-->
<!--            <form [formGroup]="regForm" (ngSubmit)="onSubmit()">-->
<!--                <div class="form-group">-->
<!--                    <label for="firstName">First Name</label>-->
<!--                    <input type="text" formControlName="firstName" class="form-control"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"-->
<!--                        placeholder="Enter your firstname" pattern="^[a-zA-Z ]{3,20}$" />-->
<!--                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback" >-->
<!--                        <div *ngIf="f.firstName.errors.required">First Name is required</div>-->
<!--                        <div *ngIf="f.firstName.errors.pattern">First Name Allow Only Alphabets(min 3 & max 20 Char)</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="lastName">Last Name</label>-->
<!--                    <input type="text" formControlName="lastName" class="form-control"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"-->
<!--                        placeholder="Enter your lastname" pattern="^[a-zA-Z\s]{3,20}$" />-->
<!--                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">-->
<!--                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>-->
<!--                        <div *ngIf="f.lastName.errors.pattern">Last Name allow only Alphabets(min 3 & max 20 Char)</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="companyname">Company or Agency</label>-->
<!--                    <input type="text" formControlName="companyname" class="form-control"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }"-->
<!--                        placeholder="Enter your companyname" (ngModelChange)="clearError()">-->
<!--                    <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">-->
<!--                        <div *ngIf="f.companyname.errors.required">Companyname is required</div>-->
<!--                        <div *ngIf="f.companyname.errors.pattern">Companyname allow only Alphanumeric</div>-->
<!--                    </div>-->

<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="email">Email Address</label>-->
<!--                    <input type="email" formControlName="email" class="form-control"-->
<!--                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"-->
<!--                        placeholder="Enter your email address"-->
<!--                        pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$" (ngModelChange)="clearError()"/>-->
<!--                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">-->
<!--                        <div *ngIf="f.email.errors.required">Email address is required</div>-->
<!--                        <div *ngIf="f.email.errors.pattern">Please enter a valid email</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                        <label for="password">Password</label>-->
<!--                        <input toggle type="password" formControlName="password" class="form-control"-->
<!--                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"-->
<!--                            placeholder="Enter your password"-->
<!--                            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>-->
<!--                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
<!--                            <div *ngIf="f.password.errors.required">Password is required</div>-->
<!--                            <div *ngIf="f.password.errors.pattern">Enter Valid Password (Ex: Aa@2aa) and minimum 6 charcters </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="password">Confirm Password</label>-->
<!--                        <input toggle type="password" formControlName="confirmpassword" class="form-control"-->
<!--                            [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"-->
<!--                            placeholder="Enter your Confirm password"-->
<!--                            pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>-->
<!--                        <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">-->
<!--                            <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>-->
<!--                            <div *ngIf="f.confirmpassword.errors.pattern">Enter Valid Confirm Password (Ex: Aa@2aa) and minimum 6 charcters </div>-->
<!--                            <div *ngIf="f.confirmpassword.errors.mustMatch">The password and confirmation password do not match</div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                <div *ngIf="show" style="color: blue;" class="tx-13"><p>Account Created Successfully...!</p></div>-->
<!--                <div  style="color:red;"><p >{{errorMsg}}</p></div>-->

<!--            <div class="form-group form-check">-->
<!--                <input type="checkbox" formControlName="acceptPolicy" id="acceptPolicy" class="form-check-input" />-->
<!--                <label for="acceptPolicy" class="form-check-label" [ngClass]="{ 'is-invalid': submitted && f.acceptPolicy.errors }">By clicking <strong>Create an account</strong> below, you agree to our <a href="https://adzapier.com/terms-of-service" target="_blank">terms of service</a> and <a href="https://adzapier.com/privacy-policy" target="_blank">privacy statement</a>.</label>-->
<!--                <div *ngIf="submitted && f.acceptPolicy.errors" class="invalid-feedback">Accept terms of service & privacy statement is required</div>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--                <button class="btn btn-primary mr-2" [disabled]="loading" type="submit">-->
<!--                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Create Account-->
<!--                </button>-->
<!--                &lt;!&ndash; <button class="btn btn-primary mr-2" type="reset" (click)="onReset()">Reset</button> &ndash;&gt;-->
<!--            </div>-->
<!--        </form>-->
<!--            <div class="divider-text">or</div>-->
<!--&lt;!&ndash;          <button class="btn btn-outline-facebook btn-block">Sign Up With Facebook</button>&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-outline-twitter btn-block">Sign Up With Twitter</button>&ndash;&gt;-->
<!--         <div class="tx-13 mg-t-20 tx-center">Already have an account?-->
<!--              <a routerLink="/login" class="btn btn-link">Sign In</a>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>&lt;!&ndash; sign-wrapper &ndash;&gt;-->
<!--    <div class="col-lg-7">-->
<!--            <img src="assets/imgs/signup.jpg" class="img-fluid" alt="">-->
<!--    </div>&lt;!&ndash; media-body &ndash;&gt;-->
<!--</div>&lt;!&ndash; media &ndash;&gt;-->
<!--<div class="float-right flotingdiv"> &lt;!&ndash;dismissOnTimeout="5000"&ndash;&gt;-->
<!--    <alert *ngIf="isOpen" [type]="alertType"  [dismissible]="dismissible"-->
<!--        (onClosed)="onClosed(alertMsg)">{{alertMsg}}</alert>-->
<!--</div>-->






<div class="container-fluid login-background ">
  <div class="row justify-content-center">
    <div class="">
      <div class="logo-group">
        <img src="assets/imgs/az-logo.png" class="az-logo mb-2" alt="adzapier logo" />
        <h4 class="tx-white">Trusted Data Privacy Solutions</h4>
      </div>
      <div class="inputs-key login-form bg-white">
                    <h4 class="tx-color-01 mg-b-5">Create New Account</h4>
                    <p class="tx-color-03 tx-16 mg-b-40">It's free to signup and only takes a minute.</p>
                    <form [formGroup]="regForm" #registerForm id="registerForm"  (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName" formControlName="firstName" class="form-control input-lg"
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                                placeholder="Enter your firstname" pattern="^[a-zA-Z ]{3,20}$" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback" >
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                <div *ngIf="f.firstName.errors.pattern">First Name Allow Only Alphabets(min 3 & max 20 Char)</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control input-lg"
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                placeholder="Enter your lastname" pattern="^[a-zA-Z\s]{3,20}$" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                <div *ngIf="f.lastName.errors.pattern">Last Name allow only Alphabets(min 3 & max 20 Char)</div>
                            </div>
                        </div>
                      </div>

                        <div class="form-group">
                            <label for="companyname">Company or Agency</label>
                            <input type="text" formControlName="companyname" class="form-control input-lg"
                                [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }"
                                placeholder="Enter your companyname" (ngModelChange)="clearError()">
                            <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
                                <div *ngIf="f.companyname.errors.required">Companyname is required</div>
                                <div *ngIf="f.companyname.errors.pattern">Companyname allow only Alphanumeric</div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" formControlName="email" class="form-control input-lg"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                placeholder="Enter your email address"
                                pattern="^\w+@[a-zA-Z_0-9]+?\.[a-zA-Z]{2,3}$" (ngModelChange)="clearError()"/>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email address is required</div>
                                <div *ngIf="f.email.errors.pattern">Please enter a valid email</div>
                            </div>
                        </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                                <label for="password">Password</label>
                                <input toggle type="password" name="password" formControlName="password" class="form-control input-lg"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                    placeholder="Enter your password"
                                    pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.pattern">Enter Valid Password (Ex: Aa@2aa) and minimum 6 charcters </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Confirm Password</label>
                                <input toggle type="password" formControlName="confirmpassword" class="form-control input-lg"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
                                    placeholder="Enter your Confirm password"
                                       name="confirmpassword"
                                    pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$"/>
                                <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmpassword.errors.pattern">Enter Valid Confirm Password (Ex: Aa@2aa) and minimum 6 charcters </div>
                                    <div *ngIf="f.confirmpassword.errors.mustMatch">The password and confirmation password do not match</div>
                                </div>
                            </div>
                      </div>

                        <div *ngIf="show" style="color: blue;" class="tx-13"><p>Account Created Successfully...!</p></div>
                        <div  style="color:red;"><p >{{errorMsg}}</p></div>

                    <div class="form-group form-check">
                        <input type="checkbox" formControlName="acceptPolicy" id="acceptPolicy" class="form-check-input" />
                        <label for="acceptPolicy" class="form-check-label" [ngClass]="{ 'is-invalid': submitted && f.acceptPolicy.errors }">By clicking <strong>Create an account</strong> below, you agree to our <a href="https://adzapier.com/terms-of-service" target="_blank">terms of service</a> and <a href="https://adzapier.com/privacy-policy" target="_blank">privacy statement</a>.</label>
                        <div *ngIf="submitted && f.acceptPolicy.errors" class="invalid-feedback">Accept terms of service & privacy statement is required</div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mr-2 register-btn" [disabled]="loading" type="submit">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 "></span> Create Account
                        </button>
<!--                         <button class="btn btn-primary mr-2" type="reset" (click)="onReset()">Reset</button> -->
                                  <div class="divider-text">or</div>
                      <!--          <button class="btn btn-outline-facebook btn-block">Sign Up With Facebook</button>-->
                      <!--            <button class="btn btn-outline-twitter btn-block">Sign Up With Twitter</button>-->
                               <div class="tx-18 mg-t-20 tx-center">Already have an account?
                                    <a routerLink="/login" class="btn btn-link font-weight-bold">Sign In</a>
                              </div>


                    </div>
                </form>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-5 mr-0 float-right flotingdiv" *ngIf="isOpen">
  <alert *ngIf="isOpen" [type]="alertType" [dismissible]="dismissible" (onClosed)="onClosed(alertMsg)">{{
    alertMsg}}
  </alert>
</div>
