/*
 * Dashforge Auth Pages (Signin, Signup, etc.)
 *
 * This style is use in auth pages.
 *
 */
 .content-auth {
    min-height: calc(100vh - 106px);
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .content-auth > .container {
      padding: 0; }
      @media (max-width: 1139px) {
        .content-auth > .container {
          max-width: none;
          padding: 0 20px; } }
      .content-auth > .container:first-child {
        flex: 1; }

  .content-auth-alt {
    min-height: calc(100vh - 106px);
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .content-auth-alt .container {
      padding: 0; }
      @media (max-width: 1139px) {
        .content-auth-alt .container {
          max-width: none; } }

  .sign-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px; }
    @media (min-width: 1200px) {
      .sign-wrapper {
        width: 340px; } }
    .sign-wrapper .form-group label {
      display: block;
      margin-bottom: 5px; }

.alert-success {
  background-color: #5cb85c;
 border-color: #4cae4c;
 color: #fff;
 padding: 12px 32px 12px 12px !important;
}

.alert-danger {
 color: #721c24;
 background-color: #f8d7da;
 border-color: #f5c6cb;
}

.flotingdiv {
	position: fixed;
	bottom: 0;
	top: 84%;
	right:0;
	overflow-x: hidden;
  overflow-y: auto;
}

::ng-deep .alert {
  padding: 12px 35px 12px 12px;
}













.login-background {
  background-image: linear-gradient(#042b60, #004097);
  height: 105%;
  margin: 0px;
  padding-bottom: 200px;
  position: fixed;
  overflow: scroll;
}
.login-form{
  width: 700px;
  padding: 55px;
}
.input-lg {
  height: 55px;
  font-size: 16px;
  font-weight: 600;
}
.logo-group{
text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.az-logo{
  height: 65px;
}
.register-btn {
  background-color: #243553;
  font-size: 20px;
  width: 335px;
  height: 50px;
  border: none;
}
.forgot-password{
  float: right;
  margin-right: 15px;
  margin-top: 11px;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 600;
}

.forgot-password a{
  color: #555
}
