.back-to-list-btn {
  border-bottom: 2px solid;
  padding-bottom: 7px;
  cursor: pointer;
}
.spinner-border {
  width: 18px;
  height: 18px;
}
.table-list{
  max-height: 400px;
  overflow: scroll;
}



.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-success {
  background-color: #10b759;
  border-color: #10b759;
  color: #fff;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.flotingdiv {
  position: fixed;
  bottom: 0;
  top: 84%;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.cursorpointer {
  cursor: pointer;
}

.colorblue {
  color: #00f;
}

.hide {
  display: none;
}


//new
.text-over{
  white-space: nowrap;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}

