<div class="" *ngIf="step === 1">
  <p (click)="onConnectionListPage()">Go Back</p>
  <h5 class="mt-2 mb-3">Choose Table</h5>
  <div class="list-group table-list" *ngIf="tableList.length > 0; else noTableRecord">
    <button type="button" (click)="onSelectTable(table[tableListKey])" *ngFor="let table of tableList"
            class="list-group-item list-group-item-action mb-0">{{table[tableListKey]}}</button>
  </div>
  <ng-template #noTableRecord>
    <div class="alert alert-info text-center">No Table Found</div>
  </ng-template>
</div>




<div class="" *ngIf="step === 2">

  <div class="card">
    <p (click)="step = 1">Go Back</p>
    <p-table [value]="tableColumnsList"   [virtualScroll]="true" [lazy]="true"   [scrollable]="true" scrollHeight="300px"  styleClass="p-datatable-sm" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        Select Columns
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Column</th>
          <th>Risk</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-columnObj>
        <tr>
          <td>  <input class="form-check-input" (change)="onSelectField($event, columnObj[tableColumnsListKey])" [checked]="sqlSelectField.includes(columnObj[tableColumnsListKey])" type="checkbox" ></td>
          <td>{{columnObj[tableColumnsListKey]}}</td>
          <td><span class="badge badge-primary">Normal</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="mt-4">
    <h4 class="mb-2">SQL WHERE Clause</h4>
    <query-builder [(ngModel)]='query' [config]='config' ></query-builder>
  </div>
    <div class="row mt-4 margin-auto">
      <div class="text-center margin-auto">
        <button type="button" class="btn btn-secondary mr-3">Cancel</button>
        <button type="button" (click)="onSaveSqlBuilder()" class="btn btn-primary">Save</button>
      </div>

    </div>
</div>


<div class="col-sm-5 mr-0 float-right flotingdiv" [ngClass]="{'hide':!isOpen}">
  <alert *ngIf="isOpen" [type]="alertType" dismissOnTimeout="5000" [dismissible]="dismissible"
  ><span [innerHTML]="alertMsg"></span></alert>
</div>
